@charset "UTF-8";
@font-face {
  font-family: 'paheko';
  src: url('../font/paheko.eot?71335949');
  src: url('../font/paheko.eot?71335949#iefix') format('embedded-opentype'),
       url('../font/paheko.woff2?71335949') format('woff2'),
       url('../font/paheko.woff?71335949') format('woff'),
       url('../font/paheko.ttf?71335949') format('truetype'),
       url('../font/paheko.svg?71335949#paheko') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'paheko';
    src: url('../font/paheko.svg?71335949#paheko') format('svg');
  }
}
*/
[class^="icn-"]:before, [class*=" icn-"]:before {
  font-family: "paheko";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icn-list-ol:before { content: '\31'; } /* '1' */
.icn-code:before { content: '\3c'; } /* '<' */
.icn-bold:before { content: '\42'; } /* 'B' */
.icn-header:before { content: '\48'; } /* 'H' */
.icn-italic:before { content: '\49'; } /* 'I' */
.icn-markdown:before { content: '\4d'; } /* 'M' */
.icn-pdf:before { content: '\50'; } /* 'P' */
.icn-skriv:before { content: '\53'; } /* 'S' */
.icn-text:before { content: '\54'; } /* 'T' */
.icn-paragraph:before { content: '\a7'; } /* '§' */
.icn-quote:before { content: '\ab'; } /* '«' */
.icn-list-ul:before { content: '\2022'; } /* '•' */
.icn-euro:before { content: '\20ac'; } /* '€' */
.icn-left:before { content: '\2190'; } /* '←' */
.icn-up:before { content: '\2191'; } /* '↑' */
.icn-right:before { content: '\2192'; } /* '→' */
.icn-down:before { content: '\2193'; } /* '↓' */
.icn-import:before { content: '\21b6'; } /* '↶' */
.icn-export:before { content: '\21b7'; } /* '↷' */
.icn-reset:before { content: '\21ba'; } /* '↺' */
.icn-upload:before { content: '\21d1'; } /* '⇑' */
.icn-download:before { content: '\21d3'; } /* '⇓' */
.icn-login:before { content: '\21e5'; } /* '⇥' */
.icn-home:before { content: '\2302'; } /* '⌂' */
.icn-history:before { content: '\231a'; } /* '⌚' */
.icn-print:before { content: '\2399'; } /* '⎙' */
.icn-col:before { content: '\259a'; } /* '▚' */
.icn-video:before { content: '\25b6'; } /* '▶' */
.icn-table:before { content: '\25eb'; } /* '◫' */
.icn-radio-unchecked:before { content: '\25ef'; } /* '◯' */
.icn-star:before { content: '\2605'; } /* '★' */
.icn-uncheck:before { content: '\2610'; } /* '☐' */
.icn-check:before { content: '\2611'; } /* '☑' */
.icn-settings:before { content: '\2638'; } /* '☸' */
.icn-alert:before { content: '\26a0'; } /* '⚠' */
.icn-mail:before { content: '\2709'; } /* '✉' */
.icn-edit:before { content: '\270e'; } /* '✎' */
.icn-delete:before { content: '\2718'; } /* '✘' */
.icn-help:before { content: '\2753'; } /* '❓' */
.icn-plus:before { content: '\2795'; } /* '➕' */
.icn-minus:before { content: '\2796'; } /* '➖' */
.icn-logout:before { content: '\291d'; } /* '⤝' */
.icn-eye-off:before { content: '\292b'; } /* '⤫' */
.icn-radio-checked:before { content: '\2b24'; } /* '⬤' */
.icn-menu:before { content: '𝍢'; } /* '\1d362' */
.icn-globe:before { content: '🌍'; } /* '\1f30d' */
.icn-eye:before { content: '👁'; } /* '\1f441' */
.icn-user:before { content: '👤'; } /* '\1f464' */
.icn-users:before { content: '👪'; } /* '\1f46a' */
.icn-calendar:before { content: '📅'; } /* '\1f4c5' */
.icn-attach:before { content: '📎'; } /* '\1f4ce' */
.icn-search:before { content: '🔍'; } /* '\1f50d' */
.icn-lock:before { content: '🔒'; } /* '\1f512' */
.icn-unlock:before { content: '🔓'; } /* '\1f513' */
.icn-image:before { content: '🖻'; } /* '\1f5bb' */
.icn-gallery:before { content: '🖼'; } /* '\1f5bc' */
.icn-folder:before { content: '🗀'; } /* '\1f5c0' */
.icn-document:before { content: '🗅'; } /* '\1f5c5' */
.icn-trash:before { content: '🗑'; } /* '\1f5d1' */
.icn-reload:before { content: '🗘'; } /* '\1f5d8' */
.icn-del-col:before { content: '🮔'; } /* '\1fb94' */
