{{if $_GET.print == 'pdf'}}
	{{:http type="pdf" download="%s.pdf"|args:$title}}
{{/if}}
<!DOCTYPE html>
<html>
<head>
	<title>{{$title}}</title>
	<style type="text/css">
	{{:include file="./form.css" page_size=$page_size}}
	</style>
</head>

<body>

{{if !$_GET.print}}
<div id="buttons">
	{{:linkbutton href="%s&print=yes"|args:$request_url label="Imprimer" shape="print"}}
	{{:linkbutton href="%s&print=pdf"|args:$request_url label="Télécharger en PDF" shape="download"}}
</div>
{{/if}}

<div id="page">

<header class="organization">
	{{if $config.files.logo}}
	<figure class="logo">
		<img src="{{$config.files.logo}}&150px" />
	</figure>
	{{/if}}
	<section>
		<h1>{{$config.org_name}}</h1>
		{{if $config.org_infos}}<h2>{{$config.org_infos|escape|nl2br}}</h2>{{/if}}
		<h3>{{$config.org_address}}
			{{if $config.org_phone}} — {{$config.org_phone}}{{/if}}
			{{if $config.org_email}} — {{$config.org_email}}{{/if}}
			{{if $config.org_web}} — {{$config.org_web}}{{/if}}</h3>
	</section>
</header>

<main>
