/*
    color1 : #20787a rgb(32, 120, 122)
    colro2 : #85b9ba rgb(133, 185, 186)
*/

/* Light colors */
:root {
    --gBgColor: 255, 255, 255;
    --gTextColor: 0, 0, 0;
    --gBorderColor: #666;
    --gLightBorderColor: #ccc;
    --gLightBackgroundColor: #eee;
    --gLinkColor: blue;
    --gHoverLinkColor: 127, 0, 0;

    --gMainColor: 32, 120, 122;
    --gSecondColor: 133, 185, 186;
    --gBgImage: url("../bg.png");
}

/* Dark colors */
html.dark {
    --gBgColor: 30, 30, 30;
    --gTextColor: 225, 225, 225;
    --gBorderColor: #999;
    --gLightBorderColor: #333;
    --gLightBackgroundColor: #222;
    --gLinkColor: #99f;
    --gHoverLinkColor: 250, 127, 127;
}

html.dark .header .menu, html.dark .header .menu a, html.dark .header .menu li.current h3 span[data-icon]::before, html.dark nav.tabs .current a {
    color: rgb(var(--gTextColor)) !important;
    text-shadow: 0px 0px 5px rgb(var(--gBgColor)) !important;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 100%;
    color: rgb(var(--gTextColor));
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
    padding-bottom: 1em;
    background: rgb(var(--gBgColor)) var(--gBgImage) no-repeat 0px 0px fixed;
}

main {
    margin: 0px 1em 1em 180px;
    position: relative;
}

main img {
    max-width: 100%;
}

a {
    color: var(--gLinkColor);
}

a:hover {
    color: rgb(var(--gHoverLinkColor));
}

.header h1 {
    color: rgb(var(--gMainColor));
    margin-left: 180px;
    margin-bottom: 0.4em;
}

.header .menu .logo {
    padding: 0;
    min-height: 100px;
}

.header .menu .logo img {
    transition: opacity .2s;
}

.header .menu .logo a {
    padding: 10px;
    padding-bottom: 0;
    display: inline-block;
    text-align: center;
    color: inherit;
    width: 150px;
}

.header .menu {
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1000;
    width: 170px;
    top: 0;
    bottom: 0;
    background: rgb(var(--gMainColor)) var(--gBgImage) no-repeat 0px 0px;
}

.header .menu::-webkit-scrollbar {
    width: 8px;
    background: rgba(var(--gBgColor), 0.25);
    box-shadow: inset 0px 0px 10px #666;
}

.header .menu::-webkit-scrollbar-thumb {
    background: rgba(var(--gBgColor), 0.5);
    border-radius: 10px;
}

.header .menu h3 {
    font-weight: bold;
    font-size: inherit;
}

.header .menu a {
    color: #fff;
    color: rgb(var(--gBgColor));
    font-weight: bold;
    padding: 0.4em 0.4em 0.4em 1em;
    display: block;
    text-decoration: none;
    transition: background .3s;
}

.header .menu a:hover {
    text-decoration: underline;
    background: rgba(var(--gSecondColor), 0.5);
}

.header .menu li li a {
    font-size: 0.8em;
    padding-left: 2em;
}

.header .menu li.current h3 a, .header .menu ul ul li.current a {
    background: rgb(var(--gBgColor));
    color: rgb(var(--gMainColor));
}

.header .menu h3 a {
    position: relative;
}

.header .menu h3 span[data-icon]::before {
    position: absolute;
    right: .4rem;
    display: block;
    text-decoration: none;
    text-shadow: none;
    margin: 0;
    top: .4rem;
    font-size: 20pt;
    color: rgba(var(--gBgColor), .5);
    font-weight: normal;
}

.header .menu li.current h3 span[data-icon]::before {
    color: rgba(var(--gMainColor));
}

body.public, body.raw {
    background: none;
}

body.raw main {
    margin: 0;
}

body.preview {
    padding: .8rem;
    background: rgb(var(--gBgColor));
}

body.public main {
    max-width: 650px;
    margin: 2em auto;
}

body.public main legend {
    font-size: 1.3em;
}

body.public main dl {
    padding: 1em 0;
}

body.public main p.block.error, body.public main p.block.alert {
    margin: 2em 0;
    font-size: 1.2em;
}
body.public, body.raw {
    background: none;
}

body.public .header .menu, body.raw .header .menu {
    display: none;
}

body.preview {
    color: rgb(var(--gTextColor));
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
    background: rgb(var(--gBgColor));
    padding: 1em;
}

body.raw main {
    margin: 0;
}

body.public main {
    max-width: 650px;
    margin: 2em auto;
}

body.public main legend {
    font-size: 1.3em;
}

body.public main dl {
    padding: 1em 0;
}

body.public main p.block.error, body.public main p.block.alert {
    margin: 2em 0;
    font-size: 1.2em;
}

.print-only {
    display: none;
}

header.summary {
    margin-bottom: 1em;
    border-bottom: 2px solid #999;
    text-align: center;
}

#sticky-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #ffd;
    border-bottom: 2px solid #990;
    padding: 5px;
    z-index: 10000;
    text-align: center;
}

body.sticky, body.sticky .header .menu {
    padding-top: 2em;
}