/** Context-specific tabs */
nav.tabs {
    margin: .7em 0;
}

nav.tabs ul {
    margin-bottom: 1em;
    list-style-type: none;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

nav.tabs .sub {
    margin: 0;
    margin-bottom: 1em;
    margin-top: -1em;
    margin-left: 2.5em;
    border-left: 3px solid rgba(var(--gSecondColor), .5);
}

nav.tabs .sub:nth-of-type(3), nav.tabs:nth-of-type(3) .sub {
    margin-left: 3em;
}


nav.tabs .title {
    padding: .3em .7em;
    margin-top: .5em;
    border-bottom: 3px solid rgba(var(--gSecondColor), .5);
    display: inline-block;
    vertical-align: bottom;
}

nav.tabs li a {
    margin-top: .5em;
    display: inline-block;
    background: rgba(var(--gSecondColor), .2);
    border: 1px solid rgba(var(--gMainColor), .3);
    border-bottom-width: 3px;
    border-bottom-color: rgba(var(--gSecondColor), .5);
    padding: .3em .7em;
    color: rgb(var(--gTextColor));
    text-decoration: none;
    transition: background-color .2s, color .2s;
}

nav.tabs li:first-child::before, nav.tabs li:last-child::after {
    content: " ";
    display: inline-block;
    width: 2em;
    border-bottom: 3px solid rgba(var(--gSecondColor), .5);
    vertical-align: bottom;
}

nav.tabs li.title:first-child::before {
    display: none;
}

nav.tabs li:nth-child(n+2) a {
    margin-left: -1px;
}

nav.tabs .current a {
    background: rgb(var(--gMainColor));
    font-weight: bold;
    font-size: 1.1em;
    border-bottom-color: rgb(var(--gMainColor));
    color: rgb(var(--gBgColor));
}

nav.tabs li a:hover {
    color: rgb(var(--gHoverLinkColor));
    border-bottom-color: rgb(var(--gHoverLinkColor));
    background: rgba(var(--gMainColor), .2);
}

nav.tabs aside {
    float: right;
    max-width: 50%;
    text-align: right;
    clear: right;
}

.menu-btn > b {
    font-weight: normal;
}

.menu-btn {
    display: inline-block;
    position: relative;
}

.menu-btn > span {
    display: none;
    position: absolute;
    left: -.1em;
    top: 2em;
    z-index: 1000;
}

.menu-btn > span > span {
    display: flex;
    flex-direction: column;
    background: rgb(var(--gBgColor));
    border-radius: .3em;
    padding: .4em;
    box-shadow: 0px 0px 10px .1rem rgb(var(--gSecondColor));
    border-top: 2px solid rgb(var(--gSecondColor));
    text-align: left;
}

.menu-btn:hover b, .menu-btn:active b {
    background-color: rgba(var(--gSecondColor), .7);
}

.menu-btn:hover > span, .menu-btn:active > span {
    display: block;
}

.menu-btn button, .menu-btn .icn-btn {
    white-space: nowrap;
}

.menu-btn-right > span {
    right: -.1em;
    left: unset !important;
}

main .menu-btn button {
    text-align: left;
}
nav.home ul {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

nav.home ul li {
    display: flex;
    width: 15em;
    margin: .5em;
    height: auto;
}

nav.home ul li a {
    display: block;
    width: calc(100% - 1em);
    white-space: normal;
    margin: 0;
    padding: .5em;
    text-align: center;
    position: relative;
    border: none;
    text-decoration: none;
}

nav.home ul li a::before, nav.home ul li a .icon {
    display: flex;
    font-size: 48px;
    width: 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    border-radius: .1em;
    margin: 0 auto 0 auto;
    padding: .1em;
    background: rgba(var(--gSecondColor), .5);
    margin-bottom: 5px;
    text-shadow: none;
}

