table.list {
    margin-bottom: 1em;
    width: 100%;
}

table.list caption {
    text-align: center;
    font-size: 1.2em;
}

table.list tbody td.desc {
    font-size: .9em;
    color: var(--gBorderColor);
}

table.list.auto {
    width: auto;
}

table.list table {
    margin: 0;
}

table.list th {
    text-align: left;
    font-weight: bold;
}

table.list thead {
    background: rgba(var(--gSecondColor), 0.5);
}

table.list tfoot tr {
    background: rgba(var(--gSecondColor), 0.2);
}

table.list th, table.list td {
    padding: 0.2em 0.5em;
}

table.list tr {
    border: 1px solid rgba(var(--gSecondColor), 0.5);
    transition: background .2s
}

table.list tr:nth-child(even), table.multi tbody:nth-child(even) {
    background: rgba(var(--gSecondColor), 0.2);
}

table.multi tr {
    background: inherit !important;
}

table.list tr.checked {
    color: #633;
    background: #ffc;
}

table.list .error {
    color: red;
    font-weight: bold;
}

table.list .alert {
    color: darkred;
    font-weight: bold;
}

table.list .confirm {
    color: darkgreen;
}

table.list .num {
    text-align: center;
}

table.list .check {
    width: 1%;
}

table.search th {
    background: rgba(var(--gSecondColor), 0.5);
}

table.list tr.disabled {
    color: var(--gBorderColor);
}

table.list tr:nth-child(even).disabled {
    background: var(--gLightBackgroundColor);
}

.userOrder .cur {
    background: rgba(var(--gSecondColor), 1.0);
    color: rgb(var(--gBgColor));
}

.userOrder a {
    text-decoration: none;
    display: block;
    color: inherit;
    padding: .2em;
    border-radius: .5em;
}

.userOrder a:hover {
    background: rgba(var(--gBgColor), 0.5);
}

table.list .userOrder td, table.list .userOrder th {
    padding: .2em;
}

table.list .userOrder .check {
    padding-left: .5em;
}

.userOrder .icn {
    display: inline-block;
    color: rgb(var(--gMainColor));
    font-size: 1.5em;
    line-height: .2em;
    width: 1em;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
}

thead .cur .icn {
    color: rgb(var(--gBgColor));
}

table.list .actions {
    text-align: right;
}

table.list .separator {
    border-left: 2px dashed #999;
}

table.list .icon {
    width: 1.5em;
    color: rgba(var(--gTextColor), 0.3);
}

table.list .folder .icon {
    color: rgba(var(--gTextColor), 0.5);
}