/** Accounting specifics */
.money {
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";
}

.crossed .money {
    text-decoration: line-through;
}

span.money {
    font-weight: inherit;
    white-space: pre;
}

.transaction-lines td.money {
    text-align: left;
}

.transaction-lines td.money input + b {
    display: none;
}

.transaction-lines select {
    max-width: 10em;
}

.transaction-lines input.money {
    min-width: 3.5rem !important;
    width: auto;
}

nav.acc-year {
    color: rgb(var(--gTextColor));
    background: rgb(var(--gBgColor));
    border-radius: .5rem;
    border: .2rem solid rgba(var(--gMainColor), 0.5);
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

nav.acc-year header div {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav.acc-year > * {
    padding: .2rem .5rem;
}

nav.acc-year strong {
    font-weight: normal;
    font-size: .8em;
    display: block;
    margin-bottom: -.5em;
    color: var(--gBorderColor);
}

nav.acc-year footer {
    margin-left: auto;
}

.year-header {
    text-align: center;
    margin-bottom: .8em;
    padding-bottom: .5em;
    border-bottom: 1pt solid var(--gBorderColor);
}

.year-header .print-btn button {
    font-size: 1.3rem;
}

.year-header .forms {
    display: flex;
    justify-content: center;
    align-items: center;
}

.year-header .forms fieldset {
    margin: 1em;
}

.year-header figure.logo img {
    float: left;
    max-height: 100px;
}

.graphs {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.graphs figure {
    margin: 1rem;
}

.graphs.small figure img {
    max-width: 500px;
}

tr.account td.num { font-family: monospace; text-align: left; width: 8%;}
tr.account td.num a { font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
table tr.account th { font-weight: normal; }
tr.account-level-1 th { font-size: 1.6em; }
tr.account-level-2 th { padding-left: 1em; font-size: 1.3em; }
tr.account-level-3 th { padding-left: 2em; }
tr.account-level-4 th { padding-left: 3em; }
tr.account-level-5 th { padding-left: 4em; }
tr.account-level-6 th { padding-left: 5em; }
tr.account button[name*="bookmark"] { opacity: 0.6; transition: opacity .3s; width: 8em;}
tr.account button[value="1"] { opacity: 1; }
tr.account td.bookmark { width: 2%; }
tr.account td.bookmark span[data-icon] { color: var(--gBorderColor); font-size: .9em; }

table.projects tr.title p.help {font-weight: normal;margin: .5em 0;}
table.projects tr.title p.actions {
    text-align: center;
    margin: 0;
    margin-bottom: .8em;
}

table.projects tr.total {
    border-top: 6px double var(--gLightBorderColor);
    background: rgba(var(--gSecondColor), 0.2);
}

table.projects .archived {
    opacity: 0.7;
}

.attachments {
    text-align: center;
}

.attachments .files-list {
    justify-content: center;
}

input[name=code_base] {
    text-align: right;
    color: rgb(var(--gTextColor));
}
.transaction-details {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin: 1em 0;
}

.transaction-details > div {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.transaction-details .account {
    background-color: rgba(var(--gMainColor), 0.2);
    border-radius: .5em;
    padding: 1em;
    text-align: center;
}

.transaction-details .account h4 {
    font-weight: normal;
}

.transaction-details .amount h3 {
    font-weight: normal;
}

.transaction-details .amount {
    background-color: rgba(var(--gSecondColor), 0.3);
    border-radius: .5em;
    padding: 1em;
    text-align: center;
}

.transaction-details .amount > span {
    font-size: 2em;
    white-space: nowrap;
}

.transaction-details .amount .icn {
    color: var(--gBorderColor);
}

.transaction-details-container {
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-gap: 1em;
    clear: both;
}

.transaction-details-container aside {
    margin-top: 2em;
}

table.statement td, table.statement th {
    border: 1px solid rgba(var(--gSecondColor), 0.5);
}

table.statement tbody tr.even td, table.statement tbody tr.even th {
    background: rgba(var(--gSecondColor), 0.1);
}

table.statement tfoot td, table.statement tfoot th {
    background: rgba(var(--gSecondColor), 0.2);
}

@media handheld, screen and (max-width: 980px) {
    .transaction-details-container {
        grid-template-columns: 1fr;
    }
}
