.error .trace {
	border: 1px solid #ccc;
	margin: 1em;
}

.error .trace h4 {
	background: #ccc;
	padding: .5em;
}

.error .trace h5 {
	background: #ddd;
	padding: .5em;
}

.error .trace pre i {
	color: #999;
}

.error .trace pre b {
	background: #fcc;
	display: inline-block;
	width: 100%;
}

.error .trace h4 table {
	float: right;
	background: #ddd;
}

.error .trace h4 table td, .error .trace h4 table th {
	border: 1px solid #999;
	padding: .2em .5em;
}

.error .event table {
	margin: .5em;
}


#orderFields fieldset {
    position: relative;
    min-height: 2em;
    transition: all 1s;
    overflow: hidden;
    max-height: 5000px;
}

#orderFields fieldset legend {
    font-size: 1.2em;
    line-height: .8em;
    color: #666;
}

#orderFields fieldset .actions {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
}

#orderFields fieldset .actions .icn {
    position: absolute;
}

#orderFields fieldset dl {
    overflow: hidden;
    transition: all .5s;
    opacity: 1;
    display: block;
    max-height: 5000px;
}

#orderFields fieldset dl.hidden {
    opacity: 0;
    max-height: 0;
}

#orderFields fieldset.removed {
    max-height: 0;
    opacity: 0;
    border-color: red;
    min-height: 0;
    height: 0;
}

#orderFields fieldset .actions .remove { right: 0em; }
#orderFields fieldset .actions .edit { right: 1.5em; }
#orderFields fieldset .actions .down { right: 3em; }
#orderFields fieldset .actions .up { right: 4.5em; }

#orderFields fieldset:nth-child(1) .actions .up, #orderFields fieldset:nth-last-child(1) .actions .down {
    display: none;
}

#orderFields fieldset .actions .icn {
    cursor: pointer;
}

#orderFields fieldset .interactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

.image-preview img, .image-preview figure {
    vertical-align: middle;
}

.masked-icon {
    background: linear-gradient(rgba(var(--gMainColor), 0.9), rgba(0, 0, 0, 0.5));
    border-radius: .5em;
    padding: 10px;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2em;
}

.masked-icon .icon {
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
    display: inline-block;
}

.masked-icon figcaption {
    font-size: .9em;
    font-family: "Droid Sans", sans-serif;
    text-shadow: 0px 0px 5px #000;
    color: #fff;
}

.masked-icon img {
    clip-path: circle(40px at center);
    background: #fff;
    width: 100px;
    height: 100px;
    box-shadow: 1px 10px 5px #000;
    display: block;
}
