html, body {
	height: 100%;
}

main#content {
	height: calc(100% - 2em);
	display: flex;
	flex-direction: column;
}

.mailing-preview {
	display: grid;
	grid-template-columns: minmax(500px, 800px) 30fr;
	gap: 2em;
	height: 100%;
}

.mailing-preview > aside {
	order: 1;
}

.mailing-preview .container {
	order: -1;
	background-color: rgba(var(--gSecondColor), 0.2);
	border-radius: .5em;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.mailing-preview .container header {
	padding: .5em;
	flex: 0 1 auto;
}

.mailing-preview .container header dl {
	margin: 0;
}

.mailing-preview .container header dl.describe > dt {
	flex: 0 0 8rem;
}

.mailing-preview .container header dl.describe > dd {
	flex: 0 0 calc(100% - 10rem);
}

.mailing-preview .container header small {
	color: var(--gBorderColor);
}

.mailing-preview .preview {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

.mailing-preview iframe {
	flex: 1 0 auto;
	width: calc(100% - 1em);
	margin: 0 .5em .5em .5em;
	padding: 0;
	border: none;
	border-radius: .5em;
}

.mailing-preview .tabs {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	gap: .5em;
	padding-right: 2em;
	margin-top: -1.5em;
}

.mailing-preview .tabs li a {
	display: block;
	border-radius: .5em .5em 0 0;
	background-color: rgba(var(--gMainColor), 0.2);
	padding: .2em .5em;
	color: unset;
	font-size: .9em;
}

.mailing-preview .tabs li.current a {
	font-weight: bold;
	background: #fff;
}

#f_subject {
	font-size: 1.3em;
}

@media handheld, screen and (max-width:981px) {
	.mailing-preview {
		display: block;
	}
	.mailing-preview aside header {
		text-align: center;
	}
}