.web-edit {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: .1fr 1fr .1fr;
    grid-gap: 1em;
    height: 100vh;
}

.web-edit-text .content, .web-edit-text .block {
    display: none;
}

.web-edit-visual .editor {
    display: none;
}

.web-edit nav ul {
    border: none;
}

.web-edit .properties {
    display: flex;
    flex-direction: row;
}

.web-edit nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.web-edit nav ul li a {
    border-radius: 0 0 .5em .5em;
}

.web-edit fieldset {
    margin: 0;
}

.web-edit .submit {
    grid-row: 3;
    grid-column: 2;
}

fieldset.header {
    grid-column: span 2;
    margin-top: 1em;
}

.web-edit fieldset.header legend {
    font-size: 1.5em;
    text-align: center;
}

fieldset.header p input {
    font-size: 1.5em;
}

fieldset.header div {
    display: flex;
    flex-direction: row;
    margin-top: .5em;
    grid-gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

fieldset.header div dl {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gLightBackgroundColor);
    padding: .4em .6em;
    border-radius: .5em;
}

fieldset.header div dd {
    padding: 0;
}

fieldset.header div select {
    max-width: unset;
}

fieldset.header div dt {
    margin-right: 1em;
    display: none;
}

fieldset.header div dt label {
    font-weight: normal;
    color: var(--gBorderColor);
}

fieldset.header div dt b {
    display: none;
}

fieldset.header tt {
    white-space: nowrap;
}

fieldset.content {
    border: none;
    padding: 0;
    grid-row: 2 / span 2;
    grid-column: 1;
}

.web-content.content-edit * {
    cursor: unset !important;
}

.content-edit {
    overflow: auto;
    padding: 1em;
    border: 1px solid #999;
    height: 97%;
}

.content-edit .block:hover {
    background: rgba(var(--gHoverLinkColor), 0.2);
    box-shadow: 0px 0px .2em rgba(var(--gHoverLinkColor), 1);
    cursor: pointer !important;
    border-radius: .2em;
}

.content-edit .selected {
    border-radius: .2em;
    outline: .3em dashed rgba(var(--gHoverLinkColor), 0.5);
}

.web-edit input[type=text] {
    min-width: 0;
}

.web-edit .editor {
    grid-column: 1 / span 2;
    background: var(--gLightBackgroundColor);
}

@media screen and (max-width: 980px) {
    .web-edit {
        display: block;
    }
}

#encryptPasswordDisplay {
    cursor: help;
    background: var(--gLightBackgroundColor);
}

web-edit dd.help {
    font-size: .9em;
}

.web-files {
    text-align: center;
}

.web-footer, .web-files {
    font-size: 0.8em;
    color: var(--gBorderColor);
    border-top: 0.1em solid var(--gLightBorderColor);
    clear: both;
}

form#f_upload fieldset {
    position: relative;
}


.diff {
    margin: 1em;
}

.diff .ins {diff
    background: #cfc;
    width: 45%;
}

.diff .del {
    background: #fcc;
    width: 45%;
}

.diff .line {
    width: 2%;
    padding: 0.2em;
    text-align: right;
    font-family: Mono;
    font-size: 90%;
    color: #666;
}

.diff .leftChange, .diff .rightChange {
    text-align: center;
    vertical-align: middle;
}


.diff hr {
    background: none;
    border: none;
    border-top: 5px dotted #fff;
    color: #fff;
    margin: .2em .4em;
}

.diff .separator {
    background: #ccc;
}

.diff {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
}

.diff tr {
    border: 1px solid #ccc;
    vertical-align: top;
}

.diff .leftChange b, .diff .rightChange b {
    text-shadow: 1px 1px 1px #ccc;
    color: #666;
}