{{:assign show=false}}

{{if $form.config.accounts}}
	{{#foreach from=$transaction.lines item="line"}}
		{{if $line.account_code|regexp_match:$form.config.accounts}}
			{{:assign show=true}}
		{{/if}}
	{{/foreach}}
{{/if}}

{{if $show}}
	<h2 class="ruler">Reçu de don</h2>
	<p>
		{{:linkbutton href="%s?id=%d"|args:$form.url:$transaction.id target="_dialog" label="Prévisualiser" shape="eye"}}
		{{:linkbutton href="%s?id=%d&print=pdf"|args:$form.url:$transaction.id label="Télécharger en PDF" shape="download"}}
		{{:linkbutton href="%s?id=%d&print=yes"|args:$form.url:$transaction.id target="_blank" label="Imprimer" shape="print"}}
	</p>
{{/if}}