{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc" custom_css="./include/style.css"}}
{{:include file='./include/constants.tpl' keep='DRAFT_STATUS, AWAITING_STATUS, VALIDATED_STATUS, REJECTED_STATUS, PAID_STATUS, DOCUMENT_TYPES, INVOICE_CANCELLED_LABEL, INVOICE_ARCHIVED_LABEL, TYPE_LABELS, STATUS_LABELS, INVOICE_STATUS_LABELS, QUOTATION_TYPE, INVOICE_TYPE, VERSION, DEV_MODE'}}

{{if $_GET.action === 'sign' || $_POST.signing_submit || $_GET.action === 'delete' || $_POST.reject_submit || $_POST.validate_submit || $_POST.invoice_generation_submit || $_POST.mark_as_paid_submit || $_POST.bind_to_transaction_submit || $_POST.cancel_submit || $_POST.archive_submit || $_POST.unarchive_submit || $_POST.duplicate_submit || $_POST.edit_comment_submit || $_POST.status_update_button}}
	{{:include file='./include/modification.controller.tpl' keep='check_errors'}}
{{elseif $_GET.id === null}}
	<p class="error block">Aucun document séléctionné.</p>
{{/if}}

{{#load id=$_GET.id|intval}}

	{{* ======================= Menu =========================== *}}
	
	{{:include file='./include/document_details_menu.html'}}

	{{* ======================= Title =========================== *}}

	{{:assign var="label" from="TYPE_LABELS.%s"|args:$type}}
	{{if $type === $INVOICE_TYPE}}
		{{:assign var="status_label" from="INVOICE_STATUS_LABELS.%s"|args:$status}}
		{{:assign cancelled_label=$INVOICE_CANCELLED_LABEL}}
	{{else}}
		{{:assign var="status_label" from="STATUS_LABELS.%s"|args:$status}}
		{{:assign cancelled_label=$QUOTATION_CANCELLED_LABEL}}
	{{/if}}
	<h1>{{:link href="details.html?id=%d&show=%s"|args:$id:$type label="%s n° %s"|args:$label:$key class="plain"}} - {{if !$cancelled}}{{$status_label}}{{else}}{{$cancelled_label}}{{/if}}</h1>

	{{* ======================= Errors =========================== *}}

	{{if $check_errors}}
		{{#foreach from=$check_errors item='error'}}
			<p class="error block">{{$error|raw}}</p>
		{{/foreach}}
	{{/if}}

	{{* ======== Forms (deletion/signing/reject/validation/payment) ============= *}}

	{{if $_GET.action === 'ask_deletion'}}
		<h2 class="ruler irreversible">Action irreversible</h2>
		<fieldset>
			<legend><h2>Suppression</h2></legend>
			{{:include file='./include/document_summary.html'}}
			<div class="block error">
				<h3 class="infos">Vous allez supprimer définitivement le brouillon du devis n° {{$key}} : "{{$subject}}".</h3>
				<p class="infos">Êtes-vous sûr de vouloir continuer ?</p>
				<p>
					{{:linkbutton href="action.html?id=%d&show=quotation&action=delete"|args:$_GET.id label="Supprimer le devis" shape="delete"}}
					{{:linkbutton href="details.html?id=%d&show=quotation&ok=3"|args:$_GET.id label="Conserver le brouillon" shape="lock" class="safe" class="main"}}
				</p>
			</div>
		</fieldset>

	{{elseif $_GET.action === 'sign'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Signature du devis</h2></legend>
				{{:include file='./include/document_summary.html'}}
				<dl>
					{{:input type="text" name="signing_place" label="Lieu de la signature" placeholder="ex : Dijon" default=$module.config.signing_place required=true}}
					{{:input type="date" name="signing_date" label="Date de la signature" default=$now required=true}}
				</dl>
				{{if !$check_errors}}<p class="error block">Signer le devis est définitif. Vous ne pourrez plus modifier son contenu par la suite.</p>{{/if}}
				{{:button type="submit" name="signing_submit" label="Signer le devis" shape="check" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_rejection'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Refus du devis par le/la client.e</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{if !$check_errors}}<p class="error block">Refuser le devis est définitif. Vous ne pourrez pas rétablir le devis comme "en attente de validation".<br />Il sera néanmoins possible d'annuler le devis.</p>{{/if}}
				{{:button type="submit" name="reject_submit" label="Marquer comme refusé" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_validation'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Validation du devis par le/la client.e</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{if !$check_errors}}<p class="error block">Valider le devis est définitif. Vous ne pourrez pas rétablir le devis comme "en attente de validation".<br />Il sera néanmoins possible d'annuler le devis.</p>{{/if}}
				<div class="infos">{{:input type="checkbox" name="invoice" value="1" label="Générer automatiquement une facture" help="Il sera toujours possible de le faire ultérieurement."}}</div>
				{{:button type="submit" name="validate_submit" label="Marquer comme validé" shape="check" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_invoice_generation'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Génération d'une facture</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{#sql select='COUNT(id) AS total' tables='module_data_invoice' where="json_extract(document, '$.parent_id') = :id AND id != :id" :id=$id|intval}}{{:assign children_number=$total}}{{/sql}}
				{{if $children_number}}
					<div class="error block">
						{{if $children_number === 1}}La facture suivante est déjà associée{{else}}Les factures suivantes sont déjà associées{{/if}} à ce devis, êtes-vous sûr de vouloir créer une facture supplémentaire ?
						<ul>
							{{#load where="$$.parent_id = :parent_id AND id != :parent_id" :parent_id=$id}}
								{{:assign .='child'}}
								{{:assign var="child_status_label" from="INVOICE_STATUS_LABELS.%s"|args:$child.status}}
								<li>
									{{:link href="details.html?id=%d&show=invoice"|args:$child.id label=$child.key}}
									({{if $child.cancelled}}{{$INVOICE_CANCELLED_LABEL}}{{if $child.cancellation_reason}} ({{$child.cancellation_reason|truncate:48:"..."}}){{/if}}{{else}}{{$child_status_label}}{{/if}}{{if $child.archived}} et {{$INVOICE_ARCHIVED_LABEL}}{{/if}})
								</li>
							{{/load}}
						</ul>
					</div>
					{{:button type="submit" name="invoice_generation_submit" label="Générer une nouvelle facture" shape="document" class="main"}}
				{{else}}
					{{:button type="submit" name="invoice_generation_submit" label="Générer la facture" shape="document" class="main"}}
				{{/if}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_mark_as_paid'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Marquer la facture comme payée</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{if !$check_errors}}<p class="error block">Marquer la facture comme payée est définitif. Vous ne pourrez pas rétablir la facture comme "en attente de paiement".<br />Il sera néanmoins possible d''annuler la facture.</p>{{/if}}
				<dl>
					{{:input type="date" name="date" label="Date du paiement" default=$now required=true}}
					{{:input type="textarea" name="payment_comment" label="Remarque" required=false cols="50" rows="4"}}
					{{:input type="list" name="transaction" label="Écriture correspondante" target="./transaction_selector.inc.tpl" can_delete=true required=false}}
				</dl>
				{{:button type="submit" name="mark_as_paid_submit" label="Marquer comme payée" shape="check" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_bind_to_transaction'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Associer la facture à une écriture comptable</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{if $transaction_id}}
					{{#transactions id=$transaction_id|intval}}{{:assign .='transaction'}}{{/transactions}}
					<p class="error block">
						La facture est déjà associée à {{:link href='!acc/transactions/details.php?id=%d'|args:$transaction.id label="l'écriture comptable n°%d \"%s\""|args:$transaction.id:$transaction.label}}. Êtes-vous sûr de vouloir changer ?
					</p>
					{{:assign var='default_transaction_selection.%s'|args:$transaction.id value=$transaction.label}}
				{{/if}}
				<dl>{{:input type="list" name="transaction" label="Écriture correspondante" target="./transaction_selector.inc.tpl" default=$default_transaction_selection can_delete=true required=false}}</dl>
				{{:button type="submit" name="bind_to_transaction_submit" label="Associer" shape="login" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_cancelling'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2 class="irreversible">Annuler {{if $type === $INVOICE_TYPE}}la{{else}}le{{/if}} {{$label}} n° {{$key}} ?</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{:input type="textarea" name="reason" label="Motif" required=false cols="50" rows="4"}}
				{{:button type="submit" name="cancel_submit" label="Confirmer l'annulation" shape="check" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_archiving'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Archiver {{if $type === $INVOICE_TYPE}}la{{else}}le{{/if}} {{$label}} n° {{$key}} ?</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{:button type="submit" name="archive_submit" label="Confirmer l'archivage" shape="check" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_unarchiving'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Sortir des archives {{if $type === $INVOICE_TYPE}}la{{else}}le{{/if}} {{$label}} n° {{$key}} ?</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{:button type="submit" name="unarchive_submit" label="Confirmer la sortie des archives" shape="unlock" class="main"}}
			</fieldset>
		</form>

	{{elseif $_GET.action === 'ask_duplication'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Dupliquer {{if $type === $INVOICE_TYPE}}la{{else}}le{{/if}} {{$label}} n° {{$key}} ?</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{:button type="submit" name="duplicate_submit" label="Dupliquer" shape="check" class="main"}}
			</fieldset>
		</form>
	
	{{elseif $_GET.action === 'edit_comment'}}
		<form method="POST" action="">
			<fieldset>
				<legend><h2>Éditer les remarques</h2></legend>
				{{:include file='./include/document_summary.html'}}
				{{:input type="textarea" name="comment" label="Remarques internes" default=$comment help="Ne seront pas affichées sur le document." required=false cols="50" rows="4"}}
				{{:button type="submit" name="edit_comment_submit" label="Mettre à jour" class="main"}}
			</fieldset>
		</form>
	{{/if}}
{{else}}
	<p class="error block">Document séléctionné invalide.</p>
{{/load}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
