{{if $logged_user.perm_accounting < $access_level.write}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent générer ce document"}}
{{/if}}

{{#load key=$_GET.key assign="doc"}}
{{else}}
	{{:error message="Document inconnu"}}
{{/load}}

{{if $_POST.valid}}

	{{:save key=$doc.key validate="./document.schema.json" draft=false}}

	{{if $_POST.valid == 'send'}}
		{{if $doc.type == 'invoice'}}
			{{:assign subject="Une facture vous est adressée"}}
		{{else}}
			{{:assign subject="Un devis vous est adressé"}}
		{{/if}}

		{{:email
			to=$client.email
			subject="[%s] %s"|args:$config.nom_asso,$subject
			body=$doc_config.email_body
			attach_from_url="%s%s.html?pdf&key=%s"|args:$doc_url,$doc.type,$doc.key}}
	{{/if}}

	{{if $doc.type == 'invoice'}}

		{{:transaction
			create=true
			label="Facture %s"|args:$doc.key
			date=$_POST.date
			reference=$doc.key
			type="credit"
			status="waiting"
			notes="Écriture créée automatiquement lors de la validation de la facture"
			attach_from_url="%sinvoice.html?pdf&key=%s"|args:$doc_url,$doc.key
			assign="transaction"
			amount=$doc.total
			debit_account=$_POST.client_account
			credit_account=$_POST.product_account
		}}

	{{/if}}

	{{:http redirect="doc.html?key=%s"|args:$new_key}}

{{elseif $_POST.archive}}

	{{:save key=$doc.key validate="./document.schema.json" archived=true}}

{{elseif $_POST.copy_as_invoice && $doc.type == 'quote'}}

	{{:save key=$doc.key validate="./document.schema.json" archived=true}}

	{{#load select="COUNT(*) + 1 AS count" where="json_extract('$.type') = 'invoice'"}}
		{{:assign new_key="F%06d"|args:$count}}
	{{/load}}

	{{:assign doc.type="invoice" doc.date=$now}}

	{{:save key=$new_key .=$doc}}

	{{:http redirect="doc.html?key=%s"|args:$new_key}}

{{elseif $_POST.mark_paid && $_POST.pay_account}}
	{{:save key=$doc.key validate="./document.schema.json" archived=true date_paid=$now}}

	{{if $doc.id_transaction1}}
		{{:transaction
			payoff=$doc.id_transaction1
			label="Règlement facture n°%s"|args:$key
			credit_account=$_POST.account
			payment_reference=$_POST.ref
		}}
	{{/if}}

	{{:http redirect="doc.html?key=%s"|args:$new_key}}
{{/if}}

{{:admin_header title="Document n°%s"|args:$doc.key current="acc"}}

{{if $draft}}
	<h2 class="ruler">
		Brouillon
	</h2>
	<p>
		{{:button name="valid" value="ok" label="Valider" shape="export"}}
		{{:button name="valid" value="send" label="Valider et envoyer par e-mail" shape="email" class="main"}}
	</p>
	<p class="help">
		Une fois validé, ce document ne pourra plus être modifié.
	</p>
{{elseif $type == 'quote' && !$archived}}
	<h2 class="ruler">
		Devis en attente
	</h2>
	<p>
		{{:button name="archive" value="1" label="Archiver" shape="delete"}}
		{{:button name="make_invoice" value="1" label="Valider et transformer en facture" shape="right" class="main"}}
	</p>
{{elseif !$date_paid}}
	<h2 class="ruler">
		Facture en attente de règlement
	</h2>
	<p>
		{{:button name="archive" value="1" label="Annuler et archiver" shape="delete"}}
		{{:button name="mark_paid" value="1" label="Enregistrer le paiement" shape="right" class="main"}}
	</p>
{{/if}}