{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc" custom_css="./include/style.css"}}
{{:include file='./include/navigation.html'}}

{{:include file='./include/constants.tpl' keep='DRAFT_STATUS, AWAITING_STATUS, VALIDATED_STATUS, STATUS_LABELS, VERSION, QUOTATION_TYPE, NONPROFIT_VAT_EXEMPTION_TYPE'}}

{{if $_GET.id}}
	{{#load id=$_GET.id|intval}}
		{{:assign .="document"}}
	{{/load}}
	<h1>Édition du devis n°{{$document.key}} "{{$document.subject}}"</h1>
{{else}}
	<h1>Création d'un devis</h1>
{{/if}}

{{if $document && $document.status !== $DRAFT_STATUS}}
	{{:error message="Ce document n'est plus un brouillon et ne peut plus être modifié."}}
{{elseif $document && $document.cancelled}}
	{{:error message="Les document annulés ne peuvent plus être modifiés."}}
{{/if}}

{{:assign check_errors=null}}

{{if $_POST.quotation_submit || $_POST.save_as_draft}}

	{{:include file='./include/shim/array_last_num_key.tpl' keep='customer_id, check_errors' array=$_POST.customer name='customer_id' error_message='Membre séléctionné invalide.'}}

	{{if $_GET.step === 'recipient' || $_GET.step === 'final'}}
	
		{{if $customer_id !== null}}
			{{#users id=$customer_id}}
				{{:assign .='customer'}}
				{{:assign recipient_member_id=$id|intval}}
				{{:assign recipient_member_number=$numero|strval}}
				{{:assign recipient_business_name=$nom}}
				{{if $adresse}}
					{{:assign recipient_address=$adresse|cat:"\n":$code_postal:' ':$ville}}
				{{elseif !$_POST.recipient_address}}
					{{:assign var='check_errors.' value="Le/la membre séléctionné·e n'a pas d'adresse. Merci de faire une saisie manuelle (ou bien de mettre à jour sa fiche puis de recommencer)."}}
				{{/if}}
			{{/users}}
		{{/if}}

		{{if $_POST.recipient_business_name}} {{* Manual input overrides member name *}}
			{{:assign recipient_business_name=$_POST.recipient_business_name}}
		{{/if}}
		{{if !$recipient_business_name}}
			{{:assign var='check_errors.' value="La saisie manuelle d'une raison sociale est obligatoire si vous ne sélectionnez pas de membre."}}
		{{/if}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Raison sociale trop longue' check_value=$recipient_business_name check_max=128}}

		{{if $_POST.recipient_address}} {{* Manual input overrides member address *}}
			{{:assign recipient_address=$_POST.recipient_address}}
		{{/if}}
		{{if !$customer && !$_POST.recipient_address}}
			{{:assign var='check_errors.' value="La saisie d'une adresse est obligatoire."}}
		{{/if}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Adresse trop longue' check_value=$recipient_address check_max=512}}

	{{/if}}

	{{if $_GET.step === 'main' || $_GET.step === 'final'}}

		{{if $_POST.key}}
			{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Numéro trop long' check_value=$_POST.key check_max=32}}
			{{#sql select='key' tables='module_data_invoice' where="key = :post_key" :post_key=$_POST.key}}
				{{:assign found=true}}
			{{/sql}}
			{{if !$document && $found}}
				{{:assign var='check_errors.' value='Un document existe déjà avec ce numéro (%s). Veuillez en saisir un différent.'|args:$_POST.key}}
			{{/if}}
		{{/if}}

		{{if !$_POST.subject}}
			{{:assign var='check_errors.' value="L'objet est obligatoire."}}
		{{/if}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Intitulé trop long' check_value=$_POST.subject check_max=256}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Texte d'introduction trop long" check_value=$_POST.introduction_text check_max=256}}

		{{:assign date=$_POST.date|date:'Y-m-d'}}
		{{:assign deadline=$_POST.deadline|date:'Y-m-d'}}

		{{if !$_POST.date}}
			{{:assign var='check_errors.' value="La date est obligatoire."}}
		{{/if}}
		{{if $_POST.date|date_short === null}} {{* Means data is not a date *}}
			{{:assign var='check_errors.' value="La date du devis doit être une date."}}
		{{/if}}

		{{if $_POST.deadline && $_POST.deadline|date_short === null}}
			{{:assign var='check_errors.' value="L'échéance doit être une date."}}
		{{/if}}
		{{if $deadline && $deadline < $date}}
			{{:assign var='check_errors.' value="L'échéance doit se situer après la date du devis (%s)."|args:$_POST.date}}
		{{/if}}

		{{if $_POST.status}}
			{{:assign var='check_errors.' value="Le statut ne peut pas être changé."}}
		{{/if}}

		{{if !$_POST.org_contact}}
			{{:assign var='check_errors.' value="Le contact est obligatoire."}}
		{{/if}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Contact trop long" check_value=$_POST.org_contact check_max=256}}
	
	{{/if}}
	
	{{if $_GET.step === 'items' || $_GET.step === 'final'}}

		{{:assign computed_total=0}}
		{{:assign items=null}}

		{{#foreach from=$_POST.items key='index' item='item'}}
			{{if $item.unit_price || $item.quantity}} {{* Ignore default empty line *}}
				{{if $item.name === ''}}{{:assign var='check_errors.' value="Le nom de l'article est requis."}}{{/if}}
				{{:assign var='unit_price' value=$item.unit_price|replace:',':'.'}}
				{{:assign var='quantity' value=$item.quantity|replace:',':'.'}}
				{{if $unit_price < 0 || $unit_price != $unit_price|floatval|strval}} {{* Hack to check the data is a number *}}
					{{:assign var='check_errors.' value='Le prix saisi pour "%s" est invalide.'|args:$item.name}}
				{{/if}}
				{{if $quantity < 0 || $quantity != $quantity|floatval|strval}}{{:assign var='check_errors.' value='La quantité saisie pour "%s" est invalide.'|args:$item.name}}{{/if}}

				{{:assign shorted=$item.reference|substr:0:16|cat:'...'}}
				{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Référence d'article '%s' trop longue"|args:$shorted check_value=$item.reference check_max=128}}
				{{:assign shorted=$item.name|substr:0:16|cat:'...'}}
				{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Nom d'article '%s' trop long"|args:$shorted check_value=$item.name check_max=128}}
				{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Description de l'article '%s' trop longue"|args:$item.name check_value=$item.description check_max=512}}

				{{:assign var='computed_item' value=$item}}
				{{:assign var='computed_item.id' value=$index|intval}}
				{{:assign var='computed_item.unit_price' value=$unit_price|floatval|money_int}}
				{{:assign var='computed_item.quantity' value=$quantity|floatval}}
				{{:assign var='items.' value=$computed_item}}
				{{:assign var='computed_total' value="%d + %d * %F"|args:$computed_total:$computed_item.unit_price:$computed_item.quantity|math}}
			{{/if}}
		{{/foreach}}

		{{if $computed_total != $_POST.quotation_total|money_int || $computed_total < 0}}
			{{:assign var='check_errors.' value='Erreur de calcul du total. Enregistrement du devis refusé.'}}
		{{/if}}

	{{/if}}

	{{if $_GET.step === 'final' && !$_POST.ask_validation}}
		{{if !$_POST.save_as_draft}}
			{{if !$_POST.signing_place || !$_POST.signing_date}}
				{{:assign var='check_errors.' value='La date et le lieu de la signature du devis sont obligatoires pour valider le devis.'}}
			{{/if}}

			{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Lieu de da signature trop long' check_value=$_POST.signing_place check_max=128}}
			{{:assign signing_date=$_POST.signing_date|date:'Y-m-d'}}
			{{if $signing_date && $signing_date < $date}}
				{{:assign var='check_errors.' value="La date de signature doit se situer après la date du devis (%s)."|args:$_POST.date}}
			{{/if}}
		{{/if}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Instructions de paiement trop longues" check_value=$_POST.payment_text check_max=512}}
		{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Informations complémentaires trop longues" check_value=$_POST.extra_text check_max=1024}}

		{{if $module.config.vat_exemption}}
			{{:assign vat_exemption=$module.config.vat_exemption}}
		{{else}}
			{{:assign vat_exemption=$NONPROFIT_VAT_EXEMPTION_TYPE}}
		{{/if}}

		{{if !$check_errors}}
			{{if $_POST.key}}
				{{:assign key=$_POST.key}}
			{{else}}
				{{:include file='./include/generate_next_key.tpl' keep='key' type=$QUOTATION_TYPE}}
			{{/if}}
			{{if $document}}
				{{:assign id=$document.id|intval}}
			{{else}}
				{{:assign id=null}}
			{{/if}}

			{{if $_POST.save_as_draft}}
				{{:assign status=$DRAFT_STATUS}}
			{{else}}
				{{:assign status=$AWAITING_STATUS}}
			{{/if}}

			{{:save 
				validate_schema="./include/schema/quotation.json"
				id=$id
				key=$key
				type=$QUOTATION_TYPE
				status=$status
				cancelled=false
				cancellation_reason=null
				archived=false
				author_id=$logged_user.id|intval
				child_id=null
				parent_id=null
				duplicated_from_id=null
				subject=$_POST.subject
				date=$date
				deadline=$deadline
				signing_date=$signing_date
				signing_place=$_POST.signing_place
				validation_date=null
				items=$items
				total=$computed_total
				siret=$module.config.siret
				org_contact=$_POST.org_contact
				recipient_business_name=$recipient_business_name
				recipient_address=$recipient_address
				recipient_member_id=$recipient_member_id
				recipient_member_number=$recipient_member_number
				introduction_text=$_POST.introduction_text
				payment_text=$_POST.payment_text
				extra_text=$_POST.extra_text
				comment=null
				vat_exemption=$vat_exemption
				last_modification_date=$now|atom_date
				module_version=$VERSION
			}}

			{{if !$document}}
				{{:http redirect="./index.html?ok=1"}}
			{{else}}
				{{:http redirect="./index.html?ok=2"}}
			{{/if}}

		{{/if}}
	
	{{/if}}
{{/if}}

{{if $check_errors}}
	{{#foreach from=$check_errors item='error'}}
		<p class="error block">{{$error}}</p>
	{{/foreach}}
	{{:assign error_step=$_GET.last_step}}
{{/if}}

{{if $_GET.step === 'start' || $error_step === 'start'}}
	{{:include file='./include/edit_recipient.tpl'}}
	
{{elseif $_GET.step === 'recipient' || $error_step === 'recipient'}}
	{{:include file='./include/edit_main.tpl'}}
	
{{elseif $_GET.step === 'main' || $error_step === 'main'}}
	{{:include file='./include/edit_items.tpl'}}

{{elseif $_GET.step === 'items' || $error_step === 'items'}}
	{{:include file='./include/edit_summary.tpl'}}

{{elseif $_GET.step === 'final' || $error_step === 'final'}}
	{{:include file='./include/edit_final.tpl'}}

{{/if}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent générer ce document."}}
{{/restrict}}