{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
{{:include file='./include/style.tpl'}}
{{:include file='./include/navigation.html'}}

{{* ==================== Search ==================== *}}

{{if $_GET.q}}
	{{if $_GET.q|regexp_match:'/(^\d+$)|(^D[0-9]{1,6}$)|(^F[0-9]{1,6}$)/'}}
		{{:assign search_where="key LIKE :searched_id ESCAPE '!'" searched_id="%%%s%%"|args:$_GET.q}}
	{{elseif $_GET.q|parse_date}}
		{{:assign search_where="$$.date = :searched_date" searched_date=$_GET.q|parse_date}}
	{{else}}
		{{:assign searched_text=$_GET.q|trim|regexp_replace:'/[!%_]/':'!$0'}}
		{{:assign search_where="(($$.subject LIKE :searched_text ESCAPE '!') OR ($$.recipient_business_name LIKE :searched_text ESCAPE '!'))" searched_text="%%%s%%"|args:$searched_text}}
	{{/if}}
{{/if}}

{{if !$config.org_name || !$config.org_address}}
	<p class="error block">
		Le nom et l'adresse postale de l'association doivent être renseignés pour pouvoir utiliser le module de devis.
		<br />
	{{#restrict section="config" level="write"}}
		Vous pouvez saisir ses informations sur {{:link href='!config/' label='la page de configuration'}}.
	{{else}}
		Veuillez contactez votre administrateur pour qu'il saisisse ses informations.
	{{/restrict}}
	</p>
	{{:error}}
{{/if}}

{{* ==================== Listing ==================== *}}

{{if $_GET.q}}
	<h2 class="ruler">Résultat(s) de recherche pour "{{$_GET.q}}"</h2>
{{/if}}

{{:include file='./include/constants.tpl' keep='DRAFT_STATUS, AWAITING_STATUS, VALIDATED_STATUS, PAID_STATUS, TYPE_LABELS, STATUS_LABELS, CANCELLED_LABEL, QUOTATION_TYPE, INVOICE_TYPE, INVOICE_STATUS_LABELS'}}

{{if $_GET.show == $QUOTATION_TYPE}}
	{{:assign filter="json_extract(document, '$.type') = '%s'"|args:$QUOTATION_TYPE}}
{{elseif $_GET.show == 'paid'}}
	{{:assign filter="$$.type = :type AND $$.status = :status" type_filter=$INVOICE_TYPE status_filter=$PAID_STATUS}}
{{elseif $_GET.show == 'unpaid'}}
	{{:assign filter="$$.type = :type AND $$.status = :status AND $$.cancelled = false" type_filter=$INVOICE_TYPE status_filter=$AWAITING_STATUS}}
{{else}}
	{{:assign filter="1"}}
{{/if}}

{{if $_GET.ok}}
	<p class="block confirm">
	{{if $_GET.ok === '1'}}
		Devis enregistré.
	{{elseif $_GET.ok === '2'}}
		Devis modifié avec succès.
	{{elseif $_GET.ok === '3'}}
		Brouillon supprimé avec succès.
	{{elseif $_GET.ok === '4'}}
		Document dupliqué avec succès.
	{{elseif $_GET.ok === '5'}}
		Document annulé avec succès.
	{{/if}}
	</p>
{{/if}}

{{:assign list_select="key; id AS 'Numéro'; datetime($$.date) AS 'Émission'; $$.deadline AS 'Échéance'; $$.recipient_business_name AS 'Tiers'; $$.subject AS 'Intitulé'; $$.total AS 'Montant'; $$.status AS 'Statut'"}}
{{:assign list_where="$$.type IN ('quotation', 'invoice') AND %s"|args:$filter}}
{{:assign list_order=1}}
{{if !$_GET.show}}{{:assign list_select='$$.parent_id AS "↳"; $$.type AS "Type"; '|cat:$list_select}}{{:assign list_order=3}}{{/if}}
{{if $_GET.q}}{{:assign list_where=$list_where|cat:' AND ':$search_where}}{{/if}}
{{#list
	select=$list_select
	where=$list_where
	order=$list_order
	desc=true
	:searched_id=$searched_id
	:searched_date=$searched_date
	:searched_text=$searched_text
	:type=$type_filter
	:status=$status_filter
}}
	<tr class="{{$status}}{{if $cancelled}} cancelled_document{{/if}}">
		{{if !$_GET.show}}
			{{:assign var="label" from="TYPE_LABELS.%s"|args:$type}}
			{{if $type === $INVOICE_TYPE && $parent_id}}
				<td colspan="2" style="text-align:left;">{{$label}} <span title="Associée au devis suivant">↴</span></td>
			{{else}}
				<td></td>
				<td>{{$label}}</td>
			{{/if}}
		{{/if}}
		<td>{{:link href="details.html?id=%d&show=%s"|args:$id:$type label=$key}}</td>
		<td>{{$date|date_short}}</td>
		<td>{{$deadline|date_short}}</td>
		<td>{{$recipient_business_name}}</td>
		<td>{{:link href="details.html?id=%d&show=%s"|args:$id:$type label=$subject}}</td>
		<td class="money">{{$total|money_currency}}</td>
		<td>
			{{if $type === $INVOICE_TYPE}}
				{{:assign var="label" from="INVOICE_STATUS_LABELS.%s"|args:$status}}
			{{else}}
				{{:assign var="label" from="STATUS_LABELS.%s"|args:$status}}
			{{/if}}

			{{if !$cancelled}}
				{{$label}}
				{{if $status === $VALIDATED_STATUS}}- {{$validation_date|date_short}}
				{{elseif $type === $INVOICE_TYPE && $status === $PAID_STATUS}}- {{$payment_date|date_short}}{{/if}}
			{{else}}
				{{$CANCELLED_LABEL}}
			{{/if}}

			{{if $archived}}
				<span title="Archivé">🗃</span>
			{{/if}}
		</td>
		<td class="actions">
			{{:include file='./include/document_list_buttons.html'}}
		</td>
	</tr>
{{else}}
	<tr><td colspan="6">{{if !$_GET.q}}Aucun document.{{else}}Aucun résultat correspondant à "{{$_GET.q}}".{{/if}}</td></tr>
{{/list}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
