<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{if $title}}{{$title}} — {{/if}}{{$config.org_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
	<link rel="stylesheet" type="text/css" href="{{$root_url}}default.css" media="screen,projection,handheld" />
	<link rel="stylesheet" type="text/css" href="{{$root_url}}content.css" media="all" />
	<link rel="alternate" type="application/atom+xml" title="{{$config.org_name}}" href="{{$root_url}}atom.xml" />
	<link rel="icon" type="image/png" href="{{$config.files.favicon}}" />
</head>

<body>

<header class="nav">
	<nav>
		<ul>
			<li class="current"><a href="{{$root_url}}">Accueil</a></li>
			<li><a href="{{$admin_url}}">Administration</a></li>
		</ul>
	</nav>
</header>

<header class="main">
	<h1><a href="{{$root_url}}">{{if $config.files.logo}}<img src="{{$config.files.logo}}&150px" alt="" class="logo" />{{/if}} <span>{{$config.org_name}}</span></a></h1>

{{if $config.org_address || $config.org_phone || $config.org_email}}
	<article class="contacts">
		{{if $config.org_address}}
			<h4>{{$config.org_address|escape}}</h4>
		{{/if}}
		{{if $config.org_phone}}
			<h5>{{$config.org_phone|raw|protect_contact}}</h5>
		{{/if}}
		{{if $config.org_email}}
			<h5>{{$config.org_email|raw|protect_contact}}</h5>
		{{/if}}
	</article>
{{/if}}

	<form method="get" action="{{ $root_url }}search.html" class="search-widget">
		<p>
			<input type="search" name="search" placeholder="Rechercher…" />
			<input type="submit" value="»" />
		</p>
	</form>

	<nav>
		<ul>
		{{#categories parent=null order="title"}}
			<li><a href="{{$url}}">{{ $title }}</a></li>
		{{/categories}}
		</ul>
	</nav>
</header>

<section class="page">
