/**
 * Ce fichier contient les styles CSS qui s'appliquent au contenu des articles et catégorie,
 * que ce soit sur le site public ou dans la prévisualisation de l'administration.
 *
 * Généralement il n'est pas nécessaire de le modifier.
 */

.protected-contact::before {
    content: attr(data-a) "\0040" attr(data-b) "." attr(data-c);
}

.web-content p, .web-content h1, .web-content h2, .web-content h3, .web-content h4, .web-content h5, .web-content h6,
.web-content ul, .web-content ol, .web-content table, .web-content blockquote, .web-content pre {
    margin: 0;
    margin-bottom: .8em;
}

.web-content ul, .web-content ol, .web-content dd {
    margin-left: 2em;
}

.web-content ul {
    list-style-type: disc;
}

.web-content ol {
    list-style-type: decimal;
}

.web-content blockquote::before {
    content: "”";
    color: rgba(0, 0, 0, 0.5);
    display: block;
    position: absolute;
    font-style: italic;
    font-size: 3rem;
    line-height: 2rem;
    margin-left: -3rem;
}

.web-content blockquote {
    font-size: 1.1em;
    padding-left: 3rem;
    margin: 1rem 0;
}

.web-content a.footnote-ref {
    vertical-align: super;
    font-size: small;
}

.web-content a.footnote-ref, .web-content .footnotes dt a {
    color: blue;
}

.web-content a.footnote-ref::before, .web-content .footnotes dt a::before {
    content: "[";
}

.web-content a.footnote-ref::after, .web-content .footnotes dt a::after {
    content: "]";
}

.web-content dl.footnotes {
    display: grid;
    grid-template-columns: .1fr .9fr;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    padding-top: 1rem;
    color: #333;
}

.web-content hr {
    border: none;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.web-content code, .web-content pre {
    background: rgba(100, 100, 100, 0.2);
    padding: .2rem;
}

.web-content pre code {
    background: unset;
    padding: unset;
}

.web-content pre, .web-content table {
    overflow-x: auto;
    max-width: 100%;
}

.web-content dl.footnotes dd {
    margin: 0;
    margin-bottom: 1rem;
}

.web-content dl.footnotes dd p {
    margin: 0;
    margin-bottom: 1rem;
}

.web-content table {
    border-collapse: collapse;
}

.web-content table th, .web-content table td {
    border: 1px solid #999;
    padding: .5rem;
    text-align: center;
}

.web-content table th {
    background: #eee;
    font-weight: bold;
}

.web-content aside.toc {
    float: right;
    margin-left: 2em;
    max-width: 20em;
}

.web-content .toc {
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.1);
    padding: .3rem;
    display: block;
    width: fit-content;
}

.web-content .toc ol {
    list-style: none;
    counter-reset: item;
    margin: .5rem 0 .5rem .5rem;
}

.web-content .toc ol li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
    color: #666;
}

aside.file a {
}

.web-content aside.file {
    margin: .8em;
}

.web-content aside.file small {
    opacity: 0.7;
}

.web-content aside.file a {
    display: inline-block;
    background: #ddd no-repeat .5em center;
    background-image: url('data:image/svg+xml;utf8,<svg width="33.87mm" height="33.87mm" version="1.1" viewBox="0 0 33.87 33.87" xmlns="http://www.w3.org/2000/svg"><g transform="translate(-45.16 -132.5)"><path d="m46.87 166.3c-1.895-0.8504-2.04-3.422-1.368-5.124 0.4287-0.9042 1.363-1.675 2.405-1.471h29.27c1.387 0.5818 2.074 2.134 1.853 3.586 0.137 1.429-0.8551 3.219-2.472 3.059-8.696 0.1509-17.4 0.0429-26.09 0.0478-1.196-0.027-2.4 0.0278-3.591-0.0985zm14.74-10.2c-2.695-3.234-5.319-6.532-7.861-9.888-0.6409-1.955 1.712-1.953 2.991-1.809h1.863c5.01e-4 -3.406 1e-3 -6.812 0.0015-10.22 0.3553-1.875 2.409-1.689 3.866-1.626 1.341-0.2301 3.068 0.2243 3.15 1.818 4.92e-4 3.342 9.83e-4 6.684 0.0015 10.03 1.442 0.0378 2.903-0.0975 4.331 0.1108 1.533 1.159-0.2458 2.66-0.9956 3.69-2.104 2.658-4.17 5.352-6.377 7.926-0.2941 0.1659-0.6875 0.1582-0.9702-0.0291z" fill="%23000" stroke-width=".07256"/></g></svg>');
    background-size: 1em;
    text-decoration: none;
    padding: .3em .5em .3em 2em;
    font-size: 1.2em;
    border-radius: .5em;
    transition: background-color .2s, color .2s;
    color: darkblue;
}

.web-content aside.file a b {
    text-decoration: underline;
}

.web-content aside.file a:hover {
    background-color: #ccc;
    color: darkred;
}

.web-content iframe {
    margin: 1em auto;
    display: block;
}

.web-content figure.image, .web-content figure.video {
    text-align: center;
}

.web-content mark {
    background: yellow;
    color: #000;
    padding: 2px 4px;
    display: inline-block;
    box-shadow: 0px 0px 3px 1px #990;
    border-radius: .5em;
}

/** Video preview (youtube) */
.web-content figure.video a {
    position: relative;
    display: inline-flex;
}

.web-content figure.video a img {
    transition: opacity .2s;
    background: #000;
}

.web-content figure.video a::after {
    position: absolute;
    content: " ";
    background: no-repeat center center;
    background-size: 40%;
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg" fill="rgba(255, 255, 255, 0.7)" stroke="%23000" stroke-width="20"><path d="m256 8c-137 0-248 111-248 248s111 248 248 248 248-111 248-248-111-248-248-248zm115.7 272-176 101c-15.8 8.8-35.7-2.5-35.7-21v-208c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z"/></svg>');
    display: block;
    margin: 0 auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.web-content figure.video a:hover img {
    opacity: 0.7;
}

.web-content figure.image figcaption {
    font-style: italic;
    color: #666;
    margin-top: 2pt;
}

.web-content figure.image.img-center {
    max-width: 500px;
    margin: 1em auto 1em auto;
}

.web-content figure.image.img-left {
    max-width: 200px;
    float: left;
    margin: 0 8pt 4pt 0;
    clear: left;
}

.web-content figure.image.img-right {
    max-width: 200px;
    float: right;
    margin: 0 0 4pt 8pt;
    clear: right;
}

.web-content figure.image.img-left figcaption, .web-content figure.image.img-right figcaption {
    font-size: .8em;
}

.web-content a.internal-image {
    cursor: zoom-in;
}

.web-content img {
    max-width: 100%;
}

.imageBrowser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: url("data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjM4IiBoZWlnaHQ9IjM4IiB2aWV3Qm94PSIwIDAgMzggMzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjZmZmIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPGNpcmNsZSBzdHJva2Utb3BhY2l0eT0iLjUiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMzYgMThjMC05Ljk0LTguMDYtMTgtMTgtMTgiPgogICAgICAgICAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTggMTgiIHRvPSIzNjAgMTggMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+CiAgICAgICAgICAgIDwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") no-repeat center center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity .5s;
    cursor: zoom-out;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.imageBrowser figure {
    max-height: 90%;
    max-width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5s;
    margin: 0;
}

.imageBrowser figure img {
    max-width: 100%;
    max-height: 100%;
    border: .5em solid #000;
    border-radius: .5em;
    cursor: pointer;
    background: #fff;
    /* For transparent images */
    background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
        linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
    background-size: 10px 10px;
    background-position: 0 0, 5px 5px;
}

.imageBrowser figure.loading {
    opacity: 0;
}

.imageBrowser figure.loading img {
    border: none;
}

.web-grid {
    /* Default grid template: just auto sized columns */;
    --grid-template: none / repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
    display: grid;
    grid-template: var(--grid-template);
}

.web-column {
    margin-bottom: 1rem;
}

@media handheld, screen and (max-width: 980px) {
    .imageBrowser figure {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (min-width: 60rem) {
    .web-columns {
        /* Get template from variable, which is defined style attribute */
        grid-template: var(--grid-template);
    }
}