/**
 * Ce fichier contient les styles CSS qui s'appliquent au site public.
 */

/* CSS RESET */
body, form, p, div, hr, fieldset, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
h1  { font-size: 2em; }
h2  { font-size: 1.5em; }
h3  { font-size: 1.2em; }
h4  { font-size: 1em; }
h5  { font-size: 0.9em; }
h6  { font-size: 0.8em; }
ul, ol { list-style-type: none; }
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* CORPS */
body {
    font-size: 100.01%;
    color: #000;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
    background: #eee;
    background: rgba(var(--first-color), 0.2);
}

/* DISPOSITION GÉNÉRALE DE LA PAGE */
main {
    max-width: 950px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-areas:
        "header header"
        "content nav"
}

header.main {
    grid-area: header;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1.4fr 0.6fr;
}
nav.main { grid-area: nav; }
section.page { grid-area: content; }

header.main h1, header.main .contacts, nav.main {
    background: #fff;
    padding: 1em;
    border-radius: .5em
}

header.main .contacts {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

section.page article {
    margin-bottom: 1em;
    padding: 1em;
    background: #fff;
    clear: both;
    border-radius: .5em;
}

/* ENTÊTE AVEC LOGO ET CONTACTS */
header.main h1 {
    padding: 0;
    background: none;
    border-radius: 0;
}

header.main h1 a {
    display: flex;
    padding: 1rem;
    background: #fff;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    text-decoration: none;
    height: calc(100% - 2rem);
    align-items: center;
    justify-content: center;
}

header.main h1 a span {
    font-size: 3vw;
    font-weight: normal;
    color: rgb(var(--second-color));
    display: block;
}

header.main h1 a:hover span {
    color: rgb(var(--first-color));
}

header.main h1 a:hover img {
    opacity: 0.8;
}

header.main h1 a img {
    max-height: 200px;
}

header.main.home h1 a img {
    max-height: 300px;
}

header.main.home h1 a span {
    font-size: 5vw;
}

header.main .contacts {
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

/* NAVIGATION EN HAUT DE LA PAGE (ACCUEIL/CONNEXION) */
header.nav {
    background: #ddd;
    background: rgba(var(--second-color), 0.2);
    border-bottom: 1px solid #999;
    border-top: .3em solid #666;
    text-align: center;
    padding-top: .3em;
    border-color: rgba(var(--first-color), 1);
}

header.nav li {
    display: inline-block;
    padding: .2em .5em;
    margin-bottom: -3px;
}

header.nav li a {
    padding: .1em .5em;
    text-transform: uppercase;
    color: #666;
    text-decoration: none;
}

header.nav li.current a {
    background: #fff;
    border: .1em solid #999;
    border-bottom: none;
    border-top-left-radius: .3em;
    border-top-right-radius: .3em;
}

header.nav li a:hover {
    color: #000;
}

/* LISTE DES CATÉGORIES RACINES */
.subcategories {
    text-align: center;
    margin: 2em 0;
}

nav.main ul li, .subcategories li {
    font-size: 1.4em;
    margin: .8em 0;
    padding: 0;
}

nav.main ul li a, .subcategories li a {
    margin: 0;
    padding: .2em .5em;
    color: #006;
    text-decoration: underline;
    background: #ddd;
    background: rgba(var(--second-color), 0.2);
    border-radius: .5rem;
}

.subcategories li a {
    background: #fff;
}

nav.main ul li a:hover, .subcategories li a:hover {
    color: darkred;
    background: #eee;
}


/* Formulaire de recherche */
.search article p b {
    background: #ff9;
    padding: .2em 0;
}

.search-widget p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}

.search-widget input {
    font-size: 1.2em;
    padding: .2em .5em;
    border: 1px solid #999;
    border-radius: .3rem;
    line-height: 1rem;
    max-width: 10em;
}

.search-widget input[type=submit] {
    margin-left: .5em;
    background: #999;
    color: #fff;
    cursor: pointer;
}

/* PIED DE PAGE */
footer.main {
    color: #666;
    margin: 1em;
    text-align: center;
}

footer.main a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

footer.main a:hover {
    color: #006;
    text-decoration: underline;
}

footer.main a#garradin {
    padding-left: 20px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEX///+qjnmcTxWgYzWeWyiysrGzs7Ozs7MzVhJAAAAAB3RSTlMAGtv2e9p5oKuvKgAAAH1JREFUCNcdzLEOwjAMBNCrFDoXEGK3zA906RoifwBLmpVUSrMTpf59DNM9nU4HYNhjzJNlUaUPAzddN54NKU5uJsGoL4CYce9vA3mUJiLEHrURiRUoXQLRM6N2F4jrajcXm9YDJ+Xwx5AegX/Addn82eA4tah6QPwYNe75C+4yHrwP6fqUAAAAAElFTkSuQmCC") no-repeat left center;
    min-height: 16px;
    display: inline-block;
}

/* CHEMIN VERS L'ARTICLE (BREADCRUMBS), affiche les catégories parentes */
.breadcrumbs {
    margin-bottom: 1em;
    text-align: center;
}

.breadcrumbs ul {
    margin: 0;
}

.breadcrumbs ul li {
    display: inline-block;
}

.breadcrumbs ul li::before {
    content: "»";
    color: #999;
    margin: .5em;
}

.breadcrumbs ul li:nth-child(1)::before {
    display: none;
}

.breadcrumbs a {
    color: #666;
}


/* MESSAGES ALERTE ET ERREUR (par exemple : page non trouvée) */
.error {
    border-bottom: .2em solid #c00;
    border-radius: .5em;
    background: #fcc;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #900;
}

.alert {
    border-bottom: .2em solid #cc0;
    border-radius: .5em;
    background: #ffc;
    padding: .5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: #990;
}

/* AFFICHAGE D'UN ARTICLE */
section.articles article h3, section.articles article h1 {
    margin-bottom: .3em;
}

section.articles article h1 a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

section.articles article h3 a {
    color: #009;
    font-weight: normal;
}

section.articles article h3 a:visited {
    color: #669;
}

section.articles article h5 {
    color: #666;
    font-weight: normal;
    font-size: .8em;
    margin-bottom: .3em;
}

section.page > h1 {
    text-align: center;
    margin-bottom: 1em;
}

/* CONTENU DE L'ARTICLE */
article > h4 {
    margin-bottom: 1em;
    color: #666;
    font-weight: normal;
}

article ul, article ol, article blockquote {
    margin-left: 2em;
}

article ul {
    list-style-type: disc;
}

article ol {
    list-style-type: decimal;
}

article dl dd {
    margin: .5em 0 .5em 2em;
}

article img {
    max-width: 100%;
}

article figure {
    text-align: center;
}

article figcaption {
    font-style: italic;
    color: #666;
    margin-top: 2pt;
    font-size: .8em;
}

article > h1 {
    margin-bottom: 1rem;
}

/* GALERIE D'IMAGES EN DESSOUS DE L'ARTICLE */
section.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-content: center;
    align-items: center;
}

section.gallery figure {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* FORMULAIRES */
fieldset {
    border: 2px solid #ccc;
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
}

fieldset legend {
    padding: 0 1em;
}

fieldset input, fieldset textarea, fieldset select {
    padding: .5rem;
    border: 1px solid #999;
    border-radius: .3rem;
    font-size: 1.2em;
}

fieldset input[type=submit] {
    background: #999;
    color: #fff;
    cursor: pointer;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px orange;
}

fieldset dl dd {
    margin: .5em 1em;
}

/* Modifications du style pour les petits écrans */
@media handheld, screen and (max-width: 980px) {
    body {
        padding: 0;
    }

    main, header.main {
        display: block;
    }

    header.nav {
        font-size: .9em;
        margin: 0;
    }

    header.main h1 a, header.main .contacts {
        border-radius: 0;
        margin: .2em 0;
        padding: 0;
    }

    header.main {
        background: #fff;
        padding: 1em;
    }


    header.main .contacts * {
        text-align: center;
        font-size: .8em;
    }

    header.main h1 a img {
        max-height: 100px;
        max-width: 100%;
    }

    header.main.home h1 a img {
        max-height: 300px;
    }

    .search-widget p {
        display: block;
        text-align: center;
    }

    .search-widget input {
        font-size: 1em;
    }

    nav.main ul, .subcategories {
        text-align: center;
    }

    nav.main ul li, .subcategories li {
        font-size: 1.2em;
        display: inline-block;
        margin: .3em;
    }
    nav.main ul li a, .subcategories li a {
        background: #fff;
    }

    .breadcrumbs {
        display: none;
    }

    nav.main {
        font-size: 1em;
        background: none;
    }

    section.page article {
        border-radius: 0;
    }

    section.page h1 { font-size: 1.5em; }
    section.page h2 { font-size: 1.3em; }
    section.page h3 { font-size: 1.2em; }
    section.page h4 { font-size: 1em; }
    section.page h5 { font-size: .9em; }
    section.page h6 { font-size: .8em; }

    footer.main {
        font-size: .8em;
    }
}