{{:include file="_head.html"}}

{{if $config.adresse_asso || $config.telephone_asso || $config.email_asso}}
	<aside class="contacts">
		{{if $config.adresse_asso}}
			<h4>{{$config.adresse_asso|escape|nl2br}}</h4>
		{{/if}}
		{{if $config.telephone_asso}}
			<h5>{{$config.telephone_asso|raw|protect_contact}}</h5>
		{{/if}}
		{{if $config.email_asso}}
			<h5>{{$config.email_asso|raw|protect_contact}}</h5>
		{{/if}}
	</aside>
{{/if}}


{{#articles order="published DESC" future=false limit=1}}
<section class="articles main">
	<article>
		<h1><a href="{{ $url }}">{{ $title }}</a></h1>
		<h5>Posté : {{ $published|relative_date }}</h5>
		<p>{{ $html|raw|strip_tags|truncate:600 }}</p>
	</article>
</section>
{{/articles}}

{{#articles order="published DESC" future=false begin=1 limit=9}}
<section class="articles">
	<article>
		<h3><a href="{{ $url }}">{{ $title }}</a></h3>
		<h5>Posté : {{ $published|relative_date }}</h5>
		<p>{{ $html|raw|strip_tags|truncate:200 }}</p>
	</article>
</section>
{{/articles}}

{{:include file="_foot.html"}}