{{:include file="_head.html" title="Recherche"}}

<section class="articles search">
	<form method="get" action="">
		<fieldset>
			<legend>Rechercher dans le site</legend>
			<p>
				<input type="search" name="search" value="{{ $_GET.search }}" />
				<input type="submit" value="Chercher" />
			</p>
		</fieldset>
	</form>

	{{#pages search=$_GET.search future=false count=true}}
		{{if !$count}}
			<p class="alert">Aucun résultat trouvé.</p>
		{{else}}
			<p class="alert">{{if $count == 1}}1 résultat trouvé{{else}}{{$count}} résultats trouvés{{/if}}.</p>

			{{#pages search=$_GET.search future=false}}
			<article>
				<h3><a href="{{$url}}">{{$title}}</a></h3>
				<h5>{{$published|date_long}}</h5>
				<p>{{$snippet|raw}}</p>
			</article>
			{{else}}
			<p class="alert">
				Aucun résultat trouvé.
			</p>
			{{/pages}}
		{{/if}}
	{{/pages}}
</section>

{{:include file="_foot.html"}}