{{if $module.config.accounts === null}}
	{{:assign var="form.config.accounts" value='756'}}
{{/if}}

{{if $module.config.accounts}}
	{{:assign show=false}}
	{{:assign accounts=$module.config.accounts|regexp_replace:"/\s*,\s*/":"|"}}
	{{:assign accounts="/%s/"|args:$accounts}}
	{{#foreach from=$transaction_lines item="line"}}
		{{if $line.account_code|regexp_match:$accounts}}
			{{:assign show=true}}
		{{/if}}
	{{/foreach}}
{{else}}
	{{:assign show=true}}
{{/if}}

{{if $show}}
	<h2 class="ruler">{{$module.label}}</h2>
	<p class="actions-center">
		{{:linkbutton href="%s?id=%d"|args:$module.url:$transaction.id target="_dialog" label="Prévisualiser" shape="eye"}}
		{{:linkbutton href="%s?id=%d&print=pdf"|args:$module.url:$transaction.id label="Télécharger en PDF" shape="download"}}
		{{:linkbutton href="%s?id=%d&print=yes"|args:$module.url:$transaction.id target="_blank" label="Imprimer" shape="print"}}
	</p>
{{/if}}
