@font-face {
    font-family: 'gicon';
    src: url('../../admin/static/font/garradin.eot');
    src: url('../../admin/static/font/garradin.eot#iefix') format('embedded-opentype'),
        url('../../admin/static/font/garradin.woff') format('woff'),
        url('../../admin/static/font/garradin.woff2') format('woff2'),
        url('../../admin/static/font/garradin.ttf') format('truetype'),
        url('../../admin/static/font/garradin.svg#garradin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td,
figure, article, aside, section, header, footer { 
    padding: 0;
    margin: 0;
}
fieldset, img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th {
    text-align: left;
}
th, td {
    vertical-align: top;
}

h1  { font-size: 2em; }
h2  { font-size: 1.5em; }
h3  { font-size: 1.2em; }
h4  { font-size: 1em; }
h5  { font-size: 0.9em; }
h6  { font-size: 0.8em; }

dl, ul, ol, h1, h2, h3, h4, h5, h6, pre, p, blockquote, figure, table {
	margin-bottom: .75rem;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 10pt;
}

header.organization {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

header.organization + main h1:first-child {
	border-top: 2px solid #999;
	padding-top: 1rem;
}

header.organization * {
	margin: 0;
	padding: 0;
}

header.organization .logo img {
	margin-right: 1em;
	max-height: 80px;
}

header.organization h1, header.organization h2 {
	margin-bottom: .5rem;
}

header.organization h1 {
	font-size: 1.2rem;
}
header.organization h2 {
	font-size: 1rem;
	font-weight: normal;
}
header.organization h3 {
	font-size: .8rem;
	font-weight: normal;
}
header.organization h4 {
	font-size: .8rem;
	font-weight: normal;
	display: flex;
}
header.organization h4 a {
	display: block;
	margin-right: 1rem;
}

#buttons {
	text-align: center;
}

#buttons a {
	margin: 1em;
	font-size: 1.2em;
}


a.icn-btn {
    cursor: pointer;
    color: #fff;
    border: 1px solid #ccc;
    background: #333;
    user-select: none;
    display: inline-block;
    font-size: inherit;
    border-radius: .2em;
    padding: .2em .4em;
    margin: .2em .5em;
    white-space: pre;
    transition: box-shadow .2s;
    text-decoration: underline;
}

a.icn-btn:hover {
	text-decoration: none;
	box-shadow: 0px 0px 5px orange;
}

[data-icon]:before, .main[data-icon]:after {
    display: inline-block;
    font-family: "gicon", sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding-right: .5em;
    font-size: 1.2em;
    line-height: .8em;
    vertical-align: middle;
    content: attr(data-icon);
    font-weight: normal;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table th, table td {
	padding: .2em;
	border: 1px solid #999;
	text-align: left;
}

td.money {
	text-align: right;
}

.watermark {
	position: absolute;
	font-size: 180pt;
	color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.watermark-red {
	color: rgba(128, 0, 0, 0.4);
}

.watermark div {
	transform: rotate(-45deg);
}

figure.signature {
	text-align: center;
}

figure.signature img {
	max-height: 2.5cm;
}

.placeholder {
	border-bottom: 1px dashed #666;
	min-height: 1em;
}

.info.block {
	border: 1px solid black;
	padding: .5em;
	margin: 1rem 0;
}

.info.block h2 {
	border-bottom: 2px solid #000;
}

.info.block *:last-child {
	margin-bottom: 0;
}

.info.block h4 strong {
	background: yellow;
	border: 1px solid #999;
	padding: .2rem;
}