<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<title>{{if $title}}{{$title}} — {{/if}}{{$config.org_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, target-densitydpi=device-dpi" />
	<style type="text/css">
	:root {
		--first-color: {{if $config.couleur1}}{{$config.couleur1|css_hex_to_rgb}}{{else}}120, 120, 120{{/if}};
		--second-color: {{if $config.couleur2}}{{$config.couleur2|css_hex_to_rgb}}{{else}}30, 30, 30{{/if}};
	}
	</style>
	<link rel="stylesheet" type="text/css" href="{{$root_url}}default.css?2022-07" media="screen,projection,handheld" />
	<link rel="stylesheet" type="text/css" href="{{$root_url}}content.css" media="all" />
	<link rel="alternate" type="application/atom+xml" title="{{$config.org_name}}" href="{{$root_url}}atom.xml" />
	<link rel="icon" type="image/png" href="{{$config.files.favicon}}" />
</head>

<body>

<header class="nav">
	<nav>
		<ul>
			<li class="current"><a href="{{$root_url}}">Accueil</a></li>
			<li><a href="{{$admin_url}}">Connexion</a></li>
		</ul>
	</nav>
</header>

<main>

<header class="main{{if $home}} home{{/if}}">
	<h1>
		<a href="{{$root_url}}">
		{{if $config.files.logo}}
			<img src="{{$config.files.logo}}&500px" alt="" class="logo" />
		{{else}}
			<span>{{$config.org_name}}</span>
		{{/if}}
		</a>
	</h1>

	{{if $config.org_address || $config.org_phone || $config.org_email}}
		<article class="contacts">
			{{if $config.files.logo}}
			<h3>{{$config.org_name}}</h3>
			{{/if}}
			{{if $config.org_address}}
				<h4>{{$config.org_address|escape|nl2br}}</h4>
			{{/if}}
			{{if $config.org_phone}}
				<h5>{{$config.org_phone|raw|protect_contact}}</h5>
			{{/if}}
			{{if $config.org_email}}
				<h5>{{$config.org_email|raw|protect_contact}}</h5>
			{{/if}}
		</article>
	{{/if}}
</header>

<nav class="main">
	<form method="get" action="{{ $root_url }}search.html" class="search-widget">
		<p>
			<input type="search" name="search" placeholder="Rechercher…" />
			<input type="submit" value="»" />
		</p>
	</form>

	<ul>
	{{#categories parent=null order="title"}}
		<li><a href="{{$url}}" {{if $url == $.url}}class="current"{{/if}}>{{ $title }}</a></li>
	{{/categories}}
	</ul>
</nav>

<section class="page">
