{{#restrict section="accounting" level="write" block=true}}{{/restrict}}

{{:include file="./_config_default.tpl" keep="module.config"}}

{{#load id=$_GET.id assign="recu"}}
{{else}}
	{{:error message="Ce reçu n'existe pas"}}
{{/load}}

{{if $recu.linked_user}}
	{{#users id=$recu.linked_user}}
		{{:assign email=$_email}}
	{{/users}}
{{/if}}

{{:admin_header title="Envoyer un reçu"}}

{{#form on="send"}}
	{{:mail
		to=$_POST.email_to|trim
		subject=$_POST.email_subject|trim
		body=$_POST.email_body|trim
		attach_from="./recu.html?id=%d&print=pdf"|args:$recu.id
	}}
	{{:redirect to="envoyer.html?id=%d&sent=1"|args:$recu.id}}
{{/form}}

{{if $_GET.sent}}
	<p class="block confirm">Le reçu a bien été envoyée par e-mail.</p>
{{/if}}

{{:form_errors}}

<form method="post" action="">
	<fieldset>
		<legend>Envoyer un reçu fiscal</legend>
		<dl>
			<dt>Numéro du reçu</dt>
			<dd>{{$recu.id}}</dd>
			<dt>Donateur</dt>
			<dd>{{$recu.nom}}</dd>
			{{:input type="email" name="email_to" required=true default=$email label="Adresse du destinataire"}}
			{{:input name="email_subject" type="text" source=$module.config label="Sujet du message" required=true}}
			{{:input name="email_body" type="textarea" cols="70" rows=7 source=$module.config label="Corps du message" required=true}}
		</dl>
	</fieldset>
	<p class="submit">
		{{:button type="submit" label="Envoyer" name="send" shape="right" class="main"}}
	</p>
</form>


{{:admin_footer}}
