{{#restrict block=true section="accounting" level="write"}}
{{/restrict}}

{{:include file="./_config_default.tpl" keep="module.config"}}

{{#form on="create"}}
	{{#foreach from=$_POST.new item="row"}}
		{{:assign row=$row|json_decode}}
		{{:assign skip=false}}

		{{if $row.id_transaction|trim|strlen}}
			{{:assign id_transaction=$row.id_transaction|explode:','|map:intval}}
			{{:assign in_transaction="value"|sql_where:'IN':$id_transaction}}
			{{#load each="linked_transactions" where="$$.linked_transactions IS NOT NULL AND $$.annule = 0 AND %s"|args:$in_transaction}}
				{{:assign var="skipped." value="- le reçu n°%d a déjà été créé pour l'écriture #%d"|args:$id:$value}}
				{{:assign skip=true}}
			{{/load}}
		{{/if}}

		{{if $skip}}
			{{:continue}}
		{{/if}}

		{{:include file="./_recu.html" capture="recu" r=$row}}
		{{:save
			validate_schema="./recu.schema.json"
			assign_new_id="new_id"
			nom=$row.nom
			adresse=$row.adresse
			date=$now|date_format:'%Y-%m-%d'
			montant=$row.montant
			linked_user=$row.id_user
			linked_transactions=$row.id_transaction|explode:','|map:intval
			annule=false
			id_year=$_GET.id_year|intval
			recu=$recu
		}}
	{{/foreach}}

	{{if $skipped}}
		{{:assign skipped=$skipped|implode:"\n"}}
		{{:error message="Des reçus n'ont pas pu être créés car leurs écritures étaient déjà utilisées dans d'autres reçus :\n%s\nPour créer de nouveaux reçus liés à ces écritures, il faut déjà annuler les reçus existants."|args:$skipped}}
	{{/if}}

	{{:redirect to=$module.url}}
{{/form}}

{{:admin_header title="Générer des reçus" current="acc"}}


{{if !$dialog}}
<nav class="tabs">
	{{:linkbutton href="./" label="Retour à la liste des reçus" shape="left"}}
</nav>
{{/if}}

{{:form_errors}}

{{if !$_GET.id_year}}
	{{#years order="end_date DESC"}}
		{{:assign var="years.%d"|args:$id value=$label}}
	{{/years}}

	<form method="get" action="">
		<fieldset>
			<legend>Générer tous les reçus d'un exercice</legend>
			<dl>
				{{:input type="select" name="id_year" label="Exercice" required=true label="Exercice" options=$years}}
			</dl>
		</fieldset>

		<p class="submit">
			{{:button type="submit" shape="right" label="Prévisualiser" class="main"}}
		</p>
	</form>
{{else}}
	{{* Récupération des comptes et soldes *}}
	{{:assign var="codes_don" value=$module.config.comptes_don|keys}}
	{{:assign var="codes_don_nature" value=$module.config.comptes_don_nature|keys}}
	{{:assign var="codes_especes" value=$module.config.comptes_especes|keys}}
	{{:assign var="codes_cheques" value=$module.config.comptes_cheques|keys}}
	{{:assign var="champs_adresse" value=$module.config.champs_adresse|quote_sql_identifier:"u"|implode:" || ' — ' || "}}
	{{:assign var="champs_nom" value=$config.user_fields.name|quote_sql_identifier:"u"|implode:" || ' ' || "}}
	{{:assign var="champs_numero" value=$config.user_fields.number|quote_sql_identifier:"u"}}
	{{:assign var="total" value=0}}
	{{:assign var="count" value=0}}

	<form method="post" action="">

	<table class="list">
		<thead>
			<tr>
				<td class="check"></td>
				<td class="num">Num.</td>
				<td>Nom du membre</td>
				<td>Adresse</td>
				<td>Espèces</td>
				<td>Chèque</td>
				<td>Autres</td>
				<td>En nature</td>
				<td>Montant des dons</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
		{{#select *,
			GROUP_CONCAT(tid, ',') AS id_transaction,
			SUM(numeraire) AS numeraire,
			SUM(nature) AS nature,
			SUM(especes) AS especes,
			SUM(cheques) AS cheques,
			SUM(autres) AS autres
			FROM (
				SELECT
				u.id AS id_user,
				!champs_numero AS numero,
				t.id AS tid,
				SUM(l1.credit) AS montant,
				a1.code AS account,
				!champs_nom AS nom,
				!champs_adresse AS adresse,
				-- Paiements en espèces?
				(SELECT 1 FROM acc_transactions_lines l2
					INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_especes
					WHERE l2.debit != 0 AND l2.id_transaction = t.id LIMIT 1) AS especes,
				-- Paiements en chèques?
				(SELECT 1 FROM acc_transactions_lines l2
					INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_cheques
					WHERE l2.debit != 0 AND l2.id_transaction = t.id LIMIT 1) AS cheques,
				-- Paiements en autres moyens?
				(SELECT GROUP_CONCAT(DISTINCT a2.code) FROM acc_transactions_lines l2
					INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND NOT a2.!code_cheques AND NOT a2.!code_especes
					WHERE l2.debit != 0 AND l2.id_transaction = t.id LIMIT 1) AS autres,
				-- Dons en nature ?
				(SELECT 1 FROM acc_transactions_lines l2
					INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don_nature
					WHERE l2.credit != 0 AND l2.id_transaction = t.id) AS nature,
				-- Dons en numeraire ?
				(SELECT 1 FROM acc_transactions_lines l2
					INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don
					WHERE l2.credit != 0 AND l2.id_transaction = t.id) AS numeraire

				FROM acc_transactions t
				INNER JOIN acc_transactions_users tu ON tu.id_transaction = t.id
				INNER JOIN users u ON tu.id_user = u.id
				INNER JOIN acc_transactions_lines l1 ON l1.id_transaction = t.id AND l1.credit != 0
				INNER JOIN acc_accounts a1 ON a1.id = l1.id_account AND (a1.!code_don_nature OR a1.!code_don)

				WHERE t.id_year = {$_GET.id_year|intval}

				GROUP BY tu.id_user
			)
			ORDER BY nom COLLATE U_NOCASE;

			!champs_nom=$champs_nom
			!champs_adresse=$champs_adresse
			!champs_numero=$champs_numero
			!code_don_nature="code"|sql_where:"IN":$codes_don_nature
			!code_don="code"|sql_where:"IN":$codes_don
			!code_especes="code"|sql_where:"IN":$codes_especes
			!code_cheques="code"|sql_where:"IN":$codes_cheques
		}}
			{{:assign .="row"}}
			<tr class="checked">
				<td class="check">
					{{:input type="checkbox" name="new[]" value=$row|json_encode checked=true}}
				</td>
				<td class="num">
					{{:link href="!users/details.php?id=%d"|args:$id_user label=$numero}}
				</td>
				<th>{{$nom}}</th>
				<td>{{$adresse}}</td>
				<td>{{if $especes}}{{:icon shape="check"}}{{/if}}</td>
				<td>{{if $cheques}}{{:icon shape="check"}}{{/if}}</td>
				<td>{{if $autres}}{{:icon shape="check"}}{{/if}}</td>
				<td>{{if $nature}}{{:icon shape="check"}}{{/if}}</td>
				<td class="money">{{$montant|money}}</td>
				<td class="actions">{{:linkbutton shape="menu" href="!acc/transactions/user.php?id=%d&year=%d"|args:$id_user:$_GET.id_year label="Liste des écritures" target="_dialog"}}</td>
			</tr>
			{{:assign var="total" value="%d+%d"|math:$total:$montant}}
			{{:assign var="count" value="%d+1"|math:$count}}
		{{/select}}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="2"></td>
				<td colspan="6">Total des dons</td>
				<td class="money">{{$total|money}}</td>
				<td></td>
			</tr>
		</tfoot>
	</table>

	<p class="help">
		Note&nbsp;: un reçu créé ne peut plus être modifié, mais seulement annulé.
	</p>

	<p class="submit">
		{{:button type="submit" name="create" shape="right" label="Créer ces reçus" class="main"}}
	</p>
	</form>
{{/if}}

{{:admin_footer}}