{{#restrict block=true section="accounting" level="write"}}
{{/restrict}}

{{:include file="./_config_default.tpl" keep="module.config"}}

{{if $_GET.user}}
	{{#foreach from=$_GET.user key="id" item="user"}}
		{{:assign id_user=$id|intval}}
	{{/foreach}}
{{elseif $_GET.id_user}}
	{{:assign id_user=$_GET.id_user|intval}}
{{/if}}

{{:assign var="default.date" value=$now}}

{{#form on="create"}}
	{{if !$_POST.date|trim|parse_date}}
		{{:error message="Date d'émission invalide ou vide."}}
	{{elseif !$_POST.nom|trim}}
		{{:error message="Le nom du donateur ne peut être laissé vide."}}
	{{elseif !$_POST.adresse|trim}}
		{{:error message="L'adresse du donateur ne peut être laissée vide."}}
	{{elseif !$_POST.numeraire && !$_POST.nature}}
		{{:error message="Le type de don n'a pas été sélectionné."}}
	{{elseif $_POST.numeraire && !$_POST.moyens|count}}
		{{:error message="Aucun moyen de paiement n'a été coché."}}
	{{elseif !$_POST.montant|trim || $_POST.montant < 0}}
		{{:error message="Le montant du don ne peut être laissé vide."}}
	{{/if}}

	{{:assign id_transaction=null}}

	{{if $_POST.id_transaction|trim|strlen}}
		{{:assign id_transaction=$_POST.id_transaction|explode:','|map:intval}}
		{{:assign in_transaction="value"|sql_where:'IN':$id_transaction}}
		{{#load each="linked_transactions" where="$$.linked_transactions IS NOT NULL AND $$.annule = 0 AND %s"|args:$in_transaction}}
			{{:error message="L'écriture #%d est déjà utilisée dans le reçu n°%d. Il faut déjà annuler ce reçu pour pouvoir le re-créer."|args:$value:$id}}
		{{/load}}
	{{/if}}

	{{:include file="./_recu.html" capture="recu"}}
	{{:save
		validate_schema="./recu.schema.json"
		assign_new_id="new_id"
		nom=$_POST.nom|trim
		adresse=$_POST.adresse|trim
		date=$_POST.date|parse_date
		montant=$_POST.montant|money_int
		linked_user=$_POST.id_user|intval|or:null
		linked_transactions=$id_transaction
		id_year=$_POST.id_year
		annule=false
		recu=$recu
	}}

	{{if !$dialog}}
		{{:redirect to="voir.html?id=%d"|args:$new_id}}
	{{else}}
		{{:redirect to="recu.html?id=%d"|args:$new_id}}
	{{/if}}
{{/form}}

{{:admin_header title="Créer un nouveau reçu fiscal" current="acc"}}

{{:assign var="champs_adresse" value=$module.config.champs_adresse|quote_sql_identifier:"u"|implode:" || ' — ' || "}}
{{:assign var="champs_nom" value=$config.user_fields.name|quote_sql_identifier:"u"|implode:" || ' ' || "}}

{{:assign var="codes_don" value=$module.config.comptes_don|keys}}
{{:assign var="codes_don_nature" value=$module.config.comptes_don_nature|keys}}
{{:assign var="codes_especes" value=$module.config.comptes_especes|keys}}
{{:assign var="codes_cheques" value=$module.config.comptes_cheques|keys}}

{{if $id_user}}
	{{#select !champs_adresse AS adresse, !champs_nom AS nom FROM users u WHERE id = {$id_user|intval};
		!champs_adresse=$champs_adresse
		!champs_nom=$champs_nom
	}}
		{{:assign var="default.address" value=$adresse}}
		{{:assign var="default.name" value=$nom}}
	{{else}}
		{{:error message="Ce membre n'existe pas."}}
	{{/select}}

	{{:assign var="default.id_user" value=$id_user}}

	{{* Récupération des comptes et soldes *}}
	{{#select
		GROUP_CONCAT(DISTINCT id) AS id_transaction,
		SUM(total) AS total,
		year,
		MAX(especes) AS especes,
		MAX(cheques) AS cheques,
		MAX(nature) AS nature,
		MAX(numeraire) AS numeraire
		FROM (
			SELECT
			t.id AS id,
			SUM(l1.credit) AS total,
			strftime('%Y', t.date) AS year,
			-- Paiements en espèces?
			(SELECT 1 FROM acc_transactions_lines l2
				INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_especes
				WHERE l2.credit = 0 AND l2.id_transaction = id_transaction LIMIT 1) AS especes,
			-- Paiements en chèques?
			(SELECT 1 FROM acc_transactions_lines l2
				INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_cheques
				WHERE l2.credit = 0 AND l2.id_transaction = id_transaction LIMIT 1) AS cheques,
			-- Dons en nature ?
			(SELECT 1 FROM acc_transactions_lines l2
				INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don_nature
				WHERE l2.debit = 0 AND l2.id_transaction = id_transaction) AS nature,
			-- Dons en numeraire ?
			(SELECT 1 FROM acc_transactions_lines l2
				INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don
				WHERE l2.debit = 0 AND l2.id_transaction = id_transaction) AS numeraire
			FROM acc_transactions t
			INNER JOIN acc_transactions_users tu ON tu.id_transaction = t.id AND tu.id_user = {$id_user}
			INNER JOIN acc_transactions_lines l1 ON l1.id_transaction = t.id AND l1.debit = 0
			INNER JOIN acc_accounts a1 ON a1.id = l1.id_account AND (a1.!code_don_nature OR a1.!code_don)
			GROUP BY t.id
		) GROUP BY year ORDER BY year;
		!code_don_nature="code"|sql_where:"IN":$codes_don_nature
		!code_don="code"|sql_where:"IN":$codes_don
		!code_especes="code"|sql_where:"IN":$codes_especes
		!code_cheques="code"|sql_where:"IN":$codes_cheques
	}}
		{{:assign .="user_years.%d"|args:$year}}
	{{/select}}

	{{#foreach from=$user_years key="year" item="data"}}
		{{:assign total_money=$data.total|money_currency}}
		{{:assign var="user_select.%d"|args:$year value="%d (%s)"|args:$year:$total_money}}
	{{/foreach}}

	<script type="text/javascript">
	var user_years = {{$user_years|json_encode|raw}};
	</script>
{{elseif $_GET.id_transaction}}
	{{#select
		u.id AS id_user,
		t.id AS id_transactions,
		SUM(l1.credit) AS total,
		date() AS date,
		!champs_nom AS name,
		!champs_adresse AS address,
		-- Paiements en espèces?
		(SELECT 1 FROM acc_transactions_lines l2
			INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_especes
			WHERE l2.credit = 0 AND l2.id_transaction = id_transaction LIMIT 1) AS especes,
		-- Paiements en chèques?
		(SELECT 1 FROM acc_transactions_lines l2
			INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_cheques
			WHERE l2.credit = 0 AND l2.id_transaction = id_transaction LIMIT 1) AS cheques,
		-- Paiements en autres moyens?
		(SELECT 1 FROM acc_transactions_lines l2
			INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND NOT a2.!code_cheques AND NOT a2.!code_especes
			WHERE l2.credit = 0 AND l2.id_transaction = id_transaction LIMIT 1) AS autres,
		-- Dons en nature ?
		(SELECT 1 FROM acc_transactions_lines l2
			INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don_nature
			WHERE l2.debit = 0 AND l2.id_transaction = id_transaction) AS nature,
		-- Dons en numeraire ?
		(SELECT 1 FROM acc_transactions_lines l2
			INNER JOIN acc_accounts a2 ON a2.id = l2.id_account AND a2.!code_don
			WHERE l2.debit = 0 AND l2.id_transaction = id_transaction) AS numeraire
		FROM acc_transactions t
		INNER JOIN acc_transactions_users tu ON tu.id_transaction = t.id
		INNER JOIN users u ON u.id = tu.id_user
		INNER JOIN acc_transactions_lines l1 ON l1.id_transaction = t.id AND l1.debit = 0
		INNER JOIN acc_accounts a1 ON a1.id = l1.id_account AND (a1.!code_don_nature OR a1.!code_don)
		WHERE t.id = {$_GET.id_transaction|intval};
		!champs_nom=$champs_nom
		!champs_adresse=$champs_adresse
		!code_don_nature="code"|sql_where:"IN":$codes_don_nature
		!code_don="code"|sql_where:"IN":$codes_don
		!code_especes="code"|sql_where:"IN":$codes_especes
		!code_cheques="code"|sql_where:"IN":$codes_cheques

		assign="default"
	}}
	{{else}}
		{{:error message="Numéro d'écriture inconnu"}}
	{{/select}}
{{/if}}

{{if !$dialog}}
<nav class="tabs">
	{{:linkbutton href="./" label="Retour à la liste des reçus" shape="left"}}
</nav>
{{/if}}

{{:form_errors}}

{{if !$_GET.type}}
	<form method="get" action="">
		<fieldset>
			<legend>Nouveau reçu</legend>
			<dl>
				{{:input type="radio-btn" name="type" value="user" label="Créer un reçu pour un membre"}}
				{{:input type="radio-btn" name="type" value="transaction" label="Créer un reçu à partir d'une écriture"}}
				{{:input type="radio-btn" name="type" value="vierge" label="Créer un reçu vierge"}}
			</dl>
		</fieldset>
		<fieldset class="type-user hidden">
			<legend>Reçu pour un membre</legend>
			<dl>
				{{:input type="list" multiple=false name="user" label="Sélectionner un membre" target="!users/selector.php" required=true}}
			</dl>
		</fieldset>
		<fieldset class="type-transaction hidden">
			<legend>Reçu pour une écriture</legend>
			<dl>
				{{:input type="number" name="id_transaction" label="Indiquer le numéro de l'écriture" min=0 required=true}}
			</dl>
		</fieldset>

		<p class="submit hidden">
			{{if $dialog}}
			<input type="hidden" name="_dialog" value="" />
			{{/if}}
			{{:button type="submit" shape="right" label="Continuer" class="main"}}
		</p>
	</form>

	<script type="text/javascript">
	$('[name="type"]').forEach((i) => {
		i.onchange = selectType;
	});

	function selectType() {
		var type = $('[name="type"]:checked')[0].value;

		g.toggle('.type-user', type == 'user');
		g.toggle('.type-transaction', type == 'transaction');
		g.toggle('.submit', true);
		g.resizeParentDialog();
	}
	</script>

{{else}}
	<form method="post" action="">
		<fieldset>
			<legend>Nouveau reçu</legend>
			<dl>
				{{:input type="text" name="nom" label="Nom du bénéficiaire" required=true default=$default.name}}
				{{:input type="textarea" cols="50" rows="3" name="adresse" label="Adresse du bénéficiaire" required=true default=$default.address}}
				{{if $user_select}}
					{{:input type="select" name="annees" label="Pour quelle année le reçu doit-il être généré ?" required=true options=$user_select}}
				{{/if}}

				{{:input type="date" name="date" required=true label="Date du reçu" default=$default.date}}
				{{:input type="money" name="montant" required=true label="Montant des dons" default=$default.total}}

				<dt>Type de don</dt>
				{{:input type="checkbox" name="numeraire" value="1" label="Don en numéraire (en euros)" default=$default.numeraire}}
				{{:input type="checkbox" name="nature" value="1" label="Don en nature" help="Par exemple abandon de frais par les bénévoles" default=$defaut.nature}}
			</dl>
			<dl class="hidden type-numeraire">
				<dt>Moyens de paiement</dt>
				{{:input type="checkbox" name="moyens[especes]" value=1 label="Paiement en espèces" default=$default.especes}}
				{{:input type="checkbox" name="moyens[cheques]" value=1 label="Paiement en chèques" default=$default.cheques}}
				{{:input type="checkbox" name="moyens[autres]" value=1 label="Paiement par virement, prélèvement, carte bancaire, ou autre" default=$default.autres}}
			</dl>
		</fieldset>

		<p class="help">
			Note&nbsp;: un reçu créé ne peut plus être modifié, mais seulement annulé.
		</p>

		<p class="submit hidden">
			<input type="hidden" name="id_user" value="{{$default.id_user}}" />
			<input type="hidden" name="id_transaction" value="{{$default.id_transaction}}" />
			{{:button type="button" name="preview" shape="eye" label="Prévisualiser"}}
			{{:button type="submit" name="create" shape="right" label="Créer ce reçu" class="main"}}
		</p>
	</form>

	<script type="text/javascript">
	$('#f_numeraire_1, #f_nature_1').forEach((i) => {
		i.onchange = selectType;
	});

	function selectType() {
		g.toggle('.type-numeraire', $('#f_numeraire_1').checked);
		g.toggle('.submit', $('#f_numeraire_1').checked || $('#f_nature_1').checked);
		g.resizeParentDialog();
	}

	selectType();

	var y = $('#f_annees');

	if (y) {
		function selectYear() {
			$('#f_nature_1').checked = $('#f_numeraire_1').checked
				= $('#f_moyensespeces_1').checked
				= $('#f_moyenscheques_1').checked
				= $('#f_moyensautres_1').checked = false;

			let year = y.value;
			let d = user_years[year];
			$('#f_montant').value = g.formatMoney(d.total);

			$('#f_nature_1').checked = d.nature > 0;
			$('#f_numeraire_1').checked = d.numeraire > 0;
			$('#f_moyensespeces_1').checked = d.especes > 0;
			$('#f_moyenscheques_1').checked = d.cheques > 0;
			$('#f_moyensautres_1').checked = d.autres > 0;
			$('#f_montant').form.id_transaction.value = d.id_transaction;

			selectType();
		}

		y.onchange = selectYear;
		selectYear();
	}

	let p = $('[name=preview]')[0];

	p.addEventListener('click', (e) => {
		let form = e.target.form;
		form.action = "previsualiser.html";
		form.target = "dialog";
		g.openFrameDialog('about:blank', 'auto');
		form.submit();
		form.action = "";
		form.target = "";
	});
	</script>
{{/if}}

{{:admin_footer}}