{{#restrict block=true section="accounting" level="write"}}
{{/restrict}}

{{if !$_POST}}
	{{:error message="Aucune donnée fournie"}}
{{/if}}

{{:assign var="preview" value=1}}

{{:include file="/receipt/_header.html"
	page_size="A4"
	title="Reçu fiscal %06d - %s"|args:$id:$r.nom
	hide_buttons=true
}}

<div class="watermark">
	<div>Brouillon</div>
</div>

{{:include file="./_recu.html"}}

<figure class="signature">
	{{if $config.files.signature}}
		<img src="{{$config.files.signature}}" alt="Signature association" />
	{{elseif $config.files.logo}}
		<img src="{{$config.files.logo}}" alt="Signature association" />
	{{/if}}
</figure>

{{:include file="/receipt/_footer.html"}}


