{{#restrict block=true section="accounting" level="write"}}
{{/restrict}}

{{if !$_GET.id}}
	{{:error message="Aucun numéro de reçu n'a été fourni"}}
{{/if}}

{{#load id=$_GET.id}}
	{{:include file="/receipt/_header.html"
		page_size="A5"
		title="Reçu fiscal %06d - %s"|args:$id:$nom
		hide_header=true
	}}

	{{if $annule}}
	<div class="watermark watermark-red">
		<div>Annulé</div>
	</div>
	{{/if}}

	{{:assign var="recu" value=$recu|replace:'%ID%':$id}}
	{{$recu|raw}}

	<figure class="signature">
		{{if $config.files.signature}}
			<img src="{{$config.files.signature}}" alt="Signature association" />
		{{elseif $config.files.logo}}
			<img src="{{$config.files.logo}}" alt="Signature association" />
		{{/if}}
	</figure>

	{{:include file="/receipt/_footer.html"}}
{{else}}
	{{:error message="Le numéro de reçu fourni n'a pas été trouvé"}}
{{/load}}
