{{:admin_header title="Configuration des ouvertures"}}


{{*:assign var="frequencies['']" value=*}}

{{if $_POST.save}}
	{{#foreach from=$_POST.slots|array_transpose key="i" item="slot"}}
		{{:assign line="%d+1"|math:$i}}
		{{:assign var="slot"
			day=$slot.day
			frequency=$slot.frequency
			open='%02d:%02d'|args:$slot.open_hour:$slot.open_minutes
			close='%02d:%02d'|args:$slot.close_hour:$slot.close_minutes
		}}
		{{:assign var="slots[%d]"|args:$i value=$slot}}

		{{if !"%s %s"|args:$slot.frequency:$slot.day|trim|strtotime}}
			{{:assign error="Ouvertures - ligne %d : le sélecteur de jour est invalide: %s %s"|args:$line:$slot.frequency:$slot.day}}
			{{:break}}
		{{elseif !$slot.open|regexp_match:'/^(2[0-3]|[01][0-9]):([0-5][0-9])$/'}}
			{{:assign error="Ouvertures - ligne %d: heure d'ouverture invalide."|args:$line}}
			{{:break}}
		{{elseif !$slot.close|regexp_match:'/^(2[0-3]|[01][0-9]):([0-5][0-9])$/'}}
			{{:assign error="Ouvertures - ligne %d: format de fermeture invalide."|args:$line}}
			{{:break}}
		{{/if}}
	{{/foreach}}

	{{if $error}}
		<p class="error block">{{$error}}</p>
	{{elseif true}}
		{{:save key="config"
			validate_schema="./schema.json"
			open=$slots
			closed=$_POST.closed|array_transpose
		}}
		{{:http redirect="?ok=1"}}
	{{else}}
	{{/if}}
{{/if}}

{{if $_GET.ok}}
	<p class="block confirm">Configuration enregistrée.</p>
{{/if}}

<form method="post" action="{{$form.url}}config.html">

	<fieldset class="slots">
		<legend>Heures d'ouvertures</legend>
		<p class="help">Indiquer ici les jours et heures d'ouverture. Ils apparaîtront sur le site web.</p>
		<table class="list">
			<thead>
				<tr>
					<td>Occurence</td>
					<td>Jour</td>
					<td>De</td>
					<td>À</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<p class="actions">{{:button shape="plus" label="Ajouter une ligne"}}</p>
	</fieldset>

	<fieldset class="closed">
		<legend>Jours de fermeture exceptionnelle</legend>
		<p class="help">Indiquer ici les périodes de fermeture pour jours fériés, congés, etc.</p>
		<table class="list">
			<thead>
				<tr>
					<td>Du</td>
					<td>Au</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<p class="actions">{{:button shape="plus" label="Ajouter une ligne"}}</p>
	</fieldset>

	<p class="submit">
		{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
	</p>

	{{:include file="./_common.tpl" keep="months,frequencies,days"}}
	<script type="text/javascript">
	const months = {{$months|json_encode|raw}};
	const frequencies = {{$frequencies|json_encode|raw}};
	const days = {{$days|json_encode|raw}};
	const open_data = {{$form.config|json_encode|raw}};
	</script>
	<script type="text/javascript" src="{{$form.url}}config.js"></script>
</form>

{{:admin_footer}}