{{:assign page_title="Configuration du module “Devis et factures”"}}
{{:admin_header title=$page_title}}

{{:include file='./include/constants.tpl' keep='vat_exemption_type'}}

{{if $_POST.save}}
	{{:assign var='allowed_type' from='vat_exemption_type.%s'|args:$_POST.vat_exemption}}
	{{if !$allowed_type}}
		{{:assign var='check_errors.' value="Type d'association invalide."}}
	{{/if}}

	{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Numéro SIRET trop long' check_value=$_POST.siret check_max=14}}
	{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Ville de signature des devis trop longue' check_value=$_POST.signing_place check_max=128}}
	{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label="Texte d'introduction trop long" check_value=$_POST.introduction_text check_max=256}}
	{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Instructions de paiement trop longues' check_value=$_POST.payment_detail check_max=512}}
	{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Informations complémentaires trop longues' check_value=$_POST.quotation_extra_info check_max=512}}

	{{if !$check_errors}}
		{{:save key="config"
			validate_schema="./config.schema.json"
			vat_exemption=$_POST.vat_exemption
			siret=$_POST.siret
			signing_place=$_POST.signing_place
			introduction_text=$_POST.introduction_text
			payment_detail=$_POST.payment_detail
			quotation_extra_info=$_POST.quotation_extra_info
		}}
		{{:http redirect="?ok=1"}}
	{{/if}}
{{/if}}

<h1 class="ruler">{{$page_title}}</h1>
<form method="POST" action="{{$self_url}}">
	<p class="infos">
		Conformement à la législation, le changement de ces informations n'impactera que les futurs devis/factures. Les devis et factures déjà rédigés ne tiennent pas compte de ces modifications.
	</p>
	{{if $check_errors}}
		{{#foreach from=$check_errors item='error'}}
			<p class="error block">{{$error}}</p>
		{{/foreach}}
	{{elseif $_GET.ok}}
		<p class="block confirm">Configuration enregistrée. <br />
		{{:link href="#" label="Retour à la page des extensions" onclick="window.parent.g.closeDialog()"}}<br />
		</p>
	{{/if}}
	<fieldset>
		<legend>Caractéristiques de l'association</legend>
		{{:input type="radio" name="vat_exemption" label="Association non-lucrative" value="nonprofit" help="art. 261-7-1 du CGI" required=true default=$module.config.vat_exemption}}
		{{:input type="radio" name="vat_exemption" label="Association lucrative" value="profit" help="franchise en base de TVA, art. 293 B du CGI" required=true default=$module.config.vat_exemption}}
		{{:input type="text" name="siret" label="Numéro SIRET" required=false default=$module.config.siret}}
		{{:input type="text" name="signing_place" label="Ville de signature des devis" required=false default=$module.config.signing_place}}
	</fieldset>
	<fieldset>
		<legend>Informations</legend>
		{{:input required=false name="introduction_text" type="textarea" label="Texte d'introduction" source=$module.config default="Madame, Monsieur,\nSuite à votre demande, veuillez trouver ci-dessous notre proposition de devis." placeholder="ex : Formule de politesse." cols="50" rows="4"}}
		{{:input required=false name="payment_detail" type="textarea" label="Instructions de paiement" default=$module.config.payment_detail placeholder="BIC :&#10;ABCDEFGH012&#10;FR9901234567890123456789012&#10;La banque eh! tic&#10;&#10;Paiement à réaliser sous 15 jours." cols="50" rows="5"}}
		{{:input required=false name="quotation_extra_info" type="textarea" label="Informations complémentaires affichées en bas des devis" default=$module.config.quotation_extra_info placeholder="ex : Formule de politesse." cols="50" rows="3"}}
	</fieldset>
	{{:button type="submit" name="save" label="Enregistrer la configuration" class="main"}}
</form>

{{:admin_footer}}
