{{:assign page_title="Configuration du module de devis et facture"}}
{{:admin_header title=$page_title}}

{{if $_POST.save}}
	<!-- Todo: add a nice error check here -->
	{{if $error}}
		<p class="error block">{{$error}}</p>
	{{else}}
		{{:save key="config"
			validate_schema="./config.schema.json"
			payment_detail=$_POST.payment_detail
			quotation_extra_info=$_POST.quotation_extra_info
		}}
		{{:http redirect="?ok=1"}}
	{{/if}}
{{elseif $_GET.ok}}
	<p class="block confirm">Configuration enregistrée.</p>
{{/if}}

<h1>{{$page_title}}</h1>
<form method="POST" action="{{$self_url}}">
	<fieldset>
		<legend></legend>
		{{:input required=false name="payment_detail" type="textarea" label="Instructions de paiement" default=$module.config.payment_detail placeholder="BIC :&#10;ABCDEFGH012&#10;FR9901234567890123456789012&#10;La banque eh! tic&#10;&#10;Paiement à réaliser sous 15 jours."}}
		{{:input required=false name="quotation_extra_info" type="textarea" label="Informations complémentaires affichées en bas des devis" default=$module.config.quotation_extra_info placeholder="ex : Site officiel : https://www.mon-asso.fr"}}
	</fieldset>
	{{:button type="submit" name="save" label="Enregistrer la configuration"}}
</form>

<!--
<form method="POST" action="{{$self_url}}">
	<fieldset>
		<legend>Création d'un devis</legend>
		<ul>
			<li>{{:input required=true name="subject" type="text" label="Objet" default="" placeholder="ex : Prêt d'un barnum pour festival"}}</li>
			<li>{{:input required=true name="recepient" type="text" label="Destinataire" default="" placeholder="ex : Asso ejp92"}}</li>
			<li>{{:input required=true name="date" type="date" label="Date" default=""}}</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend>Article</legend>
		<ul>
			<li>{{:input required=true name="name" type="text" label="Nom" default="" placeholder="ex : Prêt d'un barnum 1/2 journée"}}</li>
			<li>{{:input required=true name="description" type="textarea" label="Description" default="" placeholder="ex : Prêt pour une demi-journée"}}</li>
			<li>{{:input required=true name="quantity" type="text" label="Quantité" default=""}}</li>
			<li>{{:input required=true name="unit_price" type="text" label="Prix unitaire" default=""}}</li>
			<li>{{:input required=true name="total" type="text" label="Total" default=""}}</li>
		</ul>
	</fieldset>
	{{:button type="submit" name="save" label="Créer le devis"}}
</form>
-->

{{:admin_footer}}
