{{#restrict section="accounting" level="read"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
<nav class="tabs">
	<aside>
		{{:linkbutton href="edit.html" label="Nouveau devis" shape="plus"}}
	</aside>
	{{:include file='./include/main_nav_tabs.html'}}
</nav>
{{:include file='./include/style.tpl'}}

{{* ==================== Listing ==================== *}}

{{#sql select='id' tables='module_data_invoice'}}
	{{:assign found=true}}
{{/sql}}

{{if !$found}}
	<p class="infos">Aucun devis.</p>
	{{#restrict section="accounting" level="write"}}
		<p class="infos">{{:linkbutton href="edit.html" label="Créer un devis" shape="plus"}}</p>
	{{/restrict}}
{{/if}}

<table class="list">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Devis en attente</th>
			<th>Devis validés</th>
			<th>Devis rejetés</th>
			<th>Factures</th>
		</tr>
	</thead>
	<tbody>
{{:assign previous_customer='-1'}}
{{:assign previous=null}}
{{:assign var='status_number.awaiting' value=0}}
{{:assign var='status_number.validated' value=0}}
{{:assign var='status_number.rejected' value=0}}
{{#sql
	select="
		json_extract(document, '$.recipient_business_name') AS recipient_business_name,
		json_extract(document, '$.recipient_member_id') AS customer_id,
		json_extract(document, '$.status') AS status,
		COUNT(json_extract(document, '$.status')) AS document_status_quantity
	"
	tables='module_data_invoice'
	where="status != 'draft'"
	group='recipient_business_name, status'
	order='recipient_business_name, status'
}}
	{{if $recipient_business_name !== $previous_customer && $previous_customer !== '-1'}}
		<tr>
			<td>{{:link href="./customer.html?id=%s"|args:$previous.recipient_business_name label=$previous.recipient_business_name}}</td>
			<td>{{$status_number.awaiting}}</td>
			<td>{{$status_number.validated}}</td>
			<td>{{$status_number.rejected}}</td>
			<td>-</td>
		</tr>
		{{:assign var='status_number.awaiting' value=0}}
		{{:assign var='status_number.validated' value=0}}
		{{:assign var='status_number.rejected' value=0}}
	{{/if}}
	{{:assign var='status_number.%s'|args:$status value=$document_status_quantity}}
	{{:assign previous_customer=$recipient_business_name}}
	{{:assign .='previous'}}
{{/sql}}

{{if $previous}}
	<tr>
		<td>{{:link href="./customer.html?id=%s"|args:$previous.recipient_business_name label=$previous.recipient_business_name}}</td>
		<td>{{$status_number.awaiting}}</td>
		<td>{{$status_number.validated}}</td>
		<td>{{$status_number.rejected}}</td>
		<td>-</td>
	</tr>
{{/if}}

	</tbody>
</table>

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
