{{#restrict section="accounting" level="read"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
{{:include file='./include/constants.tpl' keep='type_labels,status_labels,status_options'}}

{{:include file='./include/style.tpl'}}

{{if $_POST.status_update_button}}
	{{#restrict block=true section="accounting" level="write"}}
		{{if !$_POST.id}}
			{{:error message='Aucun devis sélectionné:'}}
		{{else}}
			{{:assign var='new_status_label' from='status_options.%s'|args:$_POST.status}}
			{{if $new_status_label === null}}
				{{:assign var='errors[]' value='Nouveau statut invalide : %s.'|args:$_POST.status}}
			{{else}}
				{{#load id=$_POST.id|intval}}
					
					{{:save id=$id
						validate_schema="./quotation.schema.json"
						type=$type
						recipient_business_name=$recipient_business_name
						recipient_address=$recipient_address
						subject=$subject
						date=$date
						deadline=$deadline
						status=$_POST.status
						items=$items
						total=$total
						contact_info=$contact_info
						payment_detail=$payment_detail
						extra_info=$extra_info
					}}
					
					{{:http redirect="?id=%d&ok=1"|args:$id}}
				{{/load}}
			{{/if}}
			{{#foreach from=$errors item='error'}}
				<p class="error block">{{$error}}</p>
			{{/foreach}}
		{{/if}}
	{{/restrict}}
{{elseif $_GET.id === null}}
	<p class="error block">Aucun document séléctionné.</p>
{{else}}
	{{if $_GET.ok}}<p class="block confirm">Modification enregistrée.</p>{{/if}}
	{{#load id=$_GET.id|intval}}

		<nav class="tabs">
			<aside>
				{{:linkbutton href="edit.html" label="Nouveau devis" shape="plus"}}
				{{if $status == 'draft'}}
					{{:linkbutton href="./edit.html?id=%d"|args:$id label="Modifier le devis" shape="edit"}}
				{{else}} {{* Hack awaiting #ac34cf8f45a5a79815b16ea505da08ffad2268cf implementation *}}
					{{:button name="hack" title="Ce document n'est plus un brouillon et ne peut plus être modifié" label="Modifier le devis" disabled=true}}
				{{/if}}
			</aside>
			{{:include file='./include/main_nav_tabs.html'}}
		</nav>

		{{:assign var="label" from="type_labels.%s"|args:$type}}
		<h1>{{$label}} n° {{$key}}</h1>
		
		<fieldset>
			<legend><h2>Statut</h2></legend>
			{{#restrict section="accounting" level="write"}}
				<label for="f_status">Statut en cours :</label>
				<form method="POST" action="./details.html" style="display: inline;">
					{{:input type="select" name="status" options=$status_options default=$status required=true}}
					{{:input type="hidden" name="id" default=$id|intval}}
					{{:button type="submit" name="status_update_button" label="Modifier"}}
				</form>
			{{else}}
				{{:assign var="label" from="status_labels.%s"|args:$status}}
				<p>{{$label}}</p>
			{{/restrict}}
		</fieldset>
		
		<fieldset>
			<legend><h2>Destinataire</h2></legend>
			<p>{{$recipient_business_name}}</p>
			<p>{{$recipient_address}}</p>
		</fieldset>
		
		<fieldset>
			<legend><h2>Objet</h2></legend>
			<ul>
				<li>Objet : {{$subject}}</li>
				<li>Date : {{$date|date_short}}</li>
				{{if $deadline}}<li>Échéance : {{$deadline|date_short}}</li>{{/if}}
				<li>Total : {{$total|floatval|money_currency:false}}</li>
			</ul>
		</fieldset>
		
		<fieldset>
			<legend><h2>Articles</h2></legend>
			{{if $items}}
				<table id="item_list">
					<tr>
						<th>Dénomination</th>
						<th>Description</th>
						<th>Prix unitaire</th>
						<th>Quantité</th>
					</tr>
					{{#foreach from=$items item='item'}}
						<tr>
							<td>{{$item.name}}</td>
							<td>{{$item.description}}</td>
							<td>{{$item.unit_price|intval|money:false}}</td>
							<td>{{$item.quantity}}</td>
						</tr>
					{{/foreach}}
				</table>

				</ul>
			{{else}}
				<p>Aucun article.</p>
			{{/if}}
		</fieldset>
		
		<fieldset>
			<legend><h2>Infos</h2></legend>
			<ul>
				<li>Contact : {{$contact_info}}</li>
			</ul>
		</fieldset>
		
		{{if $payment_detail || $extra_info}}
			<fieldset>
				<legend><h2>Infos complémentaires</h2></legend>
				{{if $payment_detail}}<p>{{$payment_detail|escape|nl2br}}</p>{{/if}}
				{{if $extra_info}}<p>{{$extra_info|escape|nl2br}}</p>{{/if}}
			</fieldset>
		{{/if}}

	{{/load}}
{{/if}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
