{{#restrict section="accounting" level="read"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
{{:include file='./include/constants.tpl' keep='DRAFT_STATUS, AWAITING_STATUS, VALIDATED_STATUS, REJECTED_STATUS, PAID_STATUS, DOCUMENT_TYPES, TYPE_LABELS, STATUS_LABELS, INVOICE_STATUS_LABELS, QUOTATION_TYPE, INVOICE_TYPE, VERSION'}}

{{:include file='./include/style.tpl'}}

{{if $_GET.action === 'sign' || $_POST.signing_submit || $_GET.action === 'delete'}}
	{{#restrict block=true section="accounting" level="write"}}
		{{if !$_GET.id}}
			{{:assign var='check_errors.' value='Aucun devis sélectionné.'}}
		{{else}}
			{{#load id=$_GET.id|intval}}
			{{if $status !== $DRAFT_STATUS}}
				{{:assign var='check_errors.' value='Seuls les brouillons peuvent être signés ou supprimés.'}}
			{{elseif $_POST.signing_submit}}
			
				{{if !$_POST.signing_place}}
					{{:assign var='check_errors.' value='Lieu de la signature obligatoire.'}}
				{{/if}}
				{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Lieu de la signature trop long' check_value=$_POST.signing_place check_max=128}}
				{{if !$_POST.signing_date}}
					{{:assign var='check_errors.' value='Date de la signature obligatoire.'}}
				{{/if}}
				{{:include file='./include/check_max_length.tpl' keep='check_errors' check_label='Date de la signature trop longue' check_value=$_POST.signing_date check_max=10}}
				{{:assign signing_date=$_POST.signing_date|date:'Y-m-d'}}
				{{if $_POST.signing_date|date_short === null}} {{* Means data is not a date *}}
					{{:assign var='check_errors.' value="La date de signature doit être une date."}}
				{{/if}}
				{{if $signing_date < $date}}
					{{:assign formated_date=$date|date_short}}
					{{:assign var='check_errors.' value="La signature du devis doit se situer après la date du devis (%s)."|args:$formated_date}}
				{{/if}}
				{{if !$check_errors}}
					{{:save id=$_GET.id|intval
						validate_schema="./schema/quotation.json"
						key=$key
						type=$type
						recipient_business_name=$recipient_business_name
						recipient_address=$recipient_address
						recipient_member_id=$recipient_member_id
						recipient_member_numero=$recipient_member_numero
						introduction_text=$introduction_text
						subject=$subject
						date=$date
						deadline=$deadline
						status=$AWAITING_STATUS
						items=$items
						total=$total
						vat_exemption=$vat_exemption
						siret=$siret
						org_contact=$org_contact
						author_id=$author_id
						last_modification_date=$now|atom_date
						signing_place=$_POST.signing_place
						signing_date=$signing_date
						payment_detail=$payment_detail
						extra_info=$extra_info
						module_version=$VERSION
					}}

					{{:http redirect="?id=%d&ok=1"|args:$id}}
				{{/if}}

			{{elseif $_GET.action === 'delete'}}
				{{* Awaiting {{:remove}} implementation #7de607eb3c7396d718da8575f61fd93951498936 *}}
				{{:error message='Document deletion not yet implemented by brindille.'}}
				
				{{:http redirect="index.html?ok=3"}}
			{{/if}}
			{{/load}}
		{{/if}}
	{{/restrict}}
{{elseif $_POST.reject_submit || $_POST.validate_submit}}
	{{#restrict block=true section="accounting" level="write"}}
		{{if !$_GET.id}}
			{{:assign var='errors.' value='Aucun devis sélectionné.'}}
		{{else}}
			{{#load id=$_GET.id|intval}}
			{{if $status !== $AWAITING_STATUS}}
				{{:assign var='check_errors.' value='Seuls les devis en attente peuvent être validés ou refusés.'}}
			{{/if}}
			{{if $_POST.reject_submit}}
				{{:assign new_status=$REJECTED_STATUS}}
				{{:assign redirection_code=4}}
			{{elseif $_POST.validate_submit}}
				{{:assign new_status=$VALIDATED_STATUS}}
				{{:assign validation_date=$now|date:'Y-m-d'}}
				{{:assign redirection_code=5}}
			{{/if}}
			{{if !$check_errors}}
				{{if $_POST.validate_submit && $_POST.invoice}}

					{{#load select="MAX(key) AS last" where="json_extract(document, '$.type') = :type" :type=$INVOICE_TYPE}} 
						{{:assign last_numeric=$last|regexp_replace:'~\D~':''}}
						{{:assign next_numeric='%d+1'|math:$last_numeric}}
						{{:assign invoice_key="F%06d"|args:$next_numeric}}
					{{/load}}

					{{:save assign_new_id='invoice_id'
						validate_schema="./schema/invoice.json"
						key=$invoice_key
						type=$INVOICE_TYPE
						recipient_business_name=$recipient_business_name
						recipient_address=$recipient_address
						recipient_member_id=$recipient_member_id
						recipient_member_numero=$recipient_member_numero
						introduction_text=null
						subject=$subject
						date=$now|date:'Y-m-d'
						deadline=null
						status=$AWAITING_STATUS
						items=$items
						total=$total
						vat_exemption=$vat_exemption
						siret=$siret
						org_contact=$org_contact
						author_id=$logged_user.id|intval
						parent_id=$_GET.id|intval
						last_modification_date=$now|atom_date
						signing_place=$signing_place
						signing_date=$now|date:'Y-m-d'
						validation_date=null
						payment_detail=null
						extra_info=null
						module_version=$VERSION
					}}
				{{/if}}

				{{:save id=$_GET.id|intval
					validate_schema="./schema/quotation.json"
					key=$key
					type=$type
					recipient_business_name=$recipient_business_name
					recipient_address=$recipient_address
					recipient_member_id=$recipient_member_id
					recipient_member_numero=$recipient_member_numero
					introduction_text=$introduction_text
					subject=$subject
					date=$date
					deadline=$deadline
					status=$new_status
					items=$items
					total=$total
					vat_exemption=$vat_exemption
					siret=$siret
					org_contact=$org_contact
					author_id=$author_id
					child_id=$invoice_id|intval
					last_modification_date=$now|atom_date
					signing_place=$signing_place
					signing_date=$signing_date
					validation_date=$validation_date
					payment_detail=$payment_detail
					extra_info=$extra_info
					parent_id=$_GET.id|intval
					module_version=$VERSION
				}}

				{{:http redirect="?id=%d&ok=%d"|args:$id:$redirection_code}}
			{{/if}}
			{{/load}}
		{{/if}}
	{{/restrict}}
{{elseif $_POST.mark_as_paid_submit}}
	{{#restrict block=true section="accounting" level="write"}}
	{{#load id=$_GET.id|intval}}{{:assign .='invoice'}}{{/load}}
	{{if $invoice.status !== $AWAITING_STATUS}}
		{{:assign var='check_errors.' value='Seuls les factures "en attente de validation" peuvent être payées.'}}
	{{/if}}

	{{:assign date=$_POST.date|date:'Y-m-d'}}
	{{if !$_POST.date}}
		{{:assign var='check_errors.' value="La date est obligatoire."}}
	{{/if}}
	{{if $_POST.date|parse_date === null}} {{* Means data is not a date *}}
		{{:assign var='check_errors.' value="La date du paiement doit être une date."}}
	{{/if}}
	{{if $date < $invoice.date}}
		{{:assign formatted_invoice_date=$invoice.date|date_short}}
		{{:assign var='check_errors.' value="Le paiement doit se situer après la date d'émission de la facture (%s)."|args:$formatted_invoice_date}}
	{{/if}}
	
	{{:include file='./include/check_max_length.tpl' check_value=$_POST.comment check_max=256 check_label='Remarques trop longues' keep='check_errors'}}

	{{:include file='./include/shim/array_last_num_key.tpl' keep='transaction_id, check_errors' array=$_POST.transaction name='transaction_id' error_message='Écriture séléctionnée invalide.'}}
	{{#transactions id=$transaction_id|intval}}{{:assign .='transaction'}}{{/transactions}}
	{{if $transaction_id && !$transaction}}
		{{:assign var='check_errors.' value="Transaction sélectionnée invalide."}}
	{{/if}}

	{{if !$check_errors}}
		{{:save id=$invoice.id|intval
			validate_schema="./schema/invoice.json"
			key=$invoice.key
			type=$invoice.type
			recipient_business_name=$invoice.recipient_business_name
			recipient_address=$invoice.recipient_address
			recipient_member_id=$invoice.recipient_member_id
			recipient_member_numero=$invoice.recipient_member_numero
			introduction_text=null
			subject=$invoice.subject
			date=$invoice.date
			deadline=null
			status=$PAID_STATUS
			items=$invoice.items
			total=$invoice.total
			vat_exemption=$invoice.vat_exemption
			siret=$invoice.siret
			org_contact=$invoice.org_contact
			author_id=$invoice.author_id
			parent_id=$invoice.parent_id
			last_modification_date=$now|atom_date
			signing_place=null
			signing_date=$invoice.signing_date
			validation_date=null
			payment_date=$date
			payment_comment=$_POST.comment
			transaction_id=$transaction.id|intval
			payment_detail=null
			extra_info=null
			module_version=$VERSION
		}}
		{{:http redirect="?id=%d&ok=6&show=invoice"|args:$invoice.id}}
	{{/if}}
	{{/restrict}}
{{/if}}
{{if $_POST.status_update_button}} {{* Only for developers *}}
	{{#restrict block=true section="accounting" level="write"}}
		{{if !$_POST.id}}
			{{:error message='Aucun devis sélectionné.'}}
		{{else}}
			{{:assign var='new_status_label' from='INVOICE_STATUS_LABELS.%s'|args:$_POST.status}}
			{{if $new_status_label === null}}
				{{:assign var='check_errors.' value='Nouveau statut invalide : %s.'|args:$_POST.status}}
			{{else}}
				{{#load id=$_POST.id|intval}}
					{{:assign var='allowed_type' from='DOCUMENT_TYPES.%s'|args:$type}}
					{{if !$allowed_type}}
						{{:assign var='check_errors.' value='Type invalide : %s!'|args:$type}}
					{{else}}
						{{:save id=$id
							validate_schema="./schema/%s.json"|args:$type
							key=$key
							type=$type
							recipient_business_name=$recipient_business_name
							recipient_address=$recipient_address
							recipient_member_id=$recipient_member_id
							recipient_member_numero=$recipient_member_numero
							introduction_text=$introduction_text
							subject=$subject
							date=$date
							deadline=$deadline
							status=$_POST.status
							items=$items
							total=$total
							vat_exemption=$vat_exemption
							siret=$siret
							org_contact=$org_contact
							author_id=$author_id
							parent_id=$parent_id
							last_modification_date=$now|atom_date
							signing_place=$signing_place
							signing_date=$signing_date
							validation_date=$validation_date
							payment_date=$payment_date
							payment_comment=$payment_comment
							transaction_id=$transaction_id
							payment_detail=$payment_detail
							extra_info=$extra_info
							parent_id=$parent_id
							module_version=$VERSION
						}}

						{{:http redirect="?id=%d&ok=2&show=quotation"|args:$id}}
					{{/if}}
				{{/load}}
			{{/if}}
			{{#foreach from=$check_errors item='error'}}
				<p class="error block">{{$error}}</p>
			{{/foreach}}
		{{/if}}
	{{/restrict}}
{{elseif $_GET.id === null}}
	<p class="error block">Aucun document séléctionné.</p>
{{else}}
	{{#load id=$_GET.id|intval}}
		
		{{* ======================= Menu =========================== *}}
		
		<nav class="tabs">
			<aside class="menu">
				<ul>
					{{if $type === $QUOTATION_TYPE}}
						<li>{{:linkbutton href="edit.html" label="Nouveau" shape="plus"}} |</li>
					
						{{if $status == $DRAFT_STATUS}}
							<li>{{:linkbutton label="Aperçu papier" href="preview.html?id=%s"|args:$id shape="document"}}</li>
							<li>{{:linkbutton href="./edit.html?id=%d"|args:$id label="Modifier" shape="edit"}}</li>
							<li>{{:linkbutton href="%s&action=sign"|args:$request_url label="Signer le devis" shape="check"}}</li>
							<li>{{:linkbutton href="%s&action=ask_deletion"|args:$request_url label="Supprimer" shape="delete" class="irreversible"}}</li>
						{{else}}
							<li>{{:linkbutton label="PDF" href="preview.html?id=%s"|args:$id shape="document"}}</li>
							{{if $status == $AWAITING_STATUS}}
								<li>{{:linkbutton href="#" label="Générer facture" shape="export"}}</li>
								<li>{{:linkbutton href="#" label="Annuler le devis" shape="delete" class="irreversible"}}</li>
							{{else}}
								<li>{{:linkbutton href="#" label="Archiver" shape="archive"}}</li>
							{{/if}}
						{{/if}}
					{{else}}
						<li>{{:linkbutton href="edit.html" label="Nouveau devis" shape="plus"}} |</li>

						{{if $status !== $DRAFT_STATUS}}
							<li>{{:linkbutton label="PDF" href="preview.html?id=%s"|args:$id shape="document"}}</li>
							{{if $status == $AWAITING_STATUS}}
								<li>{{:linkbutton href="#" label="Annuler la facture" shape="delete" class="irreversible"}}</li>
							{{else}}
								<li>{{:linkbutton href="#" label="Archiver" shape="archive"}}</li>
							{{/if}}
						{{/if}}
					{{/if}}
				</ul>
			</aside>
			{{:include file='./include/main_nav_tabs.html'}}
		</nav>

		{{* ======================= Feedback =========================== *}}

		{{if $_GET.ok}}
			<p class="block confirm">
			{{if $_GET.ok === '1'}}
				Devis signé avec succès.
			{{elseif $_GET.ok === '2'}}
				Modification enregistrée.
			{{elseif $_GET.ok === '3'}}
				Brouillon conservé.
			{{elseif $_GET.ok === '4'}}
				Devis marqué avec succès comme refusé.
			{{elseif $_GET.ok === '5'}}
				Devis marqué avec succès comme validé.
			{{elseif $_GET.ok === '6'}}
				Facture marquée avec succès comme payée.
			{{/if}}
			</p>
		{{/if}}

		{{* ======================= Title =========================== *}}

		{{:assign var="label" from="TYPE_LABELS.%s"|args:$type}}
		{{if $type === $INVOICE_TYPE}}
			{{:assign var="status_label" from="INVOICE_STATUS_LABELS.%s"|args:$status}}
		{{else}}
			{{:assign var="status_label" from="STATUS_LABELS.%s"|args:$status}}
		{{/if}}
		<h1>{{$label}} n° {{$key}} - {{$status_label}}</h1>

		{{* ======================= Errors =========================== *}}

		{{if $check_errors}}
			{{#foreach from=$check_errors item='error'}}
				<p class="error block">{{$error}}</p>
			{{/foreach}}
		{{/if}}

		{{* ======== Confirmations (deletion/signing/reject/validation) ============= *}}

		{{if $_GET.action === 'ask_deletion'}}
			<h2 class="ruler irreversible">Action irreversible</h2>
			<fieldset>
				<legend>Suppression</legend>
				<div class="block error">
					<h3 class="infos">Vous allez supprimer définitivement le brouillon de devis n° {{$key}} : "{{$subject}}".</h3>
					<p class="infos">Êtes-vous sûr de vouloir continuer ?</p>
					<p>
						{{:linkbutton href="details.html?id=%d&show=quotation&action=delete"|args:$_GET.id label="Supprimer le devis" shape="delete"}}
						{{:linkbutton href="details.html?id=%d&show=quotation&ok=3"|args:$_GET.id label="Conserver le brouillon" shape="lock" class="safe"}}
					</p>
				</div>
			</fieldset>
			<h2 class="ruler">Rappel</h2>
		{{elseif $_GET.action === 'sign'}}
			<form method="POST" action="">
				<fieldset>
					<legend>Signature du devis</legend>
					<ul id="signing_inputs">
						<li>{{:input type="text" name="signing_place" label="Lieu de la signature" placeholder="ex : Dijon" default=$module.config.signing_place required=true}}</li>
						<li>{{:input type="date" name="signing_date" label="Date de la signature" default=$now required=true}}</li>
						{{if !$check_errors}}<li class="error block">Signer le devis est définitif. Vous ne pourrez plus modifier son contenu par la suite.</li>{{/if}}
						<li>{{:button type="submit" name="signing_submit" label="Signer le devis" class="main"}}</li>
					</ul>
				</fieldset>
			</form>
			<h2 class="ruler">Rappel</h2>
		{{elseif $_GET.action === 'ask_rejection'}}
			<form method="POST" action="">
				<fieldset>
					<legend>Refus du devis par le/la client.e</legend>
					{{if !$check_errors}}<p class="error block">Refuser le devis est définitif. Vous ne pourrez pas rétablir le devis comme "en attente de validation".<br />Il sera néanmoins possible d'annuler le devis.</p>{{/if}}
					{{:button type="submit" name="reject_submit" label="Marquer comme refusé" class="main"}}
				</fieldset>
			</form>
			<h2 class="ruler">Rappel</h2>
		{{elseif $_GET.action === 'ask_validation'}}
			<form method="POST" action="">
				<fieldset>
					<legend>Validation du devis par le/la client.e</legend>
					{{if !$check_errors}}<p class="error block">Valider le devis est définitif. Vous ne pourrez pas rétablir le devis comme "en attente de validation".<br />Il sera néanmoins possible d'annuler le devis.</p>{{/if}}
					<div class="infos">{{:input type="checkbox" name="invoice" value="1" label="Générer automatiquement une facture"}}</div>
					{{:button type="submit" name="validate_submit" label="Marquer comme validé" shape="check" class="main"}}
				</fieldset>
			</form>
			<h2 class="ruler">Rappel</h2>
		{{elseif $_GET.action === 'ask_mark_as_paid'}}
			<form method="POST" action="">
				<fieldset>
					<legend>Marquer la facture comme payée</legend>
					{{if !$check_errors}}<p class="error block">Marquer la facture comme payée est définitif. Vous ne pourrez pas rétablir la facture comme "en attente de paiement".<br />Il sera néanmoins possible d''annuler la facture.</p>{{/if}}
					{{:input type="date" name="date" label="Date du paiement" default=$now required=true}}
					{{:input type="textarea" name="comment" label="Remarque" required=false cols="50" rows="4"}}
					{{:input type="list" name="transaction" label="Écriture correspondante" target="./transaction_selector.inc.tpl" can_delete=true required=false}}
					{{:button type="submit" name="mark_as_paid_submit" label="Marquer comme payée" shape="check" class="main"}}
				</fieldset>
			</form>
			<h2 class="ruler">Rappel</h2>
		{{/if}}

		{{* ======================= Content =========================== *}}

		<fieldset>
			<legend><h2>Informations</h2></legend>
			
			{{if $status === $AWAITING_STATUS}}
				<p class="infos">{{$label}} <strong>{{if $type === $QUOTATION_TYPE}}signé{{else}}émise{{/if}} le {{$signing_date|date_short}} à {{$signing_place}}</strong>.</p>
				{{if $type === $QUOTATION_TYPE}}
					<p class="">En attente de validation par le/la client.e.</p>
					<p class="infos">
						{{:linkbutton href="?id=%d&show=quotation&action=ask_validation"|args:$id label="Marquer comme validé et générer la facture" shape="check"}}
						{{:linkbutton href="?id=%d&show=quotation&action=ask_rejection"|args:$id label="Marquer comme refusé" shape="alert"}}
					</p>
				{{else}}
					<p class="">En attente de paiement.</p>
					<p class="infos">
						{{:linkbutton href="?id=%d&show=invoice&action=ask_mark_as_paid"|args:$id label="Marquer comme payée" shape="check"}}
						{{* {{:linkbutton href="?id=%d&show=quotation&action=ask_rejection"|args:$id label="Marquer comme abandonnée" shape="alert"}} *}}
					</p>
				{{/if}}

			{{elseif $status === $VALIDATED_STATUS}}
				<p class="infos">{{$label}} <strong>validé le {{$validation_date|date_short}}</strong> (signé par l'asso le {{$signing_date|date_short}}).</p>
				{{if $type === $QUOTATION_TYPE && $child_id}}
					{{#load id=$child_id|intval}}{{:assign .='child'}}{{/load}}
					<p class="infos">Facture correspondante : {{:link href="?id=%d&show=invoice"|args:$child.id label="n°%s"|args:$child.key}}.</p>
				{{/if}}

			{{elseif $status === $PAID_STATUS}}
				<p class="infos">{{$label}} <strong>payée le {{$payment_date|date_short}}</strong> (émise par l'asso le {{$signing_date|date_short}}).</p>
				{{if $payment_comment}}
					<h4>Remarques :</h4>
					<p class="infos">{{$payment_comment|escape|nl2br}}</p>
				{{/if}}
				{{if $transaction_id}}
					{{#transactions id=$transaction_id|intval}}
						<p class="infos">Écriture comptable correspondante : {{:link href='!acc/transactions/details.php?id=%d'|args:$id label='n°%d - %s'|args:$id:$label}}.</p>
					{{/transactions}}
				{{else}}
					<p class="infos">Aucune écriture comptable correspondante. {{:linkbutton href="#" label="Associer (prochainement)" shape="right"}}</p>
				{{/if}}

			{{else}}
				<p class="infos">Statut en cours : {{$status_label}}</p>
			{{/if}}

			{{if $type === $INVOICE_TYPE && $parent_id}}
				{{#load id=$parent_id}}{{:assign .='parent'}}{{/load}}
				<p class="infos">Correspondant au {{:link href="details.html?id=%d&show=quotation"|args:$parent.id label="devis n°%s"|args:$parent.key}}.</p>
			{{/if}}

			{{#users id=$author_id|intval}}{{:assign .='author'}}{{/users}}
			<p>
				{{if $type === $QUOTATION_TYPE}}Rédigé{{else}}Rédigée{{/if}} par : {{:link href="!users/details.php?id=%d"|args:$author.id label=$author.nom}}.
			</p>
			<p>
				Dernière modification : {{$last_modification_date}}.
			</p>
		</fieldset>

		<fieldset>
			<legend><h2>Destinataire</h2></legend>
			<p class="infos">
				<strong class="business_name">{{$recipient_business_name}}</strong><br />
				{{$recipient_address|escape|nl2br}}
			</p>
			{{if $recipient_member_id}}
				{{#users id=$recipient_member_id|intval}}{{:assign .='member'}}{{/users}}
				{{if !$member}}
					<p class="infos">Associé à l'ancien.ne membre {{if $recipient_member_numero}}n°{{$recipient_member_numero}}{{else}}#{{$recipient_member_id}}{{/if}} (compte supprimé).</p>
				{{else}}
					<p class="infos">
						Associé au membre {{if $recipient_member_numero}}n°{{$recipient_member_numero}}{{/if}} : "{{:link href="!users/details.php?id=%d"|args:$member.id label=$member.nom}}",
						{{if $recipient_business_name !== $member.nom}} sous la désignation "{{$recipient_business_name}}".{{/if}}<br />
						{{:link href="customer.html?show=customers&id=%s"|args:$recipient_business_name label='Voir tous les devis de "%s".'|args:$recipient_business_name}}
					</p>
				{{/if}}
			{{/if}}
		</fieldset>

		<fieldset>
			<legend><h2>Objet</h2></legend>
			<ul>
				<li>Intitulé : {{$subject}}</li>
				<li>Date : {{$date|date_short}}</li>
				{{if $deadline}}<li>Échéance : {{$deadline|date_short}}</li>{{/if}}
				<li>Référence : {{$key}}</li>
				<li>Total : {{$total|floatval|money_currency:false}}</li>
			</ul>
		</fieldset>
		
		<fieldset>
			<legend><h2>Articles</h2></legend>
			{{if $items}}
				<table id="item_list" class="list">
					<tr>
						<th>Réf.</th>
						<th>Dénomination</th>
						<th>Description</th>
						<th>Prix unitaire</th>
						<th>Quantité</th>
					</tr>
					{{#foreach from=$items item='item'}}
						<tr>
							<td>{{$item.reference}}</td>
							<td>{{$item.name}}</td>
							<td>{{$item.description|escape|nl2br}}</td>
							<td>{{$item.unit_price|intval|money:false}}</td>
							<td>{{$item.quantity}}</td>
						</tr>
					{{/foreach}}
				</table>
			{{else}}
				<p>Aucun article.</p>
			{{/if}}
		</fieldset>
		
		<fieldset>
			<legend><h2>Infos</h2></legend>
			<ul>
				<li class="infos">Contact : {{$org_contact}}</li>
				{{if $introduction_text}}
					<li>
						Texte d'introduction :
						<p>{{$introduction_text|escape|nl2br}}</p>
					</li>
				{{/if}}
			</ul>
		</fieldset>
		
		{{if $payment_detail || $extra_info}}
			<fieldset>
				<legend><h2>Infos complémentaires</h2></legend>
				{{if $payment_detail}}<p>{{$payment_detail|escape|nl2br}}</p>{{/if}}
				{{if $extra_info}}<p>{{$extra_info|escape|nl2br}}</p>{{/if}}
			</fieldset>
		{{/if}}

		{{#restrict section="config" level="admin"}}
		<div style="background-color: black; color: limegreen; padding: 1em;">
		<fieldset style="border-color: limegreen;">
			<legend><h2 style="color: limegreen;">Outils développeur/euse</h2></legend>
			<div class="infos inline">
				<label for="f_status">Statut en cours :</label>
				<form method="POST" action="./details.html" style="display: inline;">
				{{if $type === $INVOICE_TYPE}}{{:assign options=$INVOICE_STATUS_LABELS}}{{else}}{{:assign options=$STATUS_LABELS}}{{/if}}
					{{:input type="select" name="status" options=$options default=$status required=true}}
					{{:input type="hidden" name="id" default=$id|intval}}
					{{:button type="submit" name="status_update_button" label="Modifier"}}
				</form>
			</div>
		</fieldset>
		</div>
		{{/restrict}}

	{{/load}}
{{/if}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
