{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
<nav class="tabs">
	<aside>
		{{:linkbutton href="edit.html" label="Nouveau devis" shape="plus"}}
	</aside>
	{{:include file='./include/main_nav_tabs.html'}}
</nav>
{{:include file='./include/constants.tpl' keep='type_labels,status_labels,status_options'}}
{{* {{:include file='./include/style.tpl'}} *}}

{{if $_GET.id}}
	{{#load id=$_GET.id}}
		{{:assign .="document"}}
	{{/load}}
	<h1>Édition du devis n°{{$document.key}} "{{$document.subject}}"</h1>
{{else}}
	<h1>Création d'un devis</h1>
{{/if}}

{{if $document && $document.status !== 'draft'}}
	{{:error message="Ce document n'est plus un brouillon et ne peut plus être modifié"}}
{{/if}}

{{if $_POST.quotation_submit}}
	{{:assign computed_total=0}}
	{{:assign errors=null}}
	{{:assign items=null}}
	{{#foreach from=$_POST.items key='index' item='item'}}
		{{if $item.name === ''}}{{:assign var='errors.' value="Le nom de l'article est requis."}}{{/if}}
		{{:assign var='unit_price' value=$item.unit_price|replace:',':'.'}}
		{{:assign var='quantity' value=$item.quantity|replace:',':'.'}}
		{{if $unit_price < 0 || $unit_price != $unit_price|floatval|strtolower}} {{* Hack to check the data is a number *}}
			{{:assign var='errors.' value='Le prix saisi pour "%s" est invalide.'|args:$item.name}}
		{{/if}}
		{{if $quantity < 0 || $quantity != $quantity|floatval|strtolower}}{{:assign var='errors.' value='La quantité saisie pour "%s" est invalide.'|args:$item.name}}{{/if}}

		{{:assign var='computed_item' value=$item}}
		{{:assign var='computed_item.unit_price' value=$unit_price|money_int}}
		{{:assign var='computed_item.quantity' value=$quantity|floatval}}
		{{:assign var='items.' value=$computed_item}}
		{{:assign var='computed_total' value="%d + %d * %F"|args:$computed_total:$computed_item.unit_price:$computed_item.quantity|math}}

	{{/foreach}}

	{{if ($computed_total != $_POST.quotation_total|money_int) || ($computed_total < 0)}}
		{{:assign var='errors.' value='Erreur de calcul du total. Enregistrement du devis refusé.'}}
	{{/if}}

	{{if $errors|count}}
		{{#foreach from=$errors item='error'}}
			<p class="error block">{{$error}}</p>
		{{/foreach}}
	{{else}}
		{{if $_POST.key}}
			{{:assign key=$_POST.key}}
		{{else}}
			{{#load select="MAX(key) AS last" where="json_extract(document, '$.type') = :type" :type='quotation'}} 
				{{:assign last_numeric=$last|regexp_replace:'~\D~':''}}
				{{:assign next_numeric='%d+1'|math:$last_numeric}}
				{{:assign key="D%06d"|args:$next_numeric}}
			{{/load}}
		{{/if}}
		{{if $document}}
			{{:assign id=$document.id|intval}}
		{{else}}
			{{:assign id=null}}
		{{/if}}

		{{:save 
			validate_schema="./quotation.schema.json"
			id=$id
			key=$key
			type='quotation'
			recipient_business_name=$_POST.recipient_business_name
			recipient_address=$_POST.recipient_address
			subject=$_POST.subject
			date=$_POST.date
			deadline=$_POST.deadline
			status=$_POST.status
			items=$items
			total=$computed_total
			contact_info=$_POST.contact_info
			payment_detail=$_POST.payment_detail
			extra_info=$_POST.extra_info
		}}

		{{if !$document}}
			{{:http redirect="./index.html?ok=1"}}
		{{else}}
			{{:http redirect="./index.html?ok=2"}}
		{{/if}}

	{{/if}}
{{/if}}

<form method="POST" action="{{$request_url}}">
	<fieldset>
		<legend><h2>Destinataire</h2></legend>
		{{:input type="text" name="recipient_business_name" label="Raison sociale" source=$document placeholder="ex : SARL J'aime les deux vies" required=true}}
		{{:input type="textarea" name="recipient_address" label="Adresse" source=$document placeholder="" required=true}}
	</fieldset>
	<fieldset>
		<legend><h2>Objet</h2></legend>
		<ul>
			<li>{{:input type="text" name="key" label="Numéro" source=$document help="Ce numéro doit être unique. Laisser vide pour générer un nouveau numéro."}}</li>
			<li>{{:input type="text" name="subject" label="Objet" source=$document placeholder="ex : Devis pour une location de barnum" required=true}}</li>
			<li>{{:input type="date" name="date" label="Date du devis" source=$document placeholder="" required=true}}</li>
			<li>{{:input type="date" name="deadline" label="Échéance pour validation" source=$document placeholder="" required=false}}</li>
			<li>{{:input type="text" name="contact_info" label="Contact" source=$document default=$config.org_email required=true}}</li>
			<li>
				<dt><label for="status">Statut</label></dt>
				<dd>
					{{:input type="select" name="status" options=$status_options source=$document default=$status required=true}}
				</dd>
			</li>
		</ul>
	</fieldset>

	{{:assign items=$document.items}}
	{{:include file='./include/item_list.tpl'}}

	{{if $module.config.payment_detail || $module.config.quotation_extra_info}}
		<fieldset>
			<legend><h2>Informations complémentaires affichées en bas du devis</h2></legend>
			<ul>
			{{if $module.config.payment_detail}}
				<li>{{:input type="textarea" name="payment_detail" label="Instructions de paiement" source=$document default=$module.config.payment_detail cols="50" rows="5"}}</li>
			{{/if}}
			{{if $module.config.quotation_extra_info}}
				<li>{{:input type="textarea" name="extra_info" label="Informations complémentaires" source=$document default=$module.config.quotation_extra_info cols="50" rows="2"}}</li>
			{{/if}}
			</ul>
		{{if !$document}}<p>(La valeur pré-remplie de ces informations est modifiable dans la configuration du module.)</p>{{/if}}
		</fieldset>
	{{/if}}

	<p class="submit">
		{{:button type="submit" name="quotation_submit" label="Valider la création de devis" class="main"}}
	</p>
</form>

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent générer ce document."}}
{{/restrict}}