{{:error message="Fonctionnalité non disponible pour le moment."}}

{{if $logged_user.perm_accounting < $access_level.write}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent générer ce document"}}
{{/if}}

{{if $_GET.key}}
	{{#load key=$_GET.key}}
		{{:assign .="doc"}}
	{{/load}}
{{/if}}

{{if !$doc.draft}}
	{{:error message="Ce document n'est plus un brouillon et ne peut plus être modifié"}}
{{/if}}

{{if $_POST.save}}
	{{if !$_POST.date|trim|parse_date}}
		{{:assign error="Date d'émission invalide ou vide."}}
	{{elseif $_POST.date_required|trim|parse_date === false}}
		{{:assign error="Date d'échéance invalide ou vide."}}
	{{else}}
		{{if $doc.paid_date}}
			{{:assign date_paid=$doc.paid_date}}
		{{elseif $_POST.paid && !$doc.paid}}
			{{:assign date_paid=$now}}
		{{else}}
			{{:assign date_paid=null}}
		{{/if}}

		{{if $doc.type}}
			{{:assign type=$doc.type}}
		{{else}}
			{{:assign type=$_POST.type}}
		{{/if}}

		{{if !$_POST.number}}
			{{:assign number=$_POST.number|trim|strtoupper}}
		{{else}}
			{{#load select="COUNT(*) + 1 AS count" where="json_extract('$.type') = :type" :type=$type}}
				{{if $type == 'invoice'}}
					{{:assign key="F%06d"|args:$count}}
				{{else}}
					{{:assign key="D%06d"|args:$count}}
				{{/if}}
			{{/load}}
		{{/if}}

		{{:assign total=0}}

		{{#foreach from=$_POST.rows}}
			{{:assign amount=$value.amount|money_int}}
			{{:assign total=$total|math:'+':$amount}}
			{{:assign var="rows[]" label=$value.label|trim amount=$amount}}
		{{/foreach}}

		{{:save key=$key
			validate_schema="./document.schema.json"
			draft=true
			date_paid=null
			archived=false
			type=$type
			date=$_POST.date|parse_date
			date_required=$date_required|parse_date
			id_transaction1=null
			id_transaction2=null
			total=$total
			rows=$rows
		}}

		{{:http redirect="doc.html?key=%s"|args:$key}}
	{{/if}}
{{/if}}

{{:admin_header title="Document" current="acc"}}

<form method="post" action="" id="docForm" data-type="{{$doc.type}}">

<fieldset>
	<legend>Document</legend>
	<dl>
	{{if !$doc}}
		<dt>Type</dt>
		{{:input type="radio" name="type" value="quote" label="Devis" default="quote"}}
		{{:input type="radio" name="type" value="invoice" label="Facture"}}
	{{/if}}
		{{:input required=true name="number" type="text" label="Numéro" help="Ce numéro doit être unique. Laisser vide pour générer un nouveau numéro." source=$doc data-last-number=$last_number}}
		{{:input required=true name="date" type="date" label="Date d'émission" source=$doc default=$now}}
	</dl>
	<dl class="invoice-only">
		{{:input required=false name="date_required" type="date" label="Date d'échéance" source=$doc}}
	</dl>
	<dl>
		<dt><label for="f_client">Client</label></dt>
		<dd>
			<select name="client" id="f_client">
				<option value="user">-- Membre de l'association</option>
			</select>
		</dd>
	</dl>
</fieldset>

<fieldset>
	<legend>Lignes</legend>
	<table class="list">
		<thead>
			<tr>
				<th>Désignation</th>
				<td>Quantité</td>
				<td>Unité</td>
				<td>Prix unitaire</td>
				<td>Montant</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
		{{if !$rows && $doc.rows}}
			{{:assign rows=$doc.rows}}
		{{/if}}

		{{if !$rows}}
			<tr>
				<th><textarea cols="50" rows="2" name="rows[0][label]" class="full-width"></textarea></th>
				<td>{{:input type="money" name="rows[0][amount]"}}</td>
				<td></td>
			</tr>
			<tr>
				<th><textarea cols="50" rows="2" name="rows[1][label]" class="full-width"></textarea></th>
				<td>{{:input type="money" name="rows[1][amount]"}}</td>
				<td></td>
			</tr>
		{{else}}
			{{#foreach from=$rows}}
				<tr>
					<th>{{:input type="textarea" cols="50" rows="2" name="rows[%s][label]"|args:$key source=$value class="full-width"}}</th>
					<td>{{:input type="number" name="rows[%d][qty]"|args:$key source=$value}}</td>
					<td>{{:input type="text" name="rows[%d][unit]"|args:$key source=$value}}</td>
					<td>{{:input type="unit_price" name="rows[%d][unit_price]"|args:$key source=$value}}</td>
					<td>{{:input type="money" name="rows[%d][amount]"|args:$key source=$value}}</td>
				</tr>
			{{/foreach}}
		{{/if}}
		</tbody>
		<tfoot>
	</table>
</fieldset>

<p class="submit">
	{{:button type="submit" name="save" label="Enregistrer" shape="right" class="main"}}
</p>

</form>

<script type="text/javascript">
(function () {
	const form = $('#docForm');

	$('#f_type_invoice, #f_type_quote').forEach((e) => {
		e.onchange = () => typeChanged(e.value, true);
	});

	function typeChanged(t, change_number) {
		if (change_number) {
			let num = t == 'quote' ? 'D' : 'F';
			num += $('#f_number').dataset.lastNumber;
			$('#f_number').value = num;
		}

		g.toggle('.invoice-only', t == 'quote' ? false : true);
	}

	if (e = $('#f_type_invoice')) {
		typeChanged(e.selected ? 'invoice' : 'quote', true);
	}
	else if (form.dataset.type) {
		typeChanged(form.dataset.type, false);
	}
})();
</script>

{{:admin_footer}}