{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
{{:include file='./include/style.tpl'}}
{{:include file='./include/navigation.html'}}

{{* ==================== Search ==================== *}}

{{if $_GET.q}}
	{{if $_GET.q|regexp_match:'/(^\d+$)|(^D[0-9]{1,6}$)|(^F[0-9]{1,6}$)/'}}
		{{:assign search_where="key LIKE :searched_id ESCAPE '!'" searched_id="%%%s%%"|args:$_GET.q}}
	{{elseif $_GET.q|parse_date}}
		{{:assign search_where="$$.date = :searched_date" searched_date=$_GET.q|parse_date}}
	{{else}}
		{{:assign searched_text=$_GET.q|trim|regexp_replace:'/[!%_]/':'!$0'}}
		{{:assign search_where="(($$.subject LIKE :searched_text ESCAPE '!') OR ($$.recipient_business_name LIKE :searched_text ESCAPE '!'))" searched_text="%%%s%%"|args:$searched_text}}
	{{/if}}
{{/if}}

{{if !$config.org_name || !$config.org_address}}
	<p class="error block">
		Le nom et l'adresse postale de l'association doivent être renseignés pour pouvoir utiliser le module de devis.
		<br />
	{{#restrict section="config" level="write"}}
		Vous pouvez saisir ses informations sur {{:link href='!config/' label='la page de configuration'}}.
	{{else}}
		Veuillez contactez votre administrateur pour qu'il saisisse ses informations.
	{{/restrict}}
	</p>
	{{:error}}
{{/if}}

{{* ==================== Listing ==================== *}}

{{if $_GET.q}}
	<h2 class="ruler">Résultat(s) de recherche pour "{{$_GET.q}}"</h2>
{{/if}}

{{if $_GET.show == 'quote'}}
	{{:assign filter="json_extract(document, '$.type') = 'quotation'"}}
{{elseif $_GET.show == 'paid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NOT NULL"}}
{{elseif $_GET.show == 'unpaid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NULL"}}
{{else}}
	{{:assign filter="1"}}
{{/if}}
{{:include file='./include/constants.tpl' keep='type_labels,status_labels,status_options'}}

{{if $_GET.ok === '1'}}
	<p class="block confirm">Devis enregistré.</p>
{{elseif $_GET.ok === '2'}}
	<p class="block confirm">Devis modifié avec succès.</p>
{{/if}}


{{:assign list_select="key; id AS 'Numéro'; datetime($$.date) AS 'Émission'; $$.deadline AS 'Échéance'; $$.recipient_business_name AS 'Tiers'; $$.subject AS 'Intitulé'; $$.total AS 'Montant'; $$.status AS 'Statut'"}}
{{:assign list_where="$$.type IN ('quotation', 'invoice') AND %s"|args:$filter}}
{{:assign list_order=2}}
{{if !$_GET.show}}{{:assign list_select='$$.type AS "Type"; '|cat:$list_select}}{{:assign list_order=3}}{{/if}}
{{if $_GET.q}}{{:assign list_where=$list_where|cat:' AND ':$search_where}}{{/if}}
{{#list
	select=$list_select
	where=$list_where
	order=$list_order
	:searched_id=$searched_id
	:searched_date=$searched_date
	:searched_text=$searched_text
}}
	<tr>
		{{if !$_GET.show}}
			{{:assign var="label" from="type_labels.%s"|args:$type}}
			<td>{{$label}}</td>
		{{/if}}
		<td><a href="details.html?id={{$id|intval}}">{{$key}}</a></td>
		<td>{{$date|date_short}}</td>
		<td>{{$deadline|date_short}}</td>
		<td>{{$recipient_business_name}}</td>
		<td><a href="details.html?id={{$id|intval}}">{{$subject}}</a></td>
		<td class="money">{{$total|money_currency}}</td>
		<td>
			{{:assign var="label" from="status_labels.%s"|args:$status}}
			{{$label}}
			{{if $status === 'validated'}}- {{$signing_date|date_short}}{{/if}}

			{{if $archived}}
				<span title="Archivé">🗃</span>
			{{elseif $date_paid}}
				Payé le {{$date_paid|date_short}}
			{{elseif $type == 'invoice'}}
				En attente
			{{/if}}
		</td>
		<td class="actions">
			{{if !$archived && $status == 'draft'}}
			{{:linkbutton shape="edit" label="Modifier" href="edit.html?id=%d"|args:$id}}
			{{/if}}
			{{if $status !== 'draft'}}
				{{:linkbutton label="PDF" href="preview.html?id=%s"|args:$id shape="document"}}
			{{else}}
				{{:linkbutton label="Aperçu" href="preview.html?id=%s"|args:$id shape="document"}}
			{{/if}}
		</td>
	</tr>
{{else}}
	<tr><td colspan="6">{{if !$_GET.q}}Aucun document.{{else}}Aucun résultat correspondant à "{{$_GET.q}}".{{/if}}</td></tr>
{{/list}}

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
