{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
<nav class="tabs">
	<aside>
		{{:linkbutton href="new_quotation.html" label="Nouveau devis" shape="plus"}}
	</aside>
	{{:include file='./include/main_nav_tabs.html'}}
</nav>
{{:include file='./include/style.tpl'}}

{{* ==================== Listing ==================== *}}

{{if $_GET.show == 'quote'}}
	{{:assign filter="json_extract(document, '$.type') = 'quotation'"}}
{{elseif $_GET.show == 'paid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NOT NULL"}}
{{elseif $_GET.show == 'unpaid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NULL"}}
{{else}}
	{{:assign filter="1"}}
{{/if}}
{{:include file='./include/constants.tpl' keep='type_labels,status_labels,status_options'}}

{{if $_GET.ok}}
	<p class="block confirm">Devis enregistré.</p>
{{/if}}

<table class="list">
	<thead>
		<tr>
			{{if !$_GET.show}}<th>Type</th>{{/if}}
			<th>Numéro</th>
			<td>Émission</td>
			<td>Échéance</td>
			<td>Tiers</td>
			<td>Intitulé</td>
			<td class="money">Montant</td>
			<td>Statut</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
{{#load where="$$.type IN ('quotation', 'invoice') AND %s"|args:$filter select="id, key, document AS json, datetime(json_extract(document, '$.date')) AS date" order="date DESC"}}
		<tr>
			{{if !$_GET.show}}
				{{:assign var="label" from="type_labels.%s"|args:$type}}
				<td>{{$label}}</td>
			{{/if}}
			<td><a href="details.html?id={{$id|intval}}">{{$key}}</a></td>
			<td>{{$date|date_short}}</td>
			<td>{{$deadline|date_short}}</td>
			<td>{{$recipient_business_name}}</td>
			<td><a href="details.html?id={{$id|intval}}">{{$subject}}</a></td>
			<td class="money">{{$total|floatval|money_int|raw|money_currency}}{{* Hacks awaiting #495af6eee05e451d9369b80023c38b8e128fa6cd resolution *}}</td>
			<td>
				{{:assign var="label" from="status_labels.%s"|args:$status}}
				{{$label}}

				{{if $archived}}
					<span title="Archivé">🗃</span>
				{{elseif $date_paid}}
					Payé le {{$date_paid|date_short}}
				{{elseif $type == 'invoice'}}
					En attente
				{{/if}}
			</td>
			<td class="actions">
				{{if !$archived && $status == 'draft'}}
				{{:linkbutton shape="edit" label="Modifier" href="edit.html?key=%s"|args:$key|htmlspecialchars}}
				{{/if}}
			</td>
		</tr>
{{else}}
		<tr><td colspan="6">Aucun document</td></tr>
{{/load}}
</tbody>
</table>

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}
