{{if $logged_user.perm_accounting < $access_level.write}}
	{{:error message="Seuls les membres avec accès en écriture à la comptabilité peuvent générer ce document"}}
{{/if}}
{{:admin_header title="Devis et factures" current="acc"}}

{{* ==================== Header ==================== *}}
<nav class="tabs">
	<aside>
		{{:linkbutton href="edit.html" label="Nouveau document" shape="plus" target="_dialog"}}
	</aside>

	<ul>
		<li{{if !$_GET.show}} class="current"{{/if}}><a href="./">Tous les documents</a></li>
		<li{{if $_GET.show == 'quotation'}} class="current"{{/if}}><a href="./?show=quotation">Devis</a></li>
		<li{{if $_GET.show == 'unpaid'}} class="current"{{/if}}><a href="./?show=unpaid">Factures en souffrance</a></li>
		<li{{if $_GET.show == 'paid'}} class="current"{{/if}}><a href="./?show=paid">Factures réglées</a></li>
		<li><a href="clients.html">Clients</a></li>
	</ul>
</nav>

<style>
#item_list th, #item_list td {
	width: 25%;
	padding: 0em 2em 0em 0em;
}
</style>

{{* ==================== Listing ==================== *}}

{{if $_GET.show == 'quote'}}
	{{:assign filter="json_extract(document, '$.type') = 'quotation'"}}
{{elseif $_GET.show == 'paid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NOT NULL"}}
{{elseif $_GET.show == 'unpaid'}}
	{{:assign filter="json_extract(document, '$.type') = 'invoice' AND json_extract(document, '$.date_paid') IS NULL"}}
{{else}}
	{{:assign filter="1"}}
{{/if}}
{{:assign var='type_labels' quotation='Devis' invoice='Facture'}}
{{:assign var='status_labels' awaiting='En attente de validation', rejected='Rejeté', validated='Validé', misc='Autre'}}

<table class="list">
	<thead>
		<tr>
			{{if !$_GET.show}}<th>Type</th>{{/if}}
			<th>Numéro</th>
			<td>Émission</td>
			<td>Échéance</td>
			<td>Tiers</td>
			<td>Intitulé</td>
			<td class="money">Montant</td>
			<td>Statut</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
{{#load where="$$.type IN ('quotation', 'invoice') AND %s"|args:$filter select="key, document AS json, datetime(json_extract(document, '$.date')) AS date" order="date DESC"}}
		<tr>
			{{if !$_GET.show}}<td>{{$type}}</td>{{/if}}
			<td>{{$key}}</td>
			<td>{{$date|date_short}}</td>
			<td>{{$deadline|date_short}}</td>
			<td>{{$recipient_business_name}}</td>
			<td>{{$subject}}</td>
			<td class="money">{{$total|floatval|money_int|raw|money_currency}}{{* Hacks awaiting #495af6eee05e451d9369b80023c38b8e128fa6cd resolution *}}</td>
			<td>
				{{if $type == 'quotation'}}
					{{if $status == 'awaiting'}}En attente de validation
					{{elseif $status == 'rejected'}}Rejeté
					{{elseif $status == 'validated'}}Validé
					{{elseif $status == 'misc'}}Autre
					{{/if}}
				{{/if}}

				{{if $archived}}
					<span title="Archivé">🗃</span>
				{{elseif $date_paid}}
					Payé le {{$date_paid|date_short}}
				{{elseif $type == 'invoice'}}
					En attente
				{{/if}}
			</td>
			<td class="actions">
				{{if !$archived}}
				{{:linkbutton shape="edit" label="Modifier" href="edit.html?key=%s"|args:$key|htmlspecialchars}}
				{{/if}}
			</td>
		</tr>
{{else}}
		<tr><td colspan="6">Aucun document</td></tr>
{{/load}}
</tbody>
</table>

{{* ==================== Creation form ==================== *}}

<h1>Création d'un devis</h1>

{{if $_POST.quotation_submit}}
	{{:assign computed_total=0}}
	{{:assign errors=null}}
	{{:assign items=null}}
	{{#foreach from=$_POST.items key='index' item='item'}}
		{{:assign var='computed_total' value="%d + %d * %d"|args:$computed_total:$item.unit_price:$item.quantity|math}}

		{{* ToDo: allow zero as unit_price (#d10fbfa243f3cdb8cdf68ac67f5043c199bd44e2) *}}
		
		{{if $item.unit_price < 0 || $item.unit_price != $item.unit_price|floatval|strtolower}} {{* Hack to check the data is a number *}}
			{{:assign var='errors[]' value='Le prix saisi pour "%s" est invalide.'|args:$item.name}}
		{{/if}}
		{{if $item.quantity < 0 || $item.quantity != $item.quantity|floatval|strtolower}}{{:assign var='errors[]' value='La quantité saisie pour "%s" est invalide.'|args:$item.name}}{{/if}}

		{{:assign var='computed_item' value=$item}}
		{{:assign var='computed_item[unit_price]' value=$item.unit_price|floatval}}
		{{:assign var='computed_item[quantity]' value=$item.quantity|floatval}}
		{{:assign var='items[]' value=$computed_item}}
	{{/foreach}}
	
	{{if $computed_total != $_POST.quotation_total || $computed_total < 0}}
		{{:assign error="Erreur de calcul du total.\nEnregistrement du devis refusé."}}
	{{/if}}

	{{if $errors|count}}
		{{#foreach from=$errors item='error'}}
			<p class="error block">{{$error}}</p>
		{{/foreach}}
	{{else}}
		{{:assign new_key="%d+1"|math:$module.config.last_id}}
		{{:assign id="%d+1"|math:$module.config.last_quotation_id}}

		{{:save key=$id
			validate_schema="./quotation.schema.json"
			id=$new_key
			type='quotation'
			recipient_business_name=$_POST.recipient_business_name
			recipient_address=$_POST.recipient_address
			subject=$_POST.subject
			date=$_POST.date
			deadline=$_POST.deadline
			status=$_POST.status
			items=$items
			total=$computed_total
			contact_info=$_POST.contact_info
		}}
		{{:save key="config" last_id=$new_key last_quotation_id=$id}}
		{{:http redirect="?ok=1"}}
	{{/if}}

{{elseif $_GET.ok}}
	<p class="block confirm">Devis enregistré.</p>
{{/if}}

<form method="POST" action="">
	<fieldset>
		<legend><h2>Destinataire</h2></legend>
		{{:input type="text" name="recipient_business_name" label="Raison sociale" placeholder="ex : SARL J'aime les deux vies" required=true}}
		{{:input type="textarea" name="recipient_address" label="Adresse" placeholder="" required=true}}
	</fieldset>
	<fieldset>
		<legend><h2>Objet</h2></legend>
		<ul>
			<li>{{:input type="text" name="subject" label="Objet" placeholder="ex : Devis pour une location de barnum" required=true}}</li>
			<li>{{:input type="date" name="date" label="Date du devis" placeholder="" required=true}}</li>
			<li>{{:input type="date" name="deadline" label="Échéance pour validation" placeholder="" required=false}}</li>
			<li>{{:input type="text" name="contact_info" label="Contact" default=$config.org_email required=true}}</li>
			<li>
				<dt><label for="status">Statut</label></dt>
				<dd>
					<select name="status" id="status" required="required">
						<option label="En attente de validation" value="awaiting"{{if !$_POST.status || $_POST.status == 'awaiting'}} selected="selected"{{/if}}>En attente de validation</option>
						<option label="Rejeté" value="rejected"{{if $_POST.status && $_POST.status == 'rejected'}} selected="selected"{{/if}}>Rejeté</option>
						<option label="Validé" value="validated"{{if $_POST.status && $_POST.status == 'validated'}} selected="selected"{{/if}}>Validé</option>
						<option label="Autre" value="misc"{{if $_POST.status && $_POST.status == 'misc'}} selected="selected"{{/if}}>Autre</option>
					</select>
				</dd>
			</li>
		</ul>
	</fieldset>
	<fieldset>
		<legend><h2>Liste des articles</h2></legend>
		<p id="item_list_no_item_message">Aucun article pour le moment.</p>
		<table id="item_list" style="display: none;">
			<tr>
				<th>Dénomination</th>
				<th>Prix unitaire</th>
				<th>Quantité</th>
				<th>Total</th>
			</tr>
		</table>
		<p>{{:linkbutton label="Ajouter un article" href="item_form.html" shape="settings" target="_dialog"}}</p>
		<h3>Total des articles</h3>
		<p>
			<span id="quotation_total">0 {{$config.currency|htmlspecialchars}}</span>
			<input type="hidden" name="quotation_total" id="quotation_total_input" label="" value="" />
		</p>
	</fieldset>
	<input type="submit" name="quotation_submit" label="" value="Valider la création de devis" />
</form>

{{if $module.config.payment_detail || $module.config.bic}}
	<h2>Informations affichées en bas du devis</h2>
	{{if $module.config.payment_detail}}
		<p>
			{{$module.config.payment_detail}}
		</p>
	{{/if}}
	{{if $module.config.bic}}
		<p>
			BIC : {{$module.config.bic}}<br />
			IBAN : {{$module.config.iban}}<br />
			BANQUE : {{$module.config.bank}}
		</p>
	{{/if}}
	<p>(Ces informations sont modifiables dans la configuration du module.)</p>
{{/if}}


{{:admin_footer}}
