{{#restrict section="accounting" level="write"}}

{{* ==================== Header ==================== *}}

{{:admin_header title="Devis et factures" current="acc"}}
<nav class="tabs">
	<aside>
		{{:linkbutton href="new_quotation.html" label="Nouveau devis" shape="plus"}}
	</aside>
	{{:include file='./include/main_nav_tabs.html'}}
</nav>
{{:include file='./include/constants.tpl' keep='type_labels,status_labels,status_options'}}
{{* {{:include file='./include/style.tpl'}} *}}

<h1>Création d'un devis</h1>

{{if $_POST.quotation_submit}}
	{{:assign computed_total=0}}
	{{:assign errors=null}}
	{{:assign items=null}}
	{{#foreach from=$_POST.items key='index' item='item'}}
		{{if $item.name === ''}}{{:assign var='errors.' value="Le nom de l'article est requis."}}{{/if}}
		{{if $item.unit_price < 0 || $item.unit_price != $item.unit_price|floatval|strtolower}} {{* Hack to check the data is a number *}}
			{{:assign var='errors.' value='Le prix saisi pour "%s" est invalide.'|args:$item.name}}
		{{/if}}
		{{if $item.quantity < 0 || $item.quantity != $item.quantity|floatval|strtolower}}{{:assign var='errors.' value='La quantité saisie pour "%s" est invalide.'|args:$item.name}}{{/if}}

		{{:assign var='computed_item' value=$item}}
		{{:assign var='computed_item.unit_price' value='%d * 100'|math:$item.unit_price|floatval}}
		{{:assign var='computed_item.quantity' value=$item.quantity|intval}}
		{{:assign var='items.' value=$computed_item}}
		{{:assign var='computed_total' value="%d + %d * %d"|args:$computed_total:$item.unit_price:$item.quantity|math}}
	{{/foreach}}

	{{if ($computed_total != $_POST.quotation_total) || ($computed_total < 0)}}
		{{:assign var='errors.' value='Erreur de calcul du total. Enregistrement du devis refusé.'}}
	{{/if}}

	{{if $errors|count}}
		{{#foreach from=$errors item='error'}}
			<p class="error block">{{$error}}</p>
		{{/foreach}}
	{{else}}
		{{if $_POST.key}}
			{{:assign key=$_POST.key}}
		{{else}}
			{{#load select="MAX(key) AS last" where="json_extract(document, '$.type') = :type" :type='quotation'}} 
				{{:assign last_numeric=$last|regexp_replace:'~\D~':''}}
				{{:assign next_numeric='%d+1'|math:$last_numeric}}
				{{:assign key="D%06d"|args:$next_numeric}}
			{{/load}}
		{{/if}}

		{{:save 
			validate_schema="./quotation.schema.json"
			key=$key
			type='quotation'
			recipient_business_name=$_POST.recipient_business_name
			recipient_address=$_POST.recipient_address
			subject=$_POST.subject
			date=$_POST.date
			deadline=$_POST.deadline
			status=$_POST.status
			items=$items
			total=$computed_total
			contact_info=$_POST.contact_info
			payment_detail=$_POST.payment_detail
			extra_info=$_POST.extra_info
		}}

		{{:http redirect="./index.html?ok=1"}}
	{{/if}}
{{/if}}

<form method="POST" action="">
	<fieldset>
		<legend><h2>Destinataire</h2></legend>
		{{:input type="text" name="recipient_business_name" label="Raison sociale" placeholder="ex : SARL J'aime les deux vies" required=true}}
		{{:input type="textarea" name="recipient_address" label="Adresse" placeholder="" required=true}}
	</fieldset>
	<fieldset>
		<legend><h2>Objet</h2></legend>
		<ul>
			<li>{{:input type="text" name="key" label="Numéro" help="Ce numéro doit être unique. Laisser vide pour générer un nouveau numéro."}}</li>
			<li>{{:input type="text" name="subject" label="Objet" placeholder="ex : Devis pour une location de barnum" required=true}}</li>
			<li>{{:input type="date" name="date" label="Date du devis" placeholder="" required=true}}</li>
			<li>{{:input type="date" name="deadline" label="Échéance pour validation" placeholder="" required=false}}</li>
			<li>{{:input type="text" name="contact_info" label="Contact" default=$config.org_email required=true}}</li>
			<li>
				<dt><label for="status">Statut</label></dt>
				<dd>
					{{:input type="select" name="status" options=$status_options default=$status required=true}}
				</dd>
			</li>
		</ul>
	</fieldset>

	{{:include file='./include/item_list.tpl'}}

	{{if $module.config.payment_detail || $module.config.quotation_extra_info}}
		<fieldset>
			<legend><h2>Informations complémentaires affichées en bas du devis</h2></legend>
			<ul>
			{{if $module.config.payment_detail}}
				<li>{{:input type="textarea" name="payment_detail" label="Instructions de paiement" default=$module.config.payment_detail}}</li>
			{{/if}}
			{{if $module.config.quotation_extra_info}}
				<li>{{:input type="textarea" name="extra_info" label="Informations complémentaires" default=$module.config.quotation_extra_info}}</li>
			{{/if}}
			</ul>
		<p>(La valeur pré-remplie de ces informations est modifiable dans la configuration du module.)</p>
		</fieldset>
	{{/if}}

	{{*<input type="submit" name="quotation_submit" label="" value="Valider la création de devis" />*}}
	<p class="submit">
		{{:button type="submit" name="quotation_submit" label="Valider la création de devis" class="main"}}
	</p>
</form>

{{:admin_footer}}

{{else}}
	{{:error message="Seuls les membres avec accès en lecture à la comptabilité peuvent visualiser cette page."}}
{{/restrict}}