* { margin: 0; padding: 0; }

/*
    marron : #9c4f15 rgb(156, 79, 21)
    orange : #d98628 rgb(217, 134, 40)
*/

html { width: 100%; height: 100%; }
body {
    font-size: 100%;
    color: #000;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
    background: #fff;
    background: url("../img/bg01.png") no-repeat left -100px, url("../img/bg00.png") repeat-y left bottom, #fff;
}

.header {
    color: #fff;
}

.header h1 {
    color: #9c4f15;
    margin-left: 180px;
    margin-bottom: 0.4em;
}

.header .menu {
    float: left;
    width: 168px;
    margin-top: 100px;
}

.header .menu li {
    list-style-type: none;
}

.header .menu a {
    color: #fff;
    font-weight: bold;
    padding: 0.4em 0.4em 0.4em 1em;
    display: block;
    text-decoration: none;
}

.header .menu a:hover {
    text-decoration: underline;
    background: rgba(217, 134, 40, 0.5);
}

.header .menu li li a {
    font-size: 0.8em;
    padding-left: 2em;
}

.header .menu li.current > a {
    background: #fff;
    color: rgb(156, 79, 21);
}

.page {
    padding: 0px 1em 1em 180px;
}

p.error {
    border: 1px solid #c00;
    background: #fcc;
    padding: 0.5em;
    margin-bottom: 1em;
}

p.confirm {
    border: 1px solid #0c0;
    background: #cfc;
    padding: 0.5em;
    margin-bottom: 1em;
}

p.alert {
    border: 1px solid #cc0;
    background: #ffc;
    padding: 0.5em;
    margin-bottom: 1em;
}

p.intro {
    margin: 1em;
}

/* Formulaires */
fieldset {
    border: 1px solid #ccc;
    padding: 0.8em 1em 0 1em;
    margin-bottom: 1em;
}

fieldset legend {
    padding: 0 0.5em;
    font-weight: bold;
}

label:hover {
    cursor: pointer;
    border-bottom: 1px dotted #900;
}

dl dt label {
    font-weight: bold;
}

fieldset dl {
    margin-bottom: 0.8em;
}

fieldset dl dt b {
    color: #900;
    font-size: 0.7em;
    font-weight: normal;
    vertical-align: super;
}

fieldset dl dd.tip {
    color: #666;
}

fieldset dl dd {
    padding: 0.2em 0.5em 0.2em 1em;
}

input[type=text], textarea, input[type=password], input[type=email],
input[type=url], input[type=tel], select {
    padding: 0.2em 0.4em;
    font-family: Sans-serif;
    min-width: 20em;
}

input[type=number] {
    padding: 0.2em 0.4em;
    font-family: Sans-serif;
    min-width: 8em;
}

input[type=submit], input[type=button] {
    padding: 0.3em;
    cursor: pointer;
}

p.submit {
    margin: 1em;
}

.submit input[type=submit] {
    font-size: 1.2em;
}

form .checkUncheck {
    float: left;
}

form .actions {
    float: right;
}

h3.warning {
    margin: 1em;
    color: red;
}

dd.help {
    color: #666;
}

dd.help tt {
    background: #ddd;
    padding: 0.2em;
    cursor: pointer;
}

table.list {
    border-collapse: collapse;
    margin-bottom: 1em;
    width: 100%;
}

table.list th {
    text-align: left;
    font-weight: bold;
}

table.list thead {
    background: rgba(217, 134, 40, 0.5);
}

table.list th, table.list td {
    padding: 0.2em 0.5em;
}

table.list tr {
    border: 1px solid rgba(217, 134, 40, 0.5);
}

table.list tr:nth-child(even) {
    background: rgba(217, 134, 40, 0.2);
}

table.list .error {
    color: red;
    font-weight: bold;
}

table.list .alert {
    color: darkred;
    font-weight: bold;
}

table.list .confirm {
    color: darkgreen;
}

table.list .actions {
    text-align: right;
}

.droits b {
    border: 2px solid #999;
    border-radius: 1em;
    color: #000;
    background: #ccc;
    width: 16px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    cursor: help;
    vertical-align: middle;
    position: relative;
    z-index: 10;
}

.droits b.aucun {
    border-color: #ccc;
    background: #eee;
    color: #999;
}

.droits b.acces {
    border-color: #cc9;
    color: #660;
    background: #ffe;
}

.droits b.ecriture {
    border-color: #9c9;
    color: #060;
    background: #efe;
}

.droits b.aucun:before {
    content: "X";
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    color: #ccc;
    z-index: -1;
    font-size: 1.5em;
    overflow: hidden;
}

.droits b.admin {
    color: #900;
    border-color: #c99;
    background: #fee;
}

.infos {
    margin-bottom: 1em;
}

.infos h3 {
    margin-bottom: 0.5em;
}

.infos p {
    margin-bottom: 0.8em;
}

.infos dl {
    margin-bottom: 0.8em;
}

.infos dl dd {
    margin: 0.2em 1em;
}