{{#restrict block=true section="accounting" level="read"}}
{{/restrict}}

{{:include file="./_config_default.tpl"}}

{{:admin_header title="Reçus fiscaux" current="acc"}}

<nav class="tabs">
	{{#restrict section="accounting" level="write"}}
	<aside>
		{{#restrict section="accounting" level="admin"}}
			{{:linkbutton href="config.html" label="Configuration" shape="settings" target="_dialog"}}
		{{/restrict}}
		{{*{{:linkbutton href="generer.html" label="Générer des reçus" shape="check"}}*}}
		{{:linkbutton href="nouveau.html" label="Nouveau reçu" shape="plus"}}
	</aside>
	{{/restrict}}

	<ul>
		<li class="current"><a href="./">Liste des reçus</a></li>
		<li><a href="./recap.html">Récapitulatif annuel pour déclaration</a></li>
	</ul>
</nav>

<div class="shortForms">
	<form method="get" action="">
		<fieldset>
			<legend>Filtrer par année</legend>
			<p>
				{{:assign var="years." value="— Voir toutes les années —"}}

				{{#load select="SUBSTR($$.date, 1, 4) AS year" group="SUBSTR($$.date, 1, 4)"}}
					{{:assign var="years.%d"|args:$year value=$year}}
				{{/load}}

				{{:input type="select" name="year" options=$years default=$_GET.year onchange="this.form.submit();"}}
			</p>
		</fieldset>
	</form>

	<form method="get" action="" data-focus="1">
		<fieldset>
			<legend>Chercher un reçu</legend>
			<p>
				{{:input type="search" name="q" placeholder="Nom, numéro, ou date" default=$_GET.q}}
				{{:button type="submit" label="Chercher" shape="right"}}
			</p>
		</fieldset>
	</form>
</div>

{{if $_GET.q}}
	{{if $_GET.q|regexp_match:'/^\d+$/'}}
		{{:assign where="id = :id_search" id=$_GET.q|intval}}
	{{elseif $_GET.q|parse_date}}
		{{:assign where="$$.date = :date" date=$_GET.q|parse_date}}
	{{else}}
		{{:assign nom2=$_GET.q|trim|regexp_replace:'/[!%_]/':'!$0'}}
		{{:assign where="$$.nom LIKE :nom ESCAPE '!'" nom="%%%s%%"|args:$nom2}}
	{{/if}}
{{elseif $_GET.year}}
	{{:assign where="SUBSTR($$.date, 1, 4) = :year"}}
{{/if}}

{{#list
	select="id AS 'Numéro'; $$.nom AS 'Nom du bénéficiaire'; $$.date AS 'Date d''émission';  $$.montant AS 'Montant'"
	where=$where
	order=0 desc=true
	:year=$_GET.year
	:date=$date
	:id_search=$id
	:nom=$nom
}}
	<tr class="{{if $annule}}disabled crossed{{/if}}">
		<td class="num">
			{{:link href="voir.html?id=%d"|args:$id label=$id target="_dialog"}}
		</td>
		<th>
			{{if $linked_user}}
				{{:link href="!users/details.php?id=%d"|args:$linked_user label=$nom}}
			{{else}}
				{{$nom}}
			{{/if}}
		</th>
		<td>
			{{$date|date_short}}
		</td>
		<td>
			{{$montant|raw|money_currency}}
		</td>
		<td class="actions">
			{{if !$annule}}
				{{:linkbutton shape="delete" label="Annuler" href="./annuler.html?id=%d"|args:$id target="_dialog"}}
			{{/if}}
			{{:linkbutton shape="eye" label="Ouvrir" href="./voir.html?id=%d"|args:$id target="_dialog"}}
		</td>
	</tr>
{{else}}
	<p class="alert block">
		{{if $_GET.q}}
			Aucun reçu n'a été trouvé pour la recherche "{{$_GET.q}}".
		{{elseif $_GET.year}}
			Aucun reçu n'a été trouvé pour l'année sélectionnée.
		{{else}}
			Aucun reçu n'a encore été créé.
		{{/if}}
	</p>
{{/list}}

{{:admin_footer}}