@charset "UTF-8";

@font-face {
    font-family: 'gicon';
    src: url('font/garradin.eot?36341436');
    src: url('font/garradin.eot?36341436#iefix') format('embedded-opentype'),
        url('font/garradin.woff?36341436') format('woff'),
        url('font/garradin.ttf?36341436') format('truetype'),
        url('font/garradin.svg?36341436#garradin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td,
figure, article, aside, section, header, footer { 
    padding: 0;
    margin: 0;
}
fieldset, img { 
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
caption, th {
    text-align: left;
}
article, aside, figure, section, header, footer { display: block; }

span { display: inline-block; }

h1  { font-size: 2em; }
h2  { font-size: 1.5em; }
h3  { font-size: 1.2em; }
h4  { font-size: 1em; }
h5  { font-size: 0.9em; }
h6  { font-size: 0.8em; }

/*
    marron : #9c4f15 rgb(156, 79, 21)
    orange : #d98628 rgb(217, 134, 40)
*/

:root {
    --gBgColor: 255, 255, 255;
    --gMainColor: 156, 79, 21;
    --gSecondColor: 217, 134, 40;
}

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 100%;
    color: #000;
    font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
    padding-bottom: 1em;
    background: #fff url("gdin_bg.png") no-repeat 0px 0px fixed;
    background-color: rgb(var(--gBgColor));
    /* Pas possible d'utiliser une variable CSS pour l'image de fond, c'est bugué dans Chrome
    cf. https://bugs.chromium.org/p/chromium/issues/detail?id=618165 */
}

body#popup {
    background-position: -170px 0px;
}

body#transparent {
    background: transparent;
}

.header {
    color: #fff;
    color: rgb(var(--gBgColor));
}

.header h1 {
    color: #9c4f15;
    color: rgb(var(--gMainColor));
    margin-left: 180px;
    margin-bottom: 0.4em;
}

.header .menu {
    position: fixed;
    overflow: auto;
    width: 170px;
    top: 0;
    bottom: 0;
    padding-top: 100px;
    background: #9c4f15 url("gdin_bg.png") no-repeat 0px 0px;
    background-color: rgb(var(--gMainColor));
}

.header .menu::-webkit-scrollbar {
    width: 8px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: inset 0px 0px 10px #666;
}

.header .menu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.header .menu i {
    font-style: normal;
}

.header .menu a {
    color: #fff;
    color: rgb(var(--gBgColor));
    font-weight: bold;
    padding: 0.4em 0.4em 0.4em 1em;
    display: block;
    text-decoration: none;
    transition: background .3s;
}

.header .menu a:hover {
    text-decoration: underline;
    background: rgb(217, 134, 40);
    background: rgba(217, 134, 40, 0.5);
    background: rgba(var(--gSecondColor), 0.5);
}

.header .menu li li a {
    font-size: 0.8em;
    padding-left: 2em;
}

.header .menu li.current > a {
    background: #fff;
    background: rgb(var(--gBgColor));
    color: rgb(156, 79, 21);
    color: rgb(var(--gMainColor));
}

.header .menu a b {
    float: right;
    text-decoration: none;
    margin-top: -.2em;
    font-size: 20pt;
    color: rgb(70, 70, 70);
    color: rgba(255, 255, 255, .5);
}

.header .menu li.current > a b {
    color: rgb(217, 134, 40);
    color: rgba(217, 134, 40, 0.5);
    color: rgba(var(--gSecondColor), 0.5);
}

main {
    margin: 0px 1em 1em 180px;
    position: relative;
}

main img {
    max-width: 100%;
}

body#popup main {
    margin: 1em 1em 1em 2.5em;
}

body#transparent main {
    margin: 0;
    padding: .2em;
}

span.error, b.error {
    color: #900;
}

span.confirm, b.confirm {
    color: #090;
}

span.alert, b.alert {
    color: #990;
}

p.error, div.error {
    border: 1px solid #c00;
    background: #fcc;
    padding: 0.5em;
    margin-bottom: 1em;
}

p.confirm, div.confirm {
    border: 1px solid #0c0;
    background: #cfc;
    padding: 0.5em;
    margin-bottom: 1em;
}

p.alert, div.alert {
    border: 1px solid #cc0;
    background: #ffc;
    padding: 0.5em;
    margin-bottom: 1em;
    overflow: auto;
}

p.help {
    margin: 1em;
    color: #666;
}

p.intro {
    margin: 1em;
}

.error ul, .alert ul, .confirm ul {
    margin-left: 1.5em;
    list-style: disc;
}

/* Formulaires */
fieldset {
    border: 1px solid #ccc;
    padding: 0.8em 1em 0 1em;
    margin-bottom: 1em;
    padding: 0.5em;
}

fieldset legend {
    padding: 0 0.5em;
    font-weight: bold;
    color: #000;
}

label:hover {
    cursor: pointer;
    border-bottom: 1px dotted #900;
}

dl dt label {
    font-weight: bold;
}

fieldset dl dt b {
    color: #900;
    font-size: 0.7em;
    font-weight: normal;
    vertical-align: super;
}

fieldset dl dd.tip {
    color: #666;
}

fieldset dl dd {
    padding: 0.2em 0.5em 0.2em 1em;
}

fieldset dl dd ol, fieldset dl dd ul {
    margin-left: 1.5em;
}

fieldset dl dl {
    margin: .5em 0 .5em 1.2em;
}

input[type=text], textarea, input[type=password], input[type=email],
input[type=url], input[type=tel], select {
    padding: 0.2em 0.4em;
    font-family: Sans-serif;
    min-width: 20em;
    max-width: 100%;
}

select, input[size] {
    min-width: 0;
}

input.time {
    text-align: center;
    padding: .2em 0;
}

input[type=number], input[type=date] {
    padding: 0.2em 0.4em;
    font-family: Sans-serif;
    min-width: 2em;
}

input[type=submit], input[type=button], input[type=checkbox] {
    padding: 0.3em;
    cursor: pointer;
    transition: opacity .5s ease;
}

input.resetButton {
    padding: .1em;
    margin-left: 1em;
}

.loader {
    width: 100%;
    min-height: 32px;
    display: block;
    position: relative;
}

.loader.install {
    margin-top: -40px;
}

.loader b {
    text-shadow: 2px 2px 5px #999;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    border-radius: .5em;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    z-index: 9999;
    position: absolute;
    display: block;
    left: 10px;
    top: 10px;
    padding: .2em;
}

.loader img {
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: 2;
}

select.large {
    width: 95%;
}

select.large .niveau_1 {
    background: #333;
    color: #fff;
    font-style: normal;
    font-size: 1.2em;
}

select.large optgroup.niveau_2 {
    background: #666;
    color: #fff;
    font-style: normal;
    padding-left: 1em;
}

select.large option {
    background: #fff;
    color: #000;
}

select.large .niveau_2 { font-style: italic; background: #eee; }
select.large .niveau_3 { padding-left: 1em; font-weight: bold; }
select.large .niveau_4 { padding-left: 2em; }
select.large .niveau_5 { padding-left: 3em; }
select.large .niveau_6 { padding-left: 4em; }

p.submit {
    margin: 1em;
}

.submit input[type=submit] {
    font-size: 1.2em;
}

.submit input.minor {
    font-size: .9em;
}

form .checkUncheck {
    float: left;
}

form span.password_check {
    margin-left: 1em;
    padding: .1em .3em;
    border-radius: .5em;
}

form span.password_check.fail { background-color: #f99; }
form span.password_check.weak { background-color: #ff9; }
form span.password_check.medium { background-color: #ccf; }
form span.password_check.ok { background-color: #cfc; }

dd.help input[type=text] {
    cursor: pointer;
    padding: 0;
    font-family: monospace;
}

form p.actions {
    float: right;
}

ul.actions {
    list-style-type: none;
    margin: 1em 0;
    border-bottom: .1em solid #9c4f15;
    border-bottom: .1em solid rgb(var(--gMainColor));
    padding: 0 1em;
}

ul.actions li {
    display: inline-block;
    margin: 0 0.2em;
}

ul.actions li a, ul.actions li label {
    display: inline-block;
    background: rgb(217, 134, 40);
    background: rgba(217, 134, 40, .5);
    background: rgba(var(--gSecondColor), .5);
    border-radius: .5em .5em 0 0;
    padding: .1em .5em;
    color: #000;
    text-decoration: none;
}

ul.actions li input {
    display: none;
}

ul.actions li.current a, ul.actions li input:checked + label {
    background: #9c4f15;
    background: rgb(var(--gMainColor));
    color: #fff;
    color: rgb(var(--gBgColor));
}

ul.actions li a:hover, ul.actions li label:hover {
    color: #fff;
    color: rgb(var(--gBgColor));
    text-decoration: underline;
    border-bottom: none;
}

h3.warning {
    margin: 1em;
    color: red;
}

dd.help, small.help {
    color: #666;
}

ul.gallery {
    text-align: center;
}

ul.gallery li {
    display: inline-block;
    margin: .3em;
    vertical-align: middle;
    width: 150px;
}

ul.gallery li img {
    max-width: 150px;
    max-height: 150px;
}

ul.gallery .actions {
    text-align: center;
    z-index: 100;
}

table.list {
    margin-bottom: 1em;
    width: 100%;
}

table.list.auto {
    width: auto;
}

table.list table {
    margin: 0;
}

table.list th {
    text-align: left;
    font-weight: bold;
}

table.list thead {
    background: rgb(217, 134, 40);
    background: rgba(217, 134, 40, 0.5);
    background: rgba(var(--gSecondColor), 0.5);
}

table.list tfoot tr {
    background: rgb(247, 164, 70);
    background: rgba(217, 134, 40, 0.1);
    background: rgba(var(--gSecondColor), 0.2);
    color: rgb(156, 79, 21);
    color: rgb(var(--gMainColor));
}

table.list th, table.list td {
    padding: 0.2em 0.5em;
}

table.list tr {
    border: 1px solid rgb(217, 134, 40);
    border-color: rgba(var(--gSecondColor), 0.5);
    transition: background .5s
}

table.list tr:nth-child(even) {
    background: rgb(255, 174, 80);
    background: rgba(217, 134, 40, 0.2);
    background: rgba(var(--gSecondColor), 0.2);
}

table.list.multi tr:nth-child(even) {
    background: inherit;
}

table.list.multi tr:nth-child(4n+1), table.list.multi tr:nth-child(4n+2) {
    background: rgb(255, 174, 80);
    background: rgba(217, 134, 40, 0.2);
    background: rgba(var(--gSecondColor), 0.2);
}

table.list tr.checked {
    color: #633;
    background: #ffc;
}

table.list .error {
    color: red;
    font-weight: bold;
}

table.list .alert {
    color: darkred;
    font-weight: bold;
}

table.list .confirm {
    color: darkgreen;
}

table.list .num {
    text-align: center;
}

table.list .check {
    width: 1%;
}

table.search th {
    background: rgb(217, 134, 40);
    background: rgba(217, 134, 40, 0.5);
    background: rgba(var(--gSecondColor), 0.5);
}

.userOrder .cur {
    background: rgb(217, 134, 40);
    background: rgba(var(--gSecondColor), 1.0);
    color: #fff;
    color: rgb(var(--gBgColor));
}

.userOrder td, .userOrder th {
    position: relative;
}

.userOrder .icn {
    float: left;
    clear: left;
    color: #9c4f15;
    color: rgb(var(--gMainColor));
    text-decoration: none;
    font-size: 12pt;
    line-height: 6pt;
    width: 12pt;
    height: 8pt;
    vertical-align: middle;
    font-weight: normal;
    text-shadow: 0px 0px 1px #fff;
    text-shadow: 0px 0px 1px rgb(var(--gBgColor));
}

thead .icn:hover {
    color: darkred;
    text-shadow: none;
}

thead .cur.desc .icn.dn, thead .cur.asc .icn.up {
    color: #fff;
    text-shadow: none;
}

table.list .actions {
    text-align: right;
}

b.money {
    font-weight: inherit;
    white-space: pre;
}

#rapport h3 {
    text-align: center;
    margin-bottom: .5em;
}

#rapport table {
    width: 100%;
}

#rapport tr {
    vertical-align: top;
}

#rapport table table {
    border: 1px solid rgb(217, 134, 40);
    border-color: rgba(217, 134, 40, 0.5);
    border-color: rgba(var(--gSecondColor), 0.5);
}

#rapport table table tr th {
    width: 80%;
}

#rapport td, #rapport th {
    padding: 0.2em 0.5em;
    text-align: left;
}

#rapport td.money, #rapport th.money {
    text-align: right;
}

#rapport .compte th {
    font-weight: normal;
}

#rapport table table td {
    text-align: right;
}

#rapport .parent {
    font-weight: bold;
    background: rgb(247, 164, 70);
    background: rgba(217, 134, 40, 0.2);
    background: rgba(var(--gSecondColor), 0.2);
}

#rapport table table tfoot tr {
    background: rgb(247, 164, 70);
    background: rgba(217, 134, 40, 0.1);
    background: rgba(var(--gSecondColor), 0.1);
    color: rgb(156, 79, 21);
    color: rgb(var(--gMainColor));
}

#rapport .exercice {
    text-align: center;
    margin-bottom: .8em;
    padding-bottom: .5em;
    border-bottom: 1pt solid #999;
}

#rapport h1 {
    text-align: center;
}

.icn, .icnl {
    font-family: "gicon", sans-serif;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-variant: normal;
    text-transform: none;
    position: relative;
}

.actions .icn, .icn.action {
    text-decoration: none;
    border-radius: 1em;
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    line-height: .8em;
    vertical-align: middle;
    padding: .2em;
    font-family: "gicon", sans-serif;
    color: #9c4f15;
    color: rgb(var(--gMainColor));
    text-shadow: 1px 1px 1px #999;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 200;
}

a.icn[title]:after {
    display: none;
    position: absolute;
    content: attr(title);
    font-size: 10pt;
    border-radius: .2em;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    padding: .3em .4em;
    background: #ff9;
    text-shadow: none;
    white-space: pre;
    box-shadow: 0px 0px 2px #000;
    text-decoration: underline;
    padding-right: 2em;
}

dl dd.actions a.icn[title]:after {
    right: auto;
    left: 0;
    padding-left: 2em;
    padding-right: .4em;
}

a.icn[title]:hover:after {
    display: inline-block;
}

.num a {
    text-decoration: none;
    border-radius: .5em;
    display: inline-block;
    text-align: center;
    padding: 0 .2em;
    background: rgb(247, 164, 70);
    background: rgba(217, 134, 40, 0.5);
    background: rgba(var(--gMainColor), 0.5);
}

.actions .icn:hover, .num a:hover, .icn.action:hover {
    color: darkred;
    background: #ff9;
    z-index: 300;
}

.droits b {
    border: 2px solid #999;
    border-radius: 1em;
    color: #000;
    background: #ccc;
    width: 16px;
    display: inline-block;
    text-align: center;
    font-size: 0.8em;
    cursor: help;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    font-family: "gicon", "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.droits b.aucun {
    border-color: #ccc;
    background: #eee;
    color: #999;
}

.droits b.acces {
    border-color: #cc9;
    color: #660;
    background: #ffe;
}

.droits b.ecriture {
    border-color: #9c9;
    color: #060;
    background: #efe;
}

.droits b.aucun:before {
    content: "X";
    position: absolute;
    left: 0;
    right: 0;
    top: -3px;
    color: #ccc;
    z-index: -1;
    font-size: 1.5em;
    overflow: hidden;
}

.droits b.admin {
    color: #900;
    border-color: #c99;
    background: #fee;
}

.infos {
    margin-bottom: 1em;
}

.infos h3 {
    margin-bottom: 0.5em;
}

.infos p {
    margin-bottom: 0.8em;
}

.infos dl {
    margin-bottom: 0.8em;
}

.infos dl dd {
    margin: 0.2em 1em;
}

.shortFormRight {
    width: 30em;
    float: right;
    font-size: 80%;
    text-align: center;
    margin-left: 1em;
}

.shortFormLeft {
    font-size: 80%;
}

.shortFormLeft .special {
    display: none;
}

.shortFormRight p.submit {
    margin-top: -2em;
    float: right;
}

.memberList {
    clear: both;
}

.pagination {
    clear: both;
    list-style-type: none;
    padding: 0.4em 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 0.3em;
}

.pagination li.current {
    font-size: 1.3em;
}

.pagination li a {
    color: #000;
}

fieldset.memberMessage {
    max-width: 30em;
}

fieldset.memberMessage #f_sujet, fieldset.memberMessage #f_message {
    width: 95%;
}

.templatesList ul {
    margin: 1em 2em;
}

.catList dt {
    font-size: 1.2em;
    font-weight: bold;
}

.catList dd.desc {
    color: #666;
    margin: .2em 0 .2em 2em;
}

.catList dd.compte {
    color: #9c4f15;
    color: rgb(var(--gMainColor));
    margin: .2em 0 .2em 2em;
}

.catList dd.actions {
    margin: .2em 0 1em 2em;
}

ul.accountList {
    list-style-type: square;
    margin-left: 2em;
}

ul.accountList > li > h4 {
    font-weight: normal;
    font-size: 1.2em;
}

ul.accountList > li {
    margin-bottom: .8em;
}

table.accountList .niveau_2 .libelle {
    font-weight: bold;
}

table.accountList .niveau_3 .libelle { padding-left: 1em; }
table.accountList .niveau_4 .libelle { padding-left: 2em; }
table.accountList .niveau_5 .libelle { padding-left: 3em; }
table.accountList .niveau_6 .libelle { padding-left: 4em; }

table.rib { display: inline-table; vertical-align: middle; font-size: .9em; text-align: center; border-collapse: collapse; }
table.rib th, table.rib td { padding: .1em .3em; border: 1px solid #ccc; }

dl.describe {
    margin-bottom: 1em;
    clear: both;
}

dl.describe > dt {
    font-weight: bold;
    width: 15em;
    float: left;
    clear: left;
    margin-bottom: .5em;
}

dl.describe > dd {
    margin-bottom: .5em;
    float: left;
}

dl.describe ul {
    margin-left: 1.5em;
    list-style-type: disc;
}

dl.cotisation {
    background: rgb(255, 174, 80);
    background: rgba(217, 134, 40, 0.2);
    background: rgba(var(--gSecondColor), 0.2);
    padding: .5em;
    border-radius: .5em;
    margin: 1em;
}

dl.cotisation dt {
    font-weight: bold;
}

dl.cotisation dd {
    margin: .2em 0 .4em 1em;
}

.infos_asso {
    width: 20%;
    float: right;
    margin: .5em;
    border: .1em solid #ccc;
    background: #eee;
    padding: .5em;
}

#orderFields fieldset {
    position: relative;
    min-height: 2em;
    transition: all 1s;
    overflow: hidden;
    max-height: 5000px;
}

#orderFields fieldset legend {
    font-size: 1.2em;
    line-height: .8em;
    color: #666;
}

#orderFields fieldset .actions {
    display: block;
    position: absolute;
    top: 1em;
    right: 1em;
}

#orderFields fieldset .actions .icn {
    position: absolute;
}

#orderFields fieldset dl {
    overflow: hidden;
    transition: all .5s;
    opacity: 1;
    display: block;
    max-height: 5000px;
}

#orderFields fieldset dl.hidden {
    opacity: 0;
    max-height: 0;
}

#orderFields fieldset.removed {
    max-height: 0;
    opacity: 0;
    border-color: red;
    min-height: 0;
    height: 0;
}

#orderFields fieldset .actions .remove { right: 0em; }
#orderFields fieldset .actions .edit { right: 1.5em; }
#orderFields fieldset .actions .down { right: 3em; }
#orderFields fieldset .actions .up { right: 4.5em; }

#orderFields fieldset:nth-child(1) .actions .up, #orderFields fieldset:nth-last-child(1) .actions .down {
    display: none;
}

#orderFields fieldset .actions .icn {
    cursor: pointer;
}

#orderFields fieldset .interactive:hover {
    cursor: pointer;
    text-decoration: underline;
}

pre.sql_schema {
    float: right;
    color: #666;
    font-size: .9em;
    width: 30%;
    overflow: auto;
}

.hidden {
    display: none;
}

img.qrcode {
    float: right;
    padding: .5em;
    border: .5em solid #000;
    background: #fff;
}
