body {
	background-position: -180px 0px;
	background-attachment: scroll;
	font-size: 11pt;
}

input, select, textarea {
    min-width: 0 !important;
    max-width: calc(100% - 2em);
}

select {
	width: calc(100% - 3em);
}

.header h1 {
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	margin: 6em 0 .3em 0;
}

.header .menu {
	background: none !important;
	position: fixed;
	bottom: inherit;
	overflow: visible;
	z-index: 10000;
	margin: 0;
	margin-bottom: 3em;
	width: 100%;
	padding: 0;
	display: block;
}

.header .menu *, .header .menu a {
	margin: 0;
	padding: 0;
}

.header .menu > ul {
	background: rgb(var(--gMainColor));
	flex-wrap: nowrap;
	display: flex;
	align-items: center;
}

.header .menu > ul > li {
	flex-grow: 1;
	text-align: center;
	display: inline-flex;
}

.header .menu > ul > li > a {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.header .menu > ul > li > a i {
	display: none;
}

.header .menu > ul > li > ul {
	display: none;
}

.header .menu > ul > li > a b {
	float: none;
	display: inline-block;
	color: #fff;
	width: 20pt;
	height: 14pt;
	padding: 10pt;
	line-height: 20pt;
	cursor: pointer;
}

.header .menu li.current_parent > a {
	background: #fff;
}

.header .menu > ul > li.current b {
	color: rgb(var(--gSecondColor));
}

.header .menu > ul > li.current_parent b {
	color: rgb(var(--gMainColor));
}

.header .menu > ul > li.current > ul, .header .menu > ul > li.current_parent > ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	top: 30pt;
	left: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.75);
	border-bottom: .2rem solid rgba(var(--gMainColor), 0.5);
}

.header .menu > ul > li.current > ul li, .header .menu > ul > li.current_parent > ul li {
	text-align: center;
	display: block;
}

.header .menu > ul > li.current > ul a, .header .menu > ul > li.current_parent > ul a {
	background: rgb(var(--gSecondColor), 0.3);
	border-radius: .5em;
	margin: .2rem;
	color: rgb(var(--gMainColor));
	padding: .3em .5em;
	font-size: .9em;
	font-weight: normal;
}

.header .menu > ul > li > ul li.current a {
	background: rgb(var(--gSecondColor));
	color: #fff;
}

main {
	margin: 0;
	padding: .1em;
}

nav.tabs ul {
	border: none;
	padding: 0;
	margin: .3em 0;
	justify-content: center;
}

nav.tabs ul li a, nav.tabs ul li label {
	margin: .1em;
	border-radius: .5em;
}

nav.tabs .sub {
	margin: 1em 0;
	border: none;
	border-top: .2rem dashed rgb(var(--gSecondColor));
}

.filterCategory, .searchMember {
	width: auto;
	float: none;
}

pre.sql_schema, .wikiChildren, fieldset.wikiMain, fieldset.wikiRights, fieldset.wikiEncrypt {
	float: none;
	width: auto;
}

dl.describe {
	margin: 0 .5em;
}

fieldset {
	border-left: none;
	border-right: none;
}

.shortFormRight, .shortFormLeft {
	float: none;
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

/* Petits écrans (smartphones) */
@media screen and (max-width:600px) {
	table.list tr {
		display: block;
	}

	table.list td, table.list th {
		display: inline-block;
		border-left: 2px dashed #999;
		width: auto !important;
	}

	colgroup {
		/* Hack pour désactiver les largeurs de colonnes */
		display: none;
	}

	.radio-btn input {
		position: absolute;
		right: 1em;
	}

	table.list td:first-child, table.list th:first-child {
		border-left: none;
	}

	.infos_asso {
		float: none;
		width: auto;
	}

	nav.acc-year {
		flex-direction: column;
		border: none;
		border-radius: 0;
		background: rgba(var(--gMainColor), 0.2);
		font-size: .8em;
	}

	.actions, table.list .actions {
		text-align: center;
	}

	.actions a {
		margin: .2em;
		font-size: .9em;
	}

	nav.tabs aside {
		float: none;
		text-align: center;
	}

	#dialog {
		background: black;
	}

	#dialog > iframe {
		width: 100%;
		height: 100%;
		margin: 0;
	}

	#dialog > button {
		border: none;
		background: none;
	}

	body#popup main {
		margin: .2em;
	}

	dl.list {
		text-align: center;
	}

	table.statement td, table.statement tr {
		display: block;
	}

	aside.describe {
		float: none;
		margin: 1em auto;
	}

	dl.describe {
		display: block;
		margin: 1em;
		text-align: left;
	}

	dl.describe > dt {
		text-align: unset;
	}

	dl.describe > dd {
		font-size: 1.2em;
		margin-bottom: .8em;
	}

	.datepicker-parent {
		position: static;
	}

	dialog.datepicker {
		margin: auto;
	}
}