body {
	background-position: -180px 0px;
	background-attachment: scroll;
	font-size: 11pt;
}

.header h1 {
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	margin: .3em 0;
}

.header .menu {
	background: none !important;
	position: relative;
	margin: 0;
	margin-bottom: 3em;
	width: 100%;
	padding: 0;
	display: block;
}

.header .menu *, .header .menu a {
	margin: 0;
	padding: 0;
}

.header .menu > ul {
	background: rgb(var(--gMainColor));
	flex-wrap: nowrap;
	display: flex;
}

.header .menu > ul > li {
	flex-grow: 1;
	text-align: center;
	width: 30pt;
}

.header .menu > ul > li, .header .menu > ul > li > a {
	display: inline-flex;
}

.header .menu > ul > li > a {
	display: block;
}

.header .menu > ul > li > a i {
	display: none;
}

.header .menu > ul > li > ul {
	display: none;
}

.header .menu > ul > li > a b {
	color: #fff;
	width: 20pt;
	height: 18pt;
	padding: 10pt;
	display: block;
	line-height: 20pt;
}

.header .menu > ul > li.current b {
	color: rgb(var(--gMainColor));
}

.header .menu > ul > li.current > ul {
	display: flex;
	position: absolute;
	top: 30pt;
	left: 0;
	right: 0;
	background: #fff;
}

.header .menu > ul > li.current > ul li {
	flex-grow: 1;
	text-align: center;
	display: block;
}

.header .menu > ul > li.current > ul a {
    color: #9c4f15;
    color: rgb(var(--gMainColor));
    padding: 2pt 3pt;
    text-decoration: underline
}

main {
	margin: 0;
	padding: .1em;
}

ul.actions {
	padding: 0;
	border: none;
	font-size: .8em;
	text-align: center;
	margin: .3em 0;
}

ul.actions li a {
	margin: .1em;
	border-radius: .5em;
}

.filterCategory, .searchMember {
	width: auto;
	float: none;
}

pre.sql_schema, .wikiChildren, fieldset.wikiMain, fieldset.wikiRights, fieldset.wikiEncrypt {
	float: none;
	width: auto;
}

dl.describe dt, dl.describe dd {
	float: none;
	width: auto;
	text-align: center;
}

/* Petits écrans (smartphones) */
@media screen and (max-width:600px) {
	table.list td, table.list th {
		display: inline-block;
		border-left: 1px solid #999;
		width: auto !important;
	}

	colgroup {
		/* Hack pour désactiver les largeurs de colonnes */
		display: none;
	}

	table.list td:first-child, table.list th:first-child {
		border-left: none;
	}

	.infos_asso {
		float: none;
		width: auto;
	}

	input[type=text], textarea, input[type=password], input[type=email], input[type=url], input[type=tel], select {
		min-width: 3em;
		width: 95%;
	}
}