@page {
    size: A4 portrait;
    margin: 0;
}

body {
    background: #fff;
    padding: 0;
    margin: 1cm;
    font-size: 10pt;
}

header.header {
    display: none;
}

main {
    margin: 0;
}

.header h1 {
    margin: 0;
    text-align: center;
}

table thead {
    background: #333;
    color: #fff !important;
}

table.list tfoot tr {
    background: #666;
    color: #fff;
}

table.list tr {
    border: 1px solid #666;
}

table.list tr:nth-child(even) {
    background: #ddd;
}

table.list.multi tr:nth-child(even) {
    background: inherit;
}

table.list.multi tr:nth-child(4n+1), table.list.multi tr:nth-child(4n+2) {
    background: #ddd;
}

table.list td {
    border: 1px solid #999;
}

#rapport tr {
    color: #000 !important;
}

#rapport table .parent {
    border-top: 1px dashed #666;
}

#rapport table table {
    border: 1px solid #666;
}

#rapport .parent {
    background: #ccc;
}

.noprint {
    display: none;
}

td.actions * {
    display: none;
}

td.num a {
    border: none;
    padding: 0;
    background: none;
}

a {
    color: black !important;
    text-decoration: none;
}

/* Don't repeat the table footer on every printed page */
table tfoot{
    display:table-row-group;
}
