.wikiContent p, .wikiContent h3, .wikiContent h4, .wikiContent h5, .wikiContent h6,
.wikiContent ul, .wikiContent ol, .wikiContent table, .wikiContent blockquote {
    margin-bottom: 8pt;
}

.wikiContent ul, .wikiContent ol, .wikiContent dd {
    margin-left: 2em;
}

.wikiContent ul {
    list-style-type: disc;
}

.wikiContent ol {
    list-style-type: decimal;
}

aside.fichier {
    margin: 1em;
}

aside.fichier small {
    opacity: 0.7;
}

aside.fichier a {
    display: inline-block;
    margin-right: 1em;
    padding: .5em;
    padding-left: 1.8em;
    border: 1px solid #999;
    background: #eee;
    border-radius: .5em;
    background-repeat: no-repeat;
    background-position: .5em center;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAQCAYAAADAvYV+AAAAd0lEQVQoz2NgQAVNQDwDCTcw4AF3gPg/Er4xSBWnAXEHFL9HU/wWSS4FpFgZiJ+jKULHT4BYAWa6LhC/w6HwNRBrojvHEoi/oCn8BMQmuDzoBsQ/oQq/A7E9AwEQDMQ/gNiHgUggx0AN8IVI/AGkeA+ReCdJTgAAgMhKhf6mzTIAAAAASUVORK5CYII=");
    transition: background-color .2s, color .2s;
}

aside.fichier a:hover {
    background-color: #ccc;
    color: darkred;
}

.wikiContent figure.image {
    text-align: center;
}

.wikiContent figure.image figcaption {
    font-style: italic;
    color: #666;
    margin-top: 2pt;
}

.wikiContent figure.image.centre {
    max-width: 500px;
    margin: 0 auto 8pt auto;
}

.wikiContent figure.image.gauche {
    max-width: 200px;
    float: left;
    margin: 0 8pt 4pt 0;
    clear: left;
}

.wikiContent figure.image.droite {
    max-width: 200px;
    float: right;
    margin: 0 0 4pt 8pt;
    clear: right;
}

.wikiContent figure.image.gauche figcaption, .wikiContent figure.image.droite figcaption {
    font-size: .8em;
}

.imageBrowser {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: url("data:image/svg+xml;base64,PCEtLSBCeSBTYW0gSGVyYmVydCAoQHNoZXJiKSwgZm9yIGV2ZXJ5b25lLiBNb3JlIEAgaHR0cDovL2dvby5nbC83QUp6YkwgLS0+Cjxzdmcgd2lkdGg9IjM4IiBoZWlnaHQ9IjM4IiB2aWV3Qm94PSIwIDAgMzggMzgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3Ryb2tlPSIjZmZmIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgc3Ryb2tlLXdpZHRoPSIyIj4KICAgICAgICAgICAgPGNpcmNsZSBzdHJva2Utb3BhY2l0eT0iLjUiIGN4PSIxOCIgY3k9IjE4IiByPSIxOCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMzYgMThjMC05Ljk0LTguMDYtMTgtMTgtMTgiPgogICAgICAgICAgICAgICAgPGFuaW1hdGVUcmFuc2Zvcm0gYXR0cmlidXRlTmFtZT0idHJhbnNmb3JtIiB0eXBlPSJyb3RhdGUiIGZyb209IjAgMTggMTgiIHRvPSIzNjAgMTggMTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIi8+CiAgICAgICAgICAgIDwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPg==") no-repeat center center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: opacity .5s;
    cursor: zoom-out;
}

.imageBrowser figure {
    position: fixed;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    transition: all .5s;
}

.imageBrowser figure img {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    max-width: 100%;
    width: auto;
    height: auto;
    background: #fff;
    padding: 1em;
    max-height: 90%;
    max-width: 90%;
    border-radius: .5em;
    cursor: e-resize;
}

.web-edit {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: .3fr .3fr .3fr;
    grid-gap: 2em;
}

fieldset.wikiText {
    grid-column: 1;
    grid-row: 1/3;
    border: none;
    padding: 0;
}

.web-edit input[type=text] {
    min-width: 0;
}

@media screen and (max-width: 980px) {
    .web-edit {
        display: block;
    }
}

#encryptPasswordDisplay {
    cursor: help;
    background: #ddd;
}

fieldset.wikiEncrypt, fieldset.wikiMain, .web-edit p.submit {
    grid-column: 2;
}

.web-edit dd.help {
    font-size: .9em;
}

fieldset.wikiMain #f_title {
    width: 90%;
    font-size: 14pt;
}

fieldset.wikiMain #f_uri {
    width: 90%;
}


.wikiFiles {
    text-align: center;
}

.wikiFooter, .wikiFiles {
    font-size: 0.8em;
    color: #666;
    border-top: 0.1em solid #ccc;
    clear: both;
}

.wikiMain samp {
    background: #eee;
    padding: 0.2em 0.3em;
}

.wikiChildren {
    margin: 1em 0 1em 1em;
    border: .1em solid #999;
    border-radius: .5em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.5);
    float: right;
    clear: right;
    width: 25%;
}

.wikiChildren ul {
    color: #ccc;
    list-style-type: square;
    margin-left: 1em;
}

.web-tree ul {
    margin-left: 1em;
    list-style-type: none;
}

.web-tree a {
    color: #666;
}

.web-tree td {
    width: 15%;
}

.web-tree i {
    display: inline-block;
    padding: 0 .5em;
}

.web-tree b {
    display: inline-block;
    padding: 0 .5em;
    color: #999;
}

.web-tree em {
    font-weight: normal;
}

.web-tree h3 {
    display: inline-block;
}

.web-tree .current > a {
    font-weight: bold;
    color: #000;
}

.web-tree .choice {
    text-align: center;
    margin-bottom: 1em;
}

.breadCrumbs {
    margin-bottom: .8em;
    font-size: .9em;
    color: #999;
}

.breadCrumbs ul, .breadCrumbs li {
    list-style-type: none;
    display: inline;
}

.breadCrumbs li:before {
    content: "> ";
}

.breadCrumbs li a {
    color: #333;
}

.wikiSearch {
}

.wikiSearch fieldset {
    padding: .3em;
}

.wikiSearch input[type=text] {
    padding: .3em;
}

.wikiResults h3 {
    font-weight: normal;
    margin-bottom: .3em;
}

.wikiResults p {
    margin-bottom: .8em;
    font-size: .9em;
}

form#f_upload fieldset {
    position: relative;
}

form .fileUpload .uploadHelper_progress {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
    text-align: center;
    padding: 1em;
    background: #ddd;
    box-shadow: 0px 0px 5px #999;
    border-radius: .5em;
}

form .fileUpload progress {
    width: 50%;
}

form#insertImage {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75);
}

form#insertImage fieldset {
    box-shadow: 5px 5px 10px #000;
    margin: 1em;
    padding: 1em;
    background: #ddd;
    border-radius: .5em;
    text-align: center;
}

form#insertImage dt {
    margin: .2em 0;
}

form#insertImage .align input {
    font-size: 1.2em;
    line-height: 32px;
    background: #fff;
    background-position: 5px center;
    background-repeat: no-repeat;
    padding: 5px;
    padding-left: 42px;
    border: 1px solid #999;
    border-radius: 5px;
    margin: .5em;
}

form#insertImage .align input[name=""] {
    background-image: url("pics/img_flow.png");
}

form#insertImage .align input[name="gauche"] {
    background-image: url("pics/img_left.png");
}

form#insertImage .align input[name="droite"] {
    background-image: url("pics/img_right.png");
}

form#insertImage .align input[name="centre"] {
    background-image: url("pics/img_center.png");
}

form#insertImage .cancel input {
    font-size: 0.8em;
    background: transparent;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: .5em;
    color: #666;
    cursor: pointer;
}

form#insertImage .align input:hover, form#insertImage .cancel input:hover  {
    cursor: pointer;
    background-color: #eee;
    color: darkred;
}

#confirm_saved {
    position: absolute;
    top: .5em;
    right: 4em;
    text-align: center;
    transition: all .5s, opacity 3s;
}

.diff {
    margin: 1em;
}

.diff .ins {diff
    background: #cfc;
    width: 45%;
}

.diff .del {
    background: #fcc;
    width: 45%;
}

.diff .line {
    width: 2%;
    padding: 0.2em;
    text-align: right;
    font-family: Mono;
    font-size: 90%;
    color: #666;
}

.diff .leftChange, .diff .rightChange {
    text-align: center;
    vertical-align: middle;
}

.diff ins { background: #9f9; }
.diff del { background: #f99; }

.diff hr {
    background: none;
    border: none;
    border-top: 5px dotted #fff;
    color: #fff;
    margin: .2em .4em;
}

.diff .separator {
    background: #ccc;
}

.diff {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
}

.diff tr {
    border: 1px solid #ccc;
    vertical-align: top;
}

.diff .leftChange b, .diff .rightChange b {
    text-shadow: 1px 1px 1px #ccc;
    color: #666;
}