{{#restrict section="accounting" level="write" block=true}}{{/restrict}}
{{:admin_header title="Supprimer écriture"}}

{{if $_GET.id}}
	{{#load assign="tpl" id=$_GET.id|intval}}{{/load}}
{{/if}}

{{if !$tpl}}
	{{:error message="Aucun modèle trouvé"}}
{{/if}}

{{if $_POST.delete}}
	{{:delete id=$tpl.id}}
	{{:http redirect="./"}}
{{/if}}

<form method="post" action="">
<fieldset>
	<legend>Supprimer un modèle</legend>
	<h3 class="warning">Supprimer le modèle "{{$tpl.name}}" ?</h3>
</fieldset>

<p class="submit">
	{{:button type="submit" shape="delete" label="Supprimer" name="delete" class="main"}}
</p>
</form>

{{:admin_footer}}
