{{#restrict block=true section="accounting" level="read"}}
{{/restrict}}
{{if !$_GET.id}}

	{{:error message="Aucun numéro d'écriture n'a été fourni"}}

{{else}}
	{{#transactions id=$_GET.id}}
		{{:assign date_short=$date|date_format:"%d-%m-%Y"}}
		{{:include file="/receipt/_header.html" page_size="A5" title="Bordereau chèques - %d - %s"|args:$id:$date_short}}

			<h1>Bordereau de remise de chèques</h1>

			<h4>Référence n°{{if $reference}}{{$reference}}{{else}}{{$id}}{{/if}} — {{$date|date_short}}</h4>

			{{#transaction_lines transaction=$id where="debit > 0"}}
			<h3>Compte de dépôt: {{$account_label}}</h3>
			{{:assign account_id=$id_account}}
			{{/transaction_lines}}

			{{#accounts id=$account_id where="description IS NOT NULL"}}
				<p>{{$description|escape|nl2br}}</p>
			{{/accounts}}

			<table>
				{{:assign i=1}}
				{{#transaction_lines transaction=$id where="credit > 0"}}
				<tr>
					<th width="5%">{{$i}}.</th>
					<td width="40%">{{$label}}</td>
					<td width="40%">{{$reference}}</td>
					<td width="15%" class="money">{{$credit|raw|money_currency}}</td>
				</tr>
				{{:assign i=$i|math:"+":1}}
				{{/transaction_lines}}
			</table>

			<h3>Nombre de chèques : {{$i|math:"-":1}}</h3>

			<h3>Total : {{$credit|raw|money_currency}}</h3>

		{{:include file="/receipt/_footer.html"}}
	{{else}}
		{{:error message="Le numéro d'écriture fourni n'existe pas."}}
	{{/transactions}}
{{/if}}