{{if $module.config.accounts === null}}
	{{:assign var="module.config.accounts" value='5112'}}
{{/if}}

{{:assign show=false}}

{{if $module.config.accounts}}
	{{:assign accounts=$module.config.accounts|regexp_replace:"/\s*,\s*/":"|^"}}
	{{:assign accounts="/^%s/i"|args:$accounts}}
	{{#foreach from=$transaction_lines item="line"}}
		{{if $line.account_code|regexp_match:$accounts && $line.debit == 0}}
			{{:assign show=true}}
		{{/if}}
	{{/foreach}}
{{else}}
	{{:assign show=true}}
{{/if}}

{{if $show}}
	{{:include file="/receipt/snippets/transaction_details.html"}}
{{/if}}