<!DOCTYPE html>
<html>
<head>
	<title>Mise à jour en cours</title>
	<style type="text/css">
	body { font-family: sans-serif; }
	button { font-size: 1.5em; }
	</style>
</head>

<body>

<h1>Une mise à jour est en cours</h1>
<h3 style="color: darkred;">Ne fermez pas cette fenêtre !</h3>
<p>Si vous fermez cette fenêtre, les données du formulaire seront perdues.</p>
<p>Attendez que la mise à jour soit terminée dans la fenêtre ci-dessous pour cliquer sur le bouton Recharger&nbsp;:</p>
<p><button onclick="location.reload();">Recharger</button></p>
<iframe src="./" width="100%" height="400"></iframe>

</body>
</html>
