<fieldset>
	<legend>Résumé</legend>
	<dl class="property_list">
		<dt>Destinataire :</dt>
		<dd><strong class="business_name">{{$recipient_business_name}}</strong></dd>
		<dt>Intitulé :</dt>
		<dd>{{$subject}}</dd>
		<dt>Date :</dt>
		<dd>{{$date|date_short}}</dd>
		<dt>Total :</dt>
		<dd>{{$total|money_currency}}</dd>
		<dt>Statut en cours :</dt>
		{{if !$cancelled}}
			<dd>{{$status_label}}</dd>
		{{else}}
			<dd>
				<strong class="irreversible">{{if $type === $INVOICE_TYPE}}{{$INVOICE_CANCELLED_LABEL}}{{else}}{{$QUOTATION_CANCELLED_LABEL}}{{/if}}</strong>
				{{if $archived}}
					et <span class="archived">{{if $type === $INVOICE_TYPE}}Archivée{{else}}Archivé{{/if}}</span>
				{{/if}}.
			</dd>
			<dd class="details">(dernier statut avant annulation : {{$status_label}})</dd>
		{{/if}}
	</dl>
</fieldset>
