:root {
	--mHoverBgColor: lightblue;
	--mDarkBgColor: gainsboro;
	--mGreen: green;
	--mRed: firebrick;
}

html.dark {
	--mHoverBgColor: dimgrey;
	--mDarkBgColor: midnightblue;
	--mGreen: greenyellow;
	--mRed: red;
}

#item_list .reference {
	min-width: 0;
	max-width: 7em;
}

li.followed_by_separator form {
	display: inline;
}

li.followed_by_separator::after {
	content: '|';
	padding-right: 0.2em;
}

table.list tbody tr:hover, table.list tr:nth-child(even):hover, table.list tr.cancelled_document:nth-child(even):hover {
	background-color: var(--mHoverBgColor);
}

table.list td {
	padding: 0.2em 0.2em;
}

td.money {
	white-space: nowrap;
}

h3.quotation_total {
	padding: 1em 0em 0.5em 0em;
}

#invoice_module_search p {
	display: inline;
}

#invoice_module_search input[type=search] {
	min-width: 5em;
	width: 14em;
}

button.main_action {
	margin: 0.2em 0.1em 0.2em 0.1em;
	padding: 0.25em 0.3em 0.25em 0.3em;
}

a.plain {
	color: var(--gTextColor);
}

a.plain span:hover {
	text-decoration: underline;
}

.irreversible, .irreversible:before, .irreversible > span {
	color: var(--mRed);
	font-weight: bold;
}

.safe, .safe span {
	font-weight: bold;
}

strong.archived {
	font-weight: bold;
	color: var(--mGreen);
}

.archived::after {
	content: ' 🗃';
}

strong.archived::after {
	font-weight: normal;
}

.organization_name, .business_name, .signing_place, .important_status {
	text-transform: uppercase;
}

tr.cancelled_document, table.list tr.cancelled_document:nth-child(even) {
	background-color: var(--mDarkBgColor);
}

dl.property_list dt, dl.property_list dd {
	float: left;
}

dl.property_list dt {
	clear: both;
}

dl.property_list dd {
	padding: 0 0 0 0.2em;
}

dl.property_list dt.block {
	float: none;
}

dl.property_list dd.details {
	clear: both;
}

nav.tabs aside.menu ul, ul.list_action_buttons {
	border: 0;
	display: flex;
}

nav.tabs aside.menu li, .list_action_buttons li {
	margin: 0;
}

nav.tabs aside.menu li a, .list_action_buttons li a {
	background: none;
	border-radius: 0;
	/*padding: 0.2em 0.4em;*/
	padding: 0.25em 0.3em 0.25em 0.3em;
}

nav.tabs aside.menu li a:hover, .list_action_buttons li a:hover {
	border: 1px solid rgba(var(--gMainColor), 0.5);
}

nav.tabs aside.menu li a.icn-btn, .list_action_buttons li a.icn-btn {
	/*margin: 0.2em 0.2em;*/
	margin: 0.2em 0.1em 0.2em 0.1em;
}

nav.tabs aside form {
	display: inline;
}

#cancel_checkbox_label::before, #archive_checkbox_label::before {
	margin-right: 0;
}
