Options -Indexes -Multiviews +FollowSymlinks

# Explication : FallbackResource n'est dispo que depuis Apache 2.2.16, soit Debian Wheezy (2013)
# Mais bugue avant Apache 2.4.15, il faut donc bien désactiver le DirectoryIndex
# cf. https://bz.apache.org/bugzilla/show_bug.cgi?id=58292
# et https://serverfault.com/questions/559067/apache-hangs-for-five-seconds-with-fallbackresource-when-accessing
DirectoryIndex disabled
DirectoryIndex index.php

# Un peu de sécurité
<IfModule mod_alias.c>
	RedirectMatch 404 _inc\.php
</IfModule>

# This is to avoid caching mismatch when using mod_deflate
# see https://github.com/symfony/symfony-docs/issues/12644
<IfModule mod_deflate.c>
	FileETag None
</IfModule>

# Décommenter les lignes suivantes pour autoriser l'envoi de gros fichier jusqu'à 256 Mo
# (documents et sauvegardes)
#
#<If "%{REQUEST_URI} =~ m!^/admin/(common/files|config/backup)/! && -n %{HTTP_COOKIE}">
#	php_value post_max_size 256M
#	php_value upload_max_filesize 256M
#</If>

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	RewriteRule \.cache - [R=404]

	# Do not try to get from cache if URL is private, or belongs to modules/plugins
	RewriteCond %{REQUEST_URI} admin/|dav/|wopi/|ocs|avatars|p/|api/|documents/|user/|transaction/|m/|\.php$ [OR]
	# Do not try cache if method is not GET or HEAD
	RewriteCond %{REQUEST_METHOD} !GET|HEAD
	# Skip, go to router directly
	RewriteRule ^ - [skip=7]

	# Store MD5 hashes in environment variables
	RewriteCond %{REQUEST_URI} ^(.+)(?:\?|$)
	RewriteRule ^ "-" [E=CACHE_URI:%1]
	RewriteCond expr "md5(%{ENV:CACHE_URI}) =~ /^(.+)$/"
	RewriteRule ^ "-" [E=CACHE_URI_MD5:%1]
	RewriteCond expr "md5(tolower(%{HTTP_HOST})) =~ /^((.{2}).+)$/"
	RewriteRule ^ "-" [E=CACHE_HOST_MD5:%1,E=CACHE_HOST2_MD5:%2]
	RewriteCond /.cache/%{ENV:CACHE_HOST_MD5}/%{ENV:CACHE_URI_MD5} (.+)
	RewriteRule ^ "-" [E=CACHE_PATH:%1]

	# Serve static file for resized images
	RewriteCond %{QUERY_STRING} (?:^|&)(\d+px(?:-[a-z]+)?)
	RewriteCond %{DOCUMENT_ROOT}%{ENV:CACHE_PATH}_%1 -l
	RewriteRule ^ %{ENV:CACHE_PATH}_%1 [END]

	# Serve linked files for other URIs
	RewriteCond %{QUERY_STRING} ="" [OR]
	RewriteCond %{QUERY_STRING} ^h=[a-f0-9]+$
	RewriteCond %{DOCUMENT_ROOT}%{ENV:CACHE_PATH} -l
	RewriteRule ^ %{ENV:CACHE_PATH} [END]

	# Do not try cache for pages if user is logged-in
	RewriteCond %{HTTP_COOKIE} !pko
	# Serve static HTML pages
	RewriteCond %{QUERY_STRING} =""
	RewriteCond %{DOCUMENT_ROOT}%{ENV:CACHE_PATH} -f
	RewriteCond %{DOCUMENT_ROOT}%{ENV:CACHE_PATH} !-l
	RewriteRule ^ %{ENV:CACHE_PATH} [END]

	# Redirect to router
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^.*$ /_route.php [END,QSA]
</IfModule>

# Sinon le reste marchera, sauf les clients OC/NC
<IfModule !mod_rewrite.c>
	# Rediriger les adresses dynamiques vers le routeur
	FallbackResource /_route.php

	# FallbackResource ne fonctionne pas pour les URLs en .php
	# voir https://stackoverflow.com/a/66136226
	ErrorDocument 404 /_route.php

	# Les clients NextCloud/ownCloud ne peuvent fonctionner sans mod_rewrite
	<IfModule mod_alias.c>
		Redirect 501 /remote.php
		Redirect 501 /status.php
	</IfModule>
</IfModule>
