.calendar {
    font-family: 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
    font-size: 0.9em;
    background-color: #EEE;
    color: #333;
    border: 1px solid #DDD;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 0.2em;
    width: 14em;
    box-shadow: 2px 2px 5px #666;
    transition: all .5s;
    opacity: 1;
    display: block;
    position: absolute;
    z-index: 100000;
}

.calendar.hidden {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.calendar a {
    outline: none;
}

.calendar .months {
    background-color: #F6AF3A;
    border: 1px solid #E78F08;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    padding: 0.2em;
    text-align: center;
}

.calendar .prev-month,
.calendar .next-month {
    padding: 0;
}

.calendar .prev-month {
    float: left;
}

.calendar .next-month {
    float: right;
}

.calendar .current-month {
    margin: 0 auto;
}

.calendar .months a {
    color: #FFF;
    text-decoration: none;
    padding: 0 0.4em;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.calendar .months a:hover {
    background-color: #FDF5CE;
    color: #C77405;
}

.calendar table {
    border-collapse: collapse;
    padding: 0;
    font-size: 0.8em;
    width: 100%;
}

.calendar th {
    text-align: center;
}

.calendar td {
    text-align: right;
    padding: 1px;
    width: 14.3%;
}

.calendar td a {
    display: block;
    color: #1C94C4;
    background-color: #F6F6F6;
    border: 1px solid #CCC;
    text-decoration: none;
    padding: 0.2em;
}

.calendar td a:hover {
    color: #C77405;
    background-color: #FDF5CE;
    border: 1px solid #FBCB09;
}

.calendar td.today a {
    background-color: #FFF0A5;
    border: 1px solid #FED22F;
    color: #363636;
}
