@page single {
	size: 85mm 55mm;
	margin: 0;
	padding: 0;
}

html, * { margin: 0; padding: 0; }
body {
	font-family: sans-serif;
	font-size: 10pt;
	height: 55mm;
	overflow: hidden;
}

main {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 10mm;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid red;
}

main.preview {
	background: #fff;
	padding: 2em;
}

main.preview article {
	box-shadow: 2px 2px 10px #000;
}

main.single {
	page: single;
}

.sheet {
	grid-gap: 0;
	padding: .5em 0;
	background: #fff;
}

.sheet table {
	border-collapse: collapse;
}

.sheet td {
	border: 2px dashed #ccc;
}

article {
	background: #fff;
	display: block;
	position: relative;
	width: 85mm;
	height: 55mm;
	overflow: hidden;
}
article > div {
	padding: 2.5mm;
}
article.with-images > div {
	padding-right: calc(1mm + 100px);
}
ul {
	list-style: none;
}

.logo {
	max-width: 100px;
	max-height: 100px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.photo {
	max-width: 100px;
	max-height: 100px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
.bglogo {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	margin: 0 auto;
	z-index: 10;
	opacity: 0.2;
}
.content {
	margin-bottom: .5em;
	z-index: 1000;
}
h1 {
	font-size: 14pt;
	margin-bottom: .2em;
}
.number {
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 50%;
	height: 15mm;
	width: 15mm;
	background: #666;
	color: #fff;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border: 3px solid #fff;
	z-index: 10000;
}
.number.with-photo {
	bottom: 5px;
	top: auto;
}
.number.with-photo.with-logo {
	right: calc(100px / 2);
	top: calc(55mm / 2 - 15mm / 2);
}
.number span:nth-child(1) {
	font-size: 8pt;
	margin-top: -.7em;
}
.number span:nth-child(2) {
	font-size: 14pt;
}
h3 {
	margin-top: .5em;
	font-weight: normal;
	font-size: 11pt;
}
