{{#restrict section="users" level="read"}}
	{{:assign var="id" value=$_GET.id|intval}}
{{else}}
	{{if $logged_user.id}}
		{{:assign var="id" value=$logged_user.id}}
	{{else}}
		{{:error message="Vous n'avez pas accès à cette page."}}
	{{/if}}
{{/restrict}}

{{if !$id}}
	{{:error message="Aucun numéro de membre n'a été fourni"}}
{{/if}}

{{#users id=$_GET.id}}
	{{:assign title="%s - Carte de membre"|args:$_name}}

	{{if $_GET.print == 'pdf'}}
		{{:http type="pdf" download="%s.pdf"|args:$title}}
	{{/if}}
	<!DOCTYPE html>
	<html>
	<head>
		<title>{{$title}}</title>
		<style type="text/css">
		* { margin: 0; padding: 0; }
		body {
			border: 5px solid {{$config.color1}};
			background: #fff;
			border-radius: .5em;
			font-family: sans-serif;
			padding: 10px;
			max-width: 320px;
		}
		.logo {
			max-width: 100px;
			float: right;
		}
		h1 {
			font-size: 18pt;
			margin-bottom: .5em;
		}
		h2 {
			font-size: 14pt;
			font-weight: normal;
			margin-bottom: .5em;
		}
		h3 {
			font-size: 11pt;
			font-weight: normal;
		}
		</style>
	</head>

	<body>

	<main>
		{{if $photo.0}}
			<img src="{{$photo.0.url}}?150px" alt="" class="photo" />
		{{elseif $config.files.logo}}
			<img src="{{$config.files.logo}}?150px" alt="" class="logo" />
		{{/if}}

		<h1>{{$_name}}</h1>

		<h2>N°{{$_number}}</h2>

		{{#subscriptions user=$id active=true}}
		<h3>{{$label}} valide jusqu'au {{$expiry_date|date_short}}</h3>
		{{/subscriptions}}

		<div style="clear:both"></div>

	{{:include file="/receipt/_footer.html"}}
{{else}}
	{{:error message="Le numéro de membre fourni n'existe pas."}}
{{/users}}
