{{#restrict section="users" level="read"}}
	{{:assign var="id" value=$_GET.id|intval}}
{{else}}
	{{* On autorise l'utilisateur à voir sa propre carte de membre *}}
	{{if $logged_user.id}}
		{{:assign var="id" value=$logged_user.id}}
	{{else}}
		{{:error message="Vous n'avez pas accès à cette page."}}
	{{/if}}
{{/restrict}}

{{if !$id}}
	{{:error message="Aucun numéro de membre n'a été fourni"}}
{{/if}}

{{if null === $module.config}}
	{{:assign var="module.config"
		header="**%s**\n%s"|args:$config.org_name:$config.org_address
		logo=2
		fields=null
		photo="photo"
		id_service=null
	}}
{{/if}}

{{#select name FROM config_users_fields WHERE system & (1 << 3) LIMIT 1}}
	{{:assign var="number_field" value=$name}}
{{/select}}

{{#users id=$_GET.id}}
	{{:assign title="%s - Carte de membre"|args:$_name}}

	{{if $_GET.print == 'pdf'}}
		{{:http type="pdf" download="%s.pdf"|args:$title}}
	{{/if}}
	<!DOCTYPE html>
	<html>
	<head>
		<title>{{$title}}</title>
		<link rel="stylesheet" type="text/css" href="carte.css" />
	</head>

	<body>

	{{if $_GET.mode == 'print'}}
		<main class="sheet">
	{{elseif $_GET.mode == 'preview'}}
		<main class="preview">
	{{/if}}

	{{if $module.config.photo}}
		{{:assign var="_photo" from="%s.0"|args:$module.config.photo}}
	{{/if}}

	<article{{if $module.config.logo == 1 || $_photo}} class="with-images"{{/if}}>
		{{if $module.config.logo == 1 && $config.files.logo}}
			<img src="{{$config.files.logo}}?150px" alt="" class="logo" />
		{{elseif $module.config.logo == 2 && $config.files.logo}}
			<img src="{{$config.files.logo}}?500px" alt="" class="bglogo" />
		{{/if}}

		{{if $_photo}}
			<img src="{{$_photo.url}}?150px" alt="" class="photo" />
		{{/if}}

		<div>
			{{if $module.config.fields|has:$number_field}}
				<div class="number"><span>N°</span><span>{{$_number}}</span></div>
			{{/if}}

			{{if $module.config.header}}
			<div class="content">
				{{$module.config.header|markdown|raw}}
			</div>
			{{/if}}

			<h1>{{$_name}}</h1>

			{{if $module.config.fields}}
			<ul class="fields">
				{{#foreach from=$module.config.fields item="key"}}
					{{:assign var="value" from=$key}}
					{{if $value && $key != $number_field}}
						<li>{{$value}}</li>
					{{/if}}
				{{/foreach}}
			</ul>
			{{/if}}

			{{if $module.config.id_service}}
				{{#subscriptions user=$id id_service=$module.config.id_service active=true}}
					<h3>Jusqu'au <strong>{{$expiry_date|date_short}}</strong></h3>
				{{else}}
					<h3>Expiré</h3>
				{{/subscriptions}}
			{{/if}}

		</div>
	</article>

	{{if $_GET.mode != 'embed'}}
		</main>
	{{/if}}


	{{:include file="/receipt/_footer.html"}}
{{else}}
	{{:error message="Le numéro de membre fourni n'existe pas."}}
{{/users}}
