{{#restrict section="users" level="read" block=true}}{{/restrict}}
{{:assign count=$_POST.users|count}}
{{:assign title="%d cartes de membre"|args:$count}}
{{if $_POST.pdf}}
	{{:http type="pdf" inline="%s.pdf"|args:$title}}
{{/if}}
<!DOCTYPE html>
<html>
<head>
	<title>{{$title}}</title>
	<link rel="stylesheet" type="text/css" href="{{$module.url}}carte.css" />
</head>

<body>

<main class="sheet">

	<table>
		{{:assign i=0}}
		{{#users id=$_POST.users|keys}}
			{{if "%d %% 2"|math:$i == 0}}
				<tr>
			{{/if}}
					<td>{{:include file="./_carte.html"}}</td>
			{{if "%d %% 2"|math:$i != 0}}
				</tr>
			{{/if}}
			{{:assign i="%d+1"|math:$i}}
		{{/users}}
	</table>

</main>

{{if $_POST.print}}
<script type="text/javascript">
window.onafterprint = window.close;
window.print();
</script>
{{/if}}

</body>
</html>