{{#restrict block=true section="accounting" level="write"}}
{{/restrict}}

{{if !$_GET.id}}
	{{:error message="Aucun numéro de reçu fourni."}}
{{/if}}

{{#load id=$_GET.id}}
	{{:assign .="recu"}}
{{else}}
	{{:error message="Le numéro de reçu fourni n'a pas été trouvé"}}
{{/load}}

{{if $_POST.annuler}}
	{{:save
		validate_schema="./recu.schema.json"
		id=$recu.id
		annule=true
	}}
	{{:http redirect="voir.html?id=%d"|args:$new_id}}
{{/if}}

{{:admin_header title="Annuler un reçu fiscal" current="acc"}}

<form method="post" action="">
	<fieldset>
		<legend>Annuler un reçu</legend>
		<h3 class="warning">Annuler le reçu n°{{"%06d"|args:$recu.id}}&nbsp;?</h3>
	</fieldset>

	<p class="help">
		Note&nbsp;: un reçu annulé ne peut pas être restauré, il faudra créer un nouveau reçu.
	</p>

	<p class="submit">
		{{:button type="submit" name="annuler" shape="delete" label="Annuler ce reçu" class="main"}}
	</p>
</form>

{{:admin_footer}}